{% extends "partial_base.html" %}


{% block head %}
{{ checkpoint_form.media.css }}
{% endblock head %}


{% block body %}
<form action="" method="post" id="id_checkpointform">
    <div class="modal-header border-0">
        <h3 class="modal-title modal-heading" id="exampleModalLabel">Create Checkpoint <i
                class="fas fa-poll-h fa-sm ch4"></i></h3>
        <button type="button" class="btn-sm btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body" id="partial">
        <div class="alert alert-danger alert-dismissible fade show" id="nonfield_errors" role="alert"
            style="display:none">
            <strong>Error</strong> <span></span>
            <button type="button" class="btn-sm btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

        <!--============================== FORM FIELDS START =============================-->
        <div class="row mb-3 gy-3">
            <!--CHeckpoint Name Start-->
            <label for="{{ checkpoint_form.assetname.id_for_label }}" class="required col-md-1">Name:</label>
            <div class="col-md-11">
                {{ checkpoint_form.assetname }}
                {{ checkpoint_form.assetname.errors }}
            </div>
            <!--CHeckpoint Name End-->
            
            <!--CHeckpoint Code Start-->
            <label for="{{ checkpoint_form.assetcode.id_for_label }}" class="required col-md-1">Code:</label>
            <div class="col-md-11">
                {{ checkpoint_form.assetcode }}
                {{ checkpoint_form.assetcode.errors }}
            </div>
            <!--CHeckpoint Code End-->
            
            <!--Running Status Start-->
            <label for="{{ checkpoint_form.runningstatus.id_for_label }}" class="required col-md-1">Status:</label>
            <div class="col-md-5">
                {{ checkpoint_form.runningstatus }}
                {{ checkpoint_form.runningstatus.errors }}
            </div>
            <!--Running Status End-->
            
            <!--Type Start-->
            <label for="{{ checkpoint_form.type.id_for_label }}" class="required col-md-1">Type:</label>
            <div class="col-md-5">
                {{ checkpoint_form.type }}
                {{ checkpoint_form.type.errors }}
            </div>
            <!--Type End-->
            
            <!--Belongs To Start-->
            <label for="{{ checkpoint_form.parent.id_for_label }}" class="required col-md-1">Belongs To:</label>
            <div class="col-md-5">
                {{ checkpoint_form.parent }}
                {{ checkpoint_form.parent.errors }}
            </div>
            <!--Belongs To End-->
            
            <!--GPS Location Start-->
            <label for="{{ checkpoint_form.gpslocation.id_for_label }}" class="required col-md-1">GPS:</label>
            <div class="col-md-5">
                {{ checkpoint_form.gpslocation }}
                {{ checkpoint_form.gpslocation.errors }}
            </div>
            <!--GPS Location End-->
            
            <!--Asset Identifier Start-->

            {{ checkpoint_form.identifier }}
            {{ checkpoint_form.identifier.errors }}

            <!--Asset Identifier End-->


            <!-- Critical Start -->
            <div class="booleans col-md-3 d-flex justify-content-sm-between mt-5
            form-check form-switch form-check-custom form-check-solid">
                <label for="{{ checkpoint_form.iscritical.id_for_label }}"
                    class="form-check-label bool col-form-label me-5 text-sm-right">
                    {{ checkpoint_form.iscritical.label }}: &nbsp; {{ checkpoint_form.iscritical }}
                </label>
            </div>
            <!-- Critical End -->

            <!-- Enable Start -->
            <div class="booleans col-md-2 d-flex justify-content-sm-between mt-5
            form-check form-switch form-check-custom form-check-solid">
                <label for="{{ checkpoint_form.enable.id_for_label }}"
                    class="form-check-label bool col-form-label me-5 text-sm-right">
                    {{ checkpoint_form.enable.label }}: &nbsp; {{ checkpoint_form.enable }}
                </label>
            </div>
            <!-- Enable End -->
            
            
        </div>
    </div>


    <div class="modal-footer border-0 pt-0">
        <button type="button" class="btn btn-sm btn-secondary btn-hover-scale"
         data-bs-dismiss="modal">
            Close <i class="fas fa-times"></i>
        </button>
        {% if checkpoint_form.instance.id %}
            <button type="submit" id="submit" class="btn btn-sm btn-primary btn-hover-scale">
                Update&nbsp;<i class="fas fa-cloud-upload-alt"></i>
            </button>
            
            <button type="button" onclick="deleteCheckpoint(this)"
             data-id="{{ checkpoint_form.instance.id }}" id="deleteCp"
                class="btn btn-sm btn-danger btn-hover-scale">
                Delete&nbsp;<i class="fas fa-trash-alt"></i>
            </button>
        {% else %}
            <button type="submit" class="btn btn-sm btn-primary btn-hover-scale">
                Add&nbsp;<i class="fas fa-cloud-upload-alt"></i>
            </button>
        {% endif %}
    </div>
</form>
{% endblock body %}


{% block js %}
{{ checkpoint_form.media.js }}
<script>

    //$('.optionGrp').hide()
    $('form').find("label").addClass("col-md-1")

    $(document).ready(() => {
        //remove class to label which was added from above
        $('.booleans label').removeClass('col-md-1')
        $('.django-select2').djangoSelect2({
            dropdownParent: $('#modal-checkpoint')
        })
        $(".modal").removeAttr("tabindex");
    })
</script>
{% endblock js %}