{% extends "partial_base.html" %}

{% block head %}
{{ masterqset_form.media.css }}
{% endblock head %}

{% block body %}

<div class="modal-header border-0">
    <h3 class="modal-title modal-heading" id="exampleModalLabel">Create {{ label }} <i
            class="fas fa-poll-h fa-sm ch4"></i></h3>
    <button type="button" class="btn-sm btn-close modal-close-control" aria-label="Close"></button>
</div>
<div class="modal-body" id="partial">
    <form action="" method="post" id="id_qsetform">
    <input type="hidden" name="pk" id="pk">
    <input type="hidden" name="{{ masterqset_form.ctzoffset.name }}" id = "{{ masterqset_form.ctzoffset.auto_id }}" value="-1">
        <div class="alert alert-danger alert-dismissible fade show" id="nonfield_errors" role="alert"
            style="display:none">
            <strong>Error</strong> <span></span>
            <button type="button" class="btn-sm btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <!--============================== QuestionSet FORM FIELDS START =============================-->
        <div class="row mb-3 gy-3">
            <!--Qusetion Set Name Start-->
            <label for="{{ masterqset_form.qsetname.id_for_label }}" class="required col-md-1 col-sm-1">Name:</label>
            <div class="col-md-11 col-sm-11">
                {{ masterqset_form.qsetname }}
                {{ masterqset_form.qsetname.errors }}
            </div>
            <!--Qusetion Set Name End-->

            <!--Checkpoint Start-->
            <label for="{{ masterqset_form.assetincludes.id_for_label }}"
                class="required col-md-2 col-sm-2">{% if label == 'Checklist' %}Checkpoints{% else %} Asset/Smartplace{% endif %}:</label>
            <div class="col-md-10 col-sm-10">
                {{ masterqset_form.assetincludes }}
                {{ masterqset_form.assetincludes.errors }}
            </div>
            <!--Checkpoint End-->

            <!-- Parent Start -->
            <label for="{{ masterqset_form.parent.id_for_label }}" class="required col-md-1 col-sm-1">Parent:</label>
            <div class="col-md-7 col-sm-7">
                {{ masterqset_form.parent }}
                {{ masterqset_form.parent.errors }}
            </div>
            <!-- Parent End -->

            <!-- Enable Start -->
            <div class="booleans col-md-4 col-sm-4 d-flex justify-content-sm-between mt-5
            form-check form-switch form-check-custom form-check-solid">
                <label for="{{ masterqset_form.enable.id_for_label }}"
                    class="form-check-label bool col-form-label me-5 text-sm-right">
                    {{ masterqset_form.enable.label }}: &nbsp; {{ masterqset_form.enable }}
                </label>
            </div>
            <!-- Enable End -->

            <!--QuestionSet Type Start-->
            {{ masterqset_form.type }}
            <!--QuestionSet Type End-->
        </div>
    </form>

    <!--============================== QuestionSet FORM FIELDS END ============================-->

    <!--============================== QuestionSet FORM FIELDS END ============================-->
    {# {% if masterqset_form.instance.id %} #}
    <div class="accordion" id="assign_questions">
        <div class="accordion-item">
            <!--begin::Header-->
            <h4 class="accordion-header modal-heading" id="assign_questions_heading">
                <button class="accordion-button bg-secondary moda-heading fs-5 text-grey bg-opacity-50" type="button"
                    data-bs-toggle="collapse" data-bs-target="#assign_questions_body" aria-expanded="true"
                    aria-controls="assign_questions_body">
                    Assign Questions To The Question Set
                </button>
            </h4>
            <!--end::Header-->

            <!--begin::Body-->
            <form action="" method="post" id="qsetbng_form">
                <div id="assign_questions_body" aria-labelledby="assign_questions_heading"
                    class=" ps-10 {% if masterqset_form.instance.id %} {% else %} collapse {% endif %}"
                    data-bs-parent="#assign_questions">
                    <br>
                    <div class="row fv-row mb-3 gy-2">

                        <!--Qusetion Set Belonging Question Start-->
                        <label for="{{ qsetbng.question.id_for_label }}"
                            class="required col-md-2 col-sm-2">Question:</label>
                        <div class="col-md-10 col-sm-10">
                            {{ qsetbng.question }}
                            {{ qsetbng.question.errors }}
                        </div>
                        <!--Qusetion Set Belonging Question End-->

                        <!--Qusetion Set Belonging Question Type Start-->
                        <label for="{{ qsetbng.answertype.id_for_label }}" class="required col-md-1 col-sm-1">Question
                            Type:</label>
                        <div class="col-md-8 col-sm-8">
                            {{ qsetbng.answertype }}
                            {{ qsetbng.answertype.errors }}
                        </div>
                        <!--Qusetion Set Belonging Question Type End-->


                        <!--Qusetion Set Belonging Is Mandatory Start-->
                        <div class="booleans col-md-2 col-sm-2 d-flex justify-content-sm-between mt-5
                            form-check form-switch form-check-custom form-check-solid">
                            <label for="{{ qsetbng.ismandatory.id_for_label }}"
                                class="form-check-label bool col-form-label me-5 text-sm-right">
                                {{ qsetbng.ismandatory.label }}: &nbsp; {{ qsetbng.ismandatory }}
                            </label>
                        </div>
                        <!--Qusetion Set Belonging Is Mandatory End-->
                    </div>
                    <div class="row mb-3 fv-row gy3 optionGrp">
                        {{ qsetbng.options.label_tag() }}
                        <div class="col-md-5 col-sm-8">
                            {{ qsetbng.options }}
                            {{ qsetbng.options.errors }}
                        </div>
                        {{ qsetbng.alerton.label_tag() }}
                        <div class="col-md-5 col-sm-8">
                            {{ qsetbng.alerton }}
                            {{ qsetbng.alerton.errors }}
                        </div>
                    </div>
                    <div class="row mb-3 gy-3  fv-row numeric">
                        {{ qsetbng.min.label_tag() }}
                        <div class="col-md-2 col-sm-2">
                            {{ qsetbng.min }}
                            {{ qsetbng.min.errors }}
                        </div>
                        {{ qsetbng.max.label_tag() }}
                        <div class="col-md-2 col-sm-2">
                            {{ qsetbng.max }}
                            {{ qsetbng.max.errors }}
                        </div>
                        {{ qsetbng.alertbelow.label_tag() }}
                        <div class="col-md-2 col-sm-2">
                            {{ qsetbng.alertbelow }}
                            {{ qsetbng.alertbelow.errors }}
                        </div>
                        {{ qsetbng.alertabove.label_tag() }}
                        <div class="col-md-2 col-sm-2">
                            {{ qsetbng.alertabove }}
                            {{ qsetbng.alertabove.errors }}
                        </div>
                    </div>
                    <div class="d-flex justify-content-end">
                        <button type="submit" id="addQuestion" form="qsetbng_form"
                            class="btn btn-sm btn-secondary btn-hover-scale">
                            Add&nbsp;<i class="fa fa-plus" aria-hidden="true"></i>
                        </button>

                        <button type="button" id="resetQsetB" style="display:none;"
                            class="btn ms-2 btn-sm btn-primary btn-hover-scale">
                            Reset&nbsp;<i class="fas fa-times"></i>
                        </button>
                        <button type="button" id="deleteQuestion" style="display:none;" form="qsetbng_form"
                            class="ms-2 btn btn-sm btn-danger btn-hover-scale">
                            Delete&nbsp;<i class="fa fa-plus" aria-hidden="true"></i>
                        </button>
                    </div>
                    <hr>
                    <h4 class="modal-heading">List of Assigned Questions</h4>
                    <div class="table-responsive">
                        <table id="assigned_ques_table" class="display compact cell-border" style="width:100%">
                            <thead>
                                <th>#</th>
                                <th>Question</th>
                                <th>QuestionId</th>
                                <th>Type</th>
                                <th>Min</th>
                                <th>Max</th>
                                <th>Option</th>
                                <th>Alert On</th>
                                <th>Mandatory</th>
                            </thead>
                            <tbody>
                                {% if questions is defined %}
                                {% for question in questions %}
                                <tr>
                                    <td>{{ question['seqno'] }}</td>
                                    <td>{{ question["question__quesname"] }}</td>
                                    <td>{{ question["question__id"] }}</td>
                                    <td>{{ question["answertype"] }}</td>
                                    <td>{{ question["min"] }}</td>
                                    <td>{{ question["max"] }}</td>
                                    <td>{{ question["options"] }}</td>
                                    <td>{{ question["alerton"] | string }} </td>
                                    <td>{{ question["ismandatory"] }}</td>
                                </tr>
                                {% endfor %}
                                {% else %}
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <!--end::Body-->
            </form>
        </div>
    </div>
    {# {% endif %} #}

    <!--============================== QuestionSet FORM FIELDS END ============================-->
</div>

<div class="modal-footer border-0 pt-0">
    <button type="button" class="btn btn-sm btn-secondary modal-close-control btn-hover-scale">
        Close <i class="fas fa-times"></i>
    </button>
    {% if masterqset_form.instance.id %}
    <button type="submit" id="submit" form="id_qsetform" class="btn btn-sm btn-primary btn-hover-scale">
        Update&nbsp;<i class="fas fa-cloud-upload-alt"></i>
    </button>

    <button type="button" onclick="deleteQset(this)" data-id="{{ masterqset_form.instance.id }}" id="deleteAttd"
        class="btn btn-sm btn-danger btn-hover-scale">
        Delete&nbsp;<i class="fas fa-trash-alt"></i>
    </button>
    {% else %}
    <button type="submit" form="id_qsetform" class="btn btn-sm btn-primary btn-hover-scale">
        Save&nbsp;<i class="fas fa-cloud-upload-alt"></i>
    </button>
    {% endif %}
</div>
{% endblock body %}

{% block js %}
{{ masterqset_form.media.js }}
<script src="{{ static('assets/js/formValidations.js') }}"></script>
<script>
    //$('.optionGrp').hide()
    $('form').find("label").addClass("col-md-1 col-sm-1")
    var optionTag = null
    var table = null
    var seqno = 0

    function populateQsetForm(questionid){
        const params = {url:`{{ url('activity:qset_qsetblng') }}?questionid=${questionid}`, modal:false}
        fire_ajax_form_post(params, {questionid:questionid})
        .done((data, status, xhr) => {
            if(data.status == 'success'){
                const qsetbng = data.qsetbng
                $('#qsetbng_form').find('input[name="min"]').val(qsetbng.min)
                $('#qsetbng_form').find('input[name="max"]').val(qsetbng.max)
                $('#qsetbng_form').find('input[name="options"]').val(qsetbng.options)
                $('#qsetbng_form').find('input[name="alerton"]').val(qsetbng.alerton)
                $('#qsetbng_form').find('input[name="alertbelow"]').val(qsetbng.alertbelow)
                $('#qsetbng_form').find('input[name="alertabove"]').val(qsetbng.alertabove)
                $('#qsetbng_form').find('input[name="ismandatory"]').val(qsetbng.ismandatory)
                $('#qsetbng_form').find('input[name="seqno"]').val(qsetbng.seqno)
                $('#addQuestion').hide()
                $('#resetQsetB').show()
                $('#deleteQuestion').show()
            }
        })
        
    }

    $(document).ready(() => {
        //set ctzoffset
        $("#id_ctzoffset").val(-new Date().getTimezoneOffset())

        //DOCUMENT.READY START
        // Initialize Tagify components
        var input1 = document.querySelector("#id_options");
        optionTag = new Tagify(input1);

        //remove class to label which was added from above
        $('.booleans label').removeClass('col-md-1 col-sm-1')

        //specifying dropdown-parent for select2 to work
        $('.django-select2').select2({
            dropdownParent: $('#modal-qset')
        })

        $(".form-select[multiple]").djangoSelect2({
            closeOnSelect: false,
            dropdownParent: $('#modal-qset')
        })

        $(".modal").removeAttr("tabindex");

        //Qset Belonging ("List of Assigned Questions")
        // Datatable configuration 
        table = $('#assigned_ques_table').DataTable({
            responsive: true,
            rowReorder: true,
            fixedHeader: true,
            paging: false,
            lengthChange: false,
            order: [
                [0, "asc"]
            ],
            scrollCollapse: true,
            sDom: "",
            ordering: true,
            columnDefs: [{
                    "width": "5%",
                    "targets": 0
                },
                {
                    "width": "5%",
                    "targets": 8
                },
                {
                    orderable: false,
                    targets: [1, 2, 3, 4, 5, 6, 7, 8]
                },
                {
                    "targets": [2],
                    "visible": false,
                    "searchable": false
                },

            ],

        })

        //on selecting the question from question form show/hide
        //the fields group of class "optionGroup" and "numeric"
        $("#id_question.form-select").on("change", function () {
            var _selectedText = getSelectedValue("#id_question");
            var selected = _selectedText.split(" | ")[1]
            if (typeof selected !== 'undefined') {
                assignQuesType(selected)
                showHideFields(selected)
            }
        })

        //on adding/removing options in 
        //question-form trigger following events
        optionTag
            .on('add', function (e) {
                populateAlertOn(e.detail.data.value, "#id_alerton")
            })
            .on('remove', function (e) {
                console.log(e.detail.data.value)
                removeElmtFromAlertOn(e.detail.data.value, '#id_alerton')
            })

        //on submitting the questionset-blng form populate the table
        // "List of Assigned Questions"
        $('#qsetbng_form').on('submit', function (e) {
            e.preventDefault()
            if ($("#id_answertype").val() === 'NUMERIC') {
                if (qsetbng_form_validator) {
                    qsetbng_form_validator.validate().then(function (status) {
                        if (status === 'Valid') {
                            processValidForm()
                            adjustSlnoInTable()
                            console.log("processing valid form [END]")
                        }
                    })
                }
            } else {
                processValidForm()
                adjustSlnoInTable()
                console.log("processing valid form [END]")
            }
        });

        //on click on table row populate the above question form for update
        $("#assigned_ques_table tbody").on("click", 'tr', function () {
            show_alert_before_update("Question").then((result) => {
                if (result.isConfirmed) {
                    addRemoveClass(this)
                    console.log(table.row('.selected').data())
                    update_qsetblng_form(table.row('.selected').data(), optionTag, fortable =
                        false)
                    $(this).addClass('toupdate');
                    $("#deleteQuestion").show()
                }else if(result.isDenied){
                    //delete checkpoint request
                    addRemoveClass(this)
                    const isDeleted = false
                    console.log("delete initiated")
                    if ('{{ masterqset_form.instance.id }}' !== ('None' || "")) {
                        data = table.row('.selected').data()
                        console.log(data)
                        isDeleted = deleteQuestionRequest(data[1], data[3], "{{ masterqset_form.instance.id }}")
                    }if(isDeleted){
                        table.row('.selected').remove().draw();
                        adjustSlnoInTable()
                    }
                }
            })
        })

        //on click delete-btn of questionform delete the row from the datatable
        $("#deleteQuestion").on('click', function () {
            if ('{{ masterqset_form.instance.id }}' !== ('None' || "")) {
                console.log('{{ masterqset_form.instance.id }}')
                data = table.row('.toupdate').data()
                deleteQuestionRequest(data[1], data[3], "{{ masterqset_form.instance.id }}")
            }
            table.row('.toupdate').remove().draw();
            adjustSlnoInTable()

            $("#deleteQuestion").hide()
            $("#qsetbng_form").trigger("reset")
            resetForm(optionTag)

        })

        $(".modal-close-control").on("click", function () {
            if ('{{ masterqset_form.instance.id }}' !== ('None' || "")) {
                if (checkQsetWoQuestions(table)) {
                    questionsWoQuestionSetAlert()
                } else {
                    warnFormCLoseAlert()
                        .then((result) => {
                            if (result.isConfirmed) {
                                $(modal_id).modal('hide')
                            }
                        })
                }
            } else {
                if("{{ masterqset_form.is_bound }}" == "True" || table.rows().count() > 0 ){
                    warnFormCLoseAlert()
                    .then((result) => {
                        if (result.isConfirmed) {
                            $(modal_id).modal('hide')
                        }
                    })
                }else{$(modal_id).modal('hide')}
                
            }
        })

        $("#resetQsetB").click(() => {
            resetForm(optionTag);
            $(this).hide()
        })

        //submit form
        $(formid).on("submit", function (e) {
            if (checkQsetWoQuestions(table)) {
                e.preventDefault();
                questionsWoQuestionSetAlert()
            } else {
                var form = $(this);
                e.preventDefault()
                const params = {
                    url: urlname,
                    modal: true
                } //checklist view
                const formtype = $(modalcontent_id).attr('data-form') //form-type (create/update)
                const id = '{{ masterqset_form.instance.id }}' //form instance id
                var payLoad = {
                    formData: form.serialize(),
                    asssigned_questions: JSON.stringify(table.rows().data().toArray()),
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                } //payload for post request
                if (id != 'None') {
                    var newPayLoad = {
                        ...payLoad,
                        'pk': id
                    }
                    payLoad = newPayLoad
                }
                fire_ajax_form_post(params, payLoad)
                .done((data, status, xhr) => { //function to submit post request
                    console.log("data ", data)
                    $(modal_id).modal("hide");
                    if(id!=='None'){
                        Qsettable.row('.selected').data(data.row).draw()
                    }else{
                        Qsettable.row.add(data.row).draw()
                    }
                    show_successful_save_alert(update= id != 'None' ? true : false)
                })
            }
        })

        //adjustSlno(seqno, table, reset = false)

    }) //DOCUMENT.READY END
</script>
{% endblock js %}