{% extends "partial_base.html" %}

{% block head %}
{{ attd_form.media.css }}
{% endblock head %}

{% block body %}
<form action="" method="post" id="attd_form">
<input type="hidden" name="{{ attd_form.ctzoffset.name }}" id = "{{ attd_form.ctzoffset.auto_id }}" value="-1">
    <div class="modal-header border-0">
		<h3 class="modal-title modal-heading" id="exampleModalLabel">Create Attendance <i class="fas fa-poll-h fa-sm ch4"></i></h3>
		<button type="button" class="btn-sm btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
	</div>

    <div class="modal-body" id="partial">
		<div class="alert alert-danger alert-dismissible fade show" id="nonfield_errors"role="alert" style="display:none">
			<strong>Error</strong> <span></span>
			<button type="button" class="btn-sm btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>

		{% for field in attd_form %}
            {% if field.widget_type != 'checkbox' %}
                <div class="mb-3 row">
                    <!--LABEL FIELD-->
                    {{ field.label_tag() }}
                    <!--INPUT GROUP -->
                    {{ field }}
                    <!-- ERROR FIELD -->
                    {{ field.errors }}
                </div>
            {% else %}
            <div class="booleans col-md-6 d-flex justify-content-sm-between mt-5">
                <label for="{{ attd_form.facerecognition.id_for_label }}"
                    class="form-check-label bool col-form-label me-5 text-sm-right">
                    {{ attd_form.facerecognition.label }}: &nbsp; {{ attd_form.facerecognition }}
                </label>
            </div>
            {% endif %}
		{% endfor %}
	</div>

    <div class="modal-footer border-0 pt-0">
		<button type="button" class="btn btn-sm btn-secondary closeit" data-bs-dismiss="modal">Close <i class="fas fa-times"></i></button>
		{% if attd_form.instance.id %}
		<button type="submit" id="submit" class="btn btn-sm btn-primary">Update&nbsp;<i class="fas fa-cloud-upload-alt"></i></button>
		<button type="button" onclick="deleteAttendance(this)" data-id="{{ attd_form.instance.id }}" id="deleteAttd" class="btn btn-sm btn-danger">Delete&nbsp;<i class="fas fa-trash-alt"></i></button>
		{% else %}
		<button type="submit" class="btn btn-sm btn-primary">Add&nbsp;<i class="fas fa-cloud-upload-alt"></i></button>
		{% endif %}
	</div>
</form>
{% endblock body %}

{% block js %}
{{ attd_form.media.js }}
<script>
$(document).ready(() => {
    //set ctzoffset
  	$("#id_ctzoffset").val(-new Date().getTimezoneOffset())
    
    $('.django-select2').djangoSelect2({
    dropdownParent: $('#modal-attd')
    })
    // add classes to checkboxes.
    $(".booleans").addClass("form-check form-switch form-check-custom form-check-solid") 

    //datatime widget
    $("#attd_form").find("#id_punchintime, #id_punchouttime").flatpickr({
        enableTime: true,
        dateFormat: "Y-m-d H:i",
    });

    //date widget
    $("#attd_form").find("#id_datefor").flatpickr({
        dateFormat: 'd M Y'
    });
    $(".modal").removeAttr("tabindex");
})
</script>
{% endblock js %}

