{% extends "base_list.html" %}

<!---- BEGIN CARD TITLE ------>
{% block card_title %}
Tour List
{% endblock card_title %}
<!----- END CARD TITLE -------->

{% block extra_css %}
{# <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css"> #}
{% endblock extra_css %}

<!------------------------------------ BEGIN PAGE BREADCUMBS ------------------------------------>
{% block pagebreadcumb %}
{{ super() }}
<li class="breadcrumb-item pe-3"><a href="javascript:void(0)" class="pe-3">Tour List</a></li>
{% endblock pagebreadcumb %}
<!------------------------------------- END PAGE BREADCUMBS ------------------------------------->

<!-------------------------------------------- BEGIN Schedhuled Tour TABLE ------------------------------------------->
{% block table %}
<table id="internaltour_table" class="display compact cell-border" style="width:100%">
</table>

{% endblock table %}

{% block extra_scripts %}
{# <script src="https://cdn.datatables.net/rowreorder/1.2.8/js/dataTables.rowReorder.min.js" type="text/javascript"></script> #}
<script>
    var table = null;
    const formFilter = '#internaltour_filter'
    const table_id = '#internaltour_table'
    const urlname = "{{ url('schedhuler:jobneedtours') }}"

    //if you want to modifiy here, then modify in custom.js initDateRange also
    var from_pd = moment().subtract(7, 'days').format('YYYY-MM-DD');
    var to_pd = moment().format('YYYY-MM-DD')
    $(document).ready(function (){

        //datatable initialization
        table = $(table_id).DataTable({
			//orderCellsTop: true,
            ajax:{
                url:`${urlname}?action=list`,
                data:function(d){
                    d.pd1 = from_pd
                    d.pd2 = to_pd
                    d.identifier = 'INTERNALTOUR'
                }
            },
            language: { search: "", searchPlaceholder:"Serch keywords..." },
			deferRender: true,
			responsive : true,  
            dom:`<'row' <'col-sm-6 d-flex justify-content-start'<'customfields'>f> <'col-sm-6 d-flex justify-content-end'B> >rt<'row'
			 <'col-sm-6'l> <'col-sm-6'p><'col-sm-12 d-flex justify-content-center'i>>`,
            //ordering:false,
            columns:[
                {data: 'id', visible:false, searchable:false},
                {data: 'plandatetime', title: "Plan Datetime", render:function(data, type, row, meta){
                    //return `<a href="${urlname}?id=${row['id']}">${data}</a>`
                    return `<a href="${urlname}?id=${row['id']}">${convert_to_local(type, data, row)}</a>`
                }},
                {data: 'jobdesc', title: 'Description', render:function(data, type, row, meta){
                    return `<a href="${urlname}?id=${row['id']}">${data}</a>`
                }},
                {data: 'jobstatus', title: 'Status'},
                {title: 'People/Group', defaultContent:null, data:'assignedto'},
                {data: 'performedby__peoplename', title: 'Performed By'},
                {data: 'gracetime', title: "Grace Time"},
                {data: 'expirydatetime', title: "Expiry Datetime", render:function(data, type, row, meta){
                    return `<a href="${urlname}?id=${row['id']}">${convert_to_local(type, data, row)}</a>`
                }}

            ],
            order:[[1, 'desc']],
            scrollCollapse: true,
            buttons:[
				{
					text:`Apply filters &nbsp;<i class='fas fa-search ch4'></i></a>`,
					className: "btn btn-sm btn-light btn-hover-rise",
					//action for add_new_button 
					action: function(e, dt, node, config){
                        //This will send the page to the location specified
        				submitFormFilter()
					}
				}
			]
        
        })

        //add input field to the datatables dom
        initDateRangeHtml()
        initDateRange("#id_daterange").on('apply.daterangepicker', function(e, picker){
            from_pd = picker.startDate.format('YYYY-MM-DD');
            to_pd = picker.endDate.format('YYYY-MM-DD');
            table.ajax.reload()
        })




    })
</script>
{% endblock extra_scripts %}
