{% extends "base_list.html" %}


<!---- BEGIN CARD TITLE ------>
{% block card_title %}
Schedhuled Tasks
{% endblock card_title %}
<!----- END CARD TITLE -------->


<!------------------------------------ BEGIN PAGE BREADCUMBS ------------------------------------>
{% block pagebreadcumb %}
{{ super() }}
<li class="breadcrumb-item pe-3"><a href="javascript:void(0)" class="pe-3">Scheduled Tasks</a></li>
{% endblock pagebreadcumb %}
<!------------------------------------- END PAGE BREADCUMBS ------------------------------------->


<!-------------------------------------------- BEGIN Schedhuled External Tour TABLE ------------------------------------------->
{% block table %}
<table id="schd_task_table" class="display cell-border compact hover" style="width:100%">
    <thead class="fw-bold fs-6">
        <th>Name</th>
        <th>Asset</th>
        <th>Question Set</th>
        <th>People/Group</th>
        <th>From</th>
        <th>To</th>
        <th>Duration</th>
        <th>Grace Time</th>
        <th>Exp. Time</th>
    </thead>
    <!---------- BEGIN TABLE FILTER FIELDS --------->
	<thead id="filter_row">
    <form action="" id='schd_task_filter' method='get'>
    {% for field in schd_task_filter %}
        <th>
            <input type="text" 
            id="{{ field.auto_id }}" 
            name="{{ field.name }}" 
            placeholder ="Search {{ field.label }}">
		</th>
    {% endfor %}
    </form>
    </thead>
    <!---------- END TABLE FILTER FIELDS --------->
    <tbody>
        {% for tour in schd_task_list %}
        <tr>
            <td><a href="{{ url('schedhuler:update_task', args=[tour['id']]) }}">{{ tour['jobname'] }}</a></td>
            <td>{{ tour['asset__assetname'] }}</td>
            <td>{{ tour['qset__qset_name'] }} </td>
            <td>{{ tour['people__peoplename'] or tour['pgroup__groupname'] }} </td>
            <td>{{ tour['fromdate'] |to_local }}</td>
            <td>{{ tour['uptodate'] |to_local }}</td>
            <td>{{ tour['planduration'] }}</td>
            <td>{{ tour['gracetime'] }}</td>
            <td>{{ tour['expirytime'] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% if schd_task_list and schd_task_list.has_other_pages %}
<!-- BEGIN PAGINATOIN -->
{{ paginator(schd_task_list) }}
<!-- END PAGINATOIN ---->
{% endif %}
{% endblock table %}
<!-------------------------------------------- END Schedhuled External Tour TABLE ------------------------------------------->


<!--------- BEGIN EXTRA SCRIPTS ----------------------------->
{% block extra_scripts %}
<script>
	var table             = null;
	const formFilter      = "#schd_task_filter"
	const table_id        = "#schd_task_table"

    $(document).ready(function (){
        $("input").keypress(function(event) {
			if (event.which == 13) {
				event.preventDefault();
				$(formFilter).submit();
			}
		});
        //datatable initialization
        table = $(table_id).DataTable({
			//orderCellsTop: true,
			responsive: true,
			fixedHeader: true,
			paging: false,
			lengthChange: false,
			language: {
				searchPlaceholder: "Search on page"
			},
            dom:"<'row'" +
                "<'col-sm-6 d-flex align-items-center justify-conten-start'f>" +
                "<'col-sm-6 d-flex align-items-center justify-content-end'B>" +
                ">" +

                "<'table-responsive'tr>",
            ordering:false,
            scrollCollapse: true,
            buttons:[
				{
					text:`Add New &nbsp;<i class='fas fa-plus ch4'></i></a>`,
					className:"btn btn-sm btn-light-primary btn-hover-rise",
					//action for add_new_button 
					action: function(e, dt, node, config){
                        //This will send the page to the location specified
        				window.location.href = "{{ url('schedhuler:create_task') }}";
					}
				}
			]
        
        })

        //BEGIN STYLING DATATABLE
		$("th > input").addClass('form-control')
		$("th > input").css('height', '35px')
		var styles = {
			"border-bottom":"none",
			"background-color":"#f1f4f7"
		}

        $(`${table_id} thead tr:eq(1)`).css(styles)
		//END STYLING DATATABLE


    })

</script>
{% endblock extra_scripts %}