{% extends "base_list.html" %}


<!---- BEGIN CARD TITLE ------>
{% block card_title %}
Schedhuled External Tour List
{% endblock card_title %}
<!----- END CARD TITLE -------->

<!-- 
VARIABLE DEFINITIONS FOR DEVELOPERS
ext_schdtour_filter = 'External ScheduleTour Filter',
ext_schdtour_list = 'External ScheduleTour List',
-->


<!------------------------------------ BEGIN PAGE BREADCUMBS ------------------------------------>
{% block pagebreadcumb %}
{{ super() }}
<li class="breadcrumb-item pe-3"><a href="javascript:void(0)" class="pe-3">Scheduled External Tour List</a></li>
{% endblock pagebreadcumb %}
<!------------------------------------- END PAGE BREADCUMBS ------------------------------------->


<!-------------------------------------------- BEGIN Schedhuled External Tour TABLE ------------------------------------------->
{% block table %}
<table id="ext_schdtour_table" class="display cell-border" style="width:100%">
</table>

{% endblock table %}
<!-------------------------------------------- END Schedhuled External Tour TABLE ------------------------------------------->


<!--------- BEGIN EXTRA SCRIPTS ----------------------------->
{% block extra_scripts %}
<script>
	var table           = null;
	const formFilter      = "#ext_schdtour_filter"
	const table_id        = "#ext_schdtour_table"

    $(document).ready(function (){
        //datatable initialization
        table = $(table_id).DataTable({
            ajax:{
                url:'{{ url("schedhuler:schd_external_tour") }}?action=list'
            },
			columns:[
                {data:'id'},
                {data:'jobname', title:'Name'},
                {data:'bu__buname', title:'BV'},
                {title:'People/Group', defaultContent:null, data:null},
                {title:'From', data:'fromdate'},
                {title:'To', data:'uptodate'},
                {title:'Duration', data:'planduration'},
                {title:'Gracetime', data:'gracetime'},
                {title:'Exp. Time', data:'expirytime'},
            ],
            columnDefs:[
                {targets:0, data:'id', visible:'false', searchable:false },
                {targets:1, data:'jobname', render:function(data, type, row, meta){
                    return `<a href="${urlname}?id=${row['id']}">${data}</a>`
                }},
                {targets:3, render:function(data, type, row, meta){
                    let peoplename = row['people__peoplename']
                    let groupname = row['pgroup__groupname']
                    return typeof peoplename in ['undefined', null] ? groupname : peoplename 
                }}
            ],
            deferRender: true,
			responsive: true,
            dom:`<'row' <'col-sm-6 d-flex justify-content-start'f> <'col-sm-6 d-flex justify-content-end'B> >rt<'row'
			 <'col-sm-6'l> <'col-sm-6'p><'col-sm-12 d-flex justify-content-center'i>>`,
            buttons:[
				{
					text:`Add New &nbsp;<i class='fas fa-plus ch4'></i></a>`,
					className:"btn btn-sm btn-light-primary btn-hover-rise",
					//action for add_new_button 
					action: function(e, dt, node, config){
                        //This will send the page to the location specified
        				window.location.href = "{{ url('schedhuler:schd_external_tour') }}?action=form";
					}
				}
			]
        
        })
    })

</script>
{% endblock extra_scripts %}