{% extends "base_form.html" %}

{% block extra_css %}
<link  href="{{ static('assets/plugins/custom/DataTables/datatables.min.css') }}" rel="stylesheet" type="text/css"/>
<link rel="stylesheet" href="{{ static('assets/css/jqCron.css') }}" type="text/css">
{{ schdexternaltourform.media.css }}
{# {{ editsiteform.media.css }} #}
<style>
table.dataTable.compact tbody td.select-checkbox::before,
table.dataTable.compact tbody th.select-checkbox::before{
    margin-top: -6px;
}
table.dataTable.compact tr.selected td.select-checkbox::after,
table.dataTable.compact tr.selected th.select-checkbox::after {
	
	margin-top: -25px;
}
</style>
{% endblock extra_css %}

<!-------------------------- BEGIN PAGE BREADCUMB ----------------------->
{% block pagebreadcumb %}
<!--will call parent contents -->
{{ super() }}
<li class="breadcrumb-item pe-3"><a href="{{ url('schedhuler:retrieve_externaltours') }}" class="pe-3">Schedhuled Tours</a></li>
<li class="breadcrumb-item pe-3"><a href="javascript:void(0)" class="pe-3">External-Tour Form</a></li>
{% endblock pagebreadcumb %}
<!-------------------------- END PAGE BREADCUMB ------------------------->

<!------ BEGIN FORM TITLE ------->
{% block custom_title %}
Schedhule External-Tour&nbsp;<i class="fa fa-clock fs-4 text-primary" aria-hidden="true"></i>
{% endblock custom_title %}
<!------ END FORM TITLE -------->

<!--------- BEGIN NON FIELD ERRORS -------->
{% block nonfield_errors %}
{% if schdexternaltourform.non_field_errors() %}
<div id="non_field_error" class="alert alert-danger" style="width: 73%;">
    {% for error in schdexternaltourform.non_field_errors() %}
    <strong>Error</strong> <span>{{ error }}</span>
    {% endfor %}
    <button type="button" class="btn-close flt-right" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}
{% endblock nonfield_errors %}
<!---------- END NON FIELD ERRORS --------->

{% block form %}
<form action="" method="post" id="id_schdexternaltourform">
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
    <input type="hidden" name="{{ schdexternaltourform.ctzoffset.name }}" id = "{{ schdexternaltourform.ctzoffset.auto_id }}" value="-1">
        {{ schdexternaltourform.identifier }}
        {{ schdexternaltourform.priority }}
        {{ schdexternaltourform.starttime }}
        {{ schdexternaltourform.endtime }}
        {{ schdexternaltourform.scantype }}
        {{ schdexternaltourform.expirytime }}
        {{ schdexternaltourform.frequency }}
        {{ schdexternaltourform.ticketcategory }}
        {{ schdexternaltourform.seqno }}
    <div class="row">
        <div class="col-md-6">
            <div class="input-group mb-3">
                <div class="col-md-4">
                    {{ schdexternaltourform.bu.label_tag() }}
                </div>
                <div class="col-md-8">
                    {{ schdexternaltourform.bu }}
                </div>
            </div>
            <div class="input-group mb-3">
                <div class="col-md-4">
                    {{ schdexternaltourform.jobname.label_tag() }}
                </div>
                <div class="col-md-8">
                    {{ schdexternaltourform.jobname }}
                </div>
            </div>
            <div class="input-group mb-3">
                <div class="col-md-4">
                    {{ schdexternaltourform.shift.label_tag() }}
                </div>
                <div class="col-md-8">
                    {{ schdexternaltourform.shift }}
                </div>
            </div>
            <div class="input-group mb-3">
                <div class="col-md-4">
                    <label for='{{ schdexternaltourform.assign_to.id_for_label }}'
                    class="required">{{ schdexternaltourform.assign_to.label }}:</label>
                </div>
                <div class="col-md-2 form-check form-check-inline">
                    <input type="radio" class="form-check-input" name='{{ schdexternaltourform.assign_to.name }}'
                        id="{{ schdexternaltourform.assign_to.auto_id }}1" value="PEOPLE" checked
                        onchange="showHideSelectField('PEOPLE')">
                    <label class="form-check-label" for="{{ schdexternaltourform.assign_to.auto_id }}">People</label>
                </div>
                <div class="col-md-2 form-check form-check-inline">
                    <input type="radio" class="form-check-input" name='{{ schdexternaltourform.assign_to.name }}'
                        id="{{ schdexternaltourform.assign_to.auto_id }}1" value="GROUP" checked
                        onchange="showHideSelectField('GROUP')">
                    <label class="form-check-label" for="{{ schdexternaltourform.assign_to.auto_id }}">Group</label>
                </div>
            </div>
            <div class="input-group mb-3">
                <div class="col-md-4 people">
                    {{ schdexternaltourform.people.label_tag() }}
                </div>
                <div class="col-md-8 people">
                    {{ schdexternaltourform.people }}
                </div>
            </div>
            <div class="input-group mb-3">
                <div class="col-md-4 pgroup">
                    {{ schdexternaltourform.pgroup.label_tag() }}
                </div>
                <div class="col-md-8 pgroup">
                    {{ schdexternaltourform.pgroup }}
                </div>
            </div>
            <div class="input-group mb-3">
                <div class="col-md-4">
                    {{ schdexternaltourform.qset.label_tag() }}
                </div>
                <div class="col-md-8">
                    {{ schdexternaltourform.qset }}
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="input-group mb-3">
                <div class="col-md-4">
                    {{ schdexternaltourform.planduration.label_tag() }}
                </div>
                <div class="col-md-8">
                    {{ schdexternaltourform.planduration }}
                </div>
            </div>
            <div class="input-group mb-3">
                <div class="col-md-4">
                    {{ schdexternaltourform.gracetime.label_tag() }}
                </div>
                <div class="col-md-8">
                    {{ schdexternaltourform.gracetime }}
                </div>
            </div>
            <div class="input-group mb-3">
                <div class="col-md-4">
                    <label for="{{ schdexternaltourform.cron.id_for_label }}" class="required">{{ schdexternaltourform.cron.label }}:</label>
                </div>
                <div class="col-md-8 d-flex">
                    <input type="text" name="{{ schdexternaltourform.cron.name }}" value="{{ schdexternaltourform.cron.value() }}" id="id_cron"
                    readonly required class="form-control form-control-solid" maxlength="250" />
                    <a  class="btn btn-circle btn-icon-only btn-default " id="cron_selector">
                        <i class="fa fa-clock fs-4 text-primary" aria-hidden="true"></i>
                    </a>
                    {{ schdexternaltourform.cron.errors }}
                </div>
            </div>
            <div class="input-group mb-3">
                <div class="col-md-4">
                    {{ schdexternaltourform.fromdate.label_tag() }}
                </div>
                <div class="col-md-8">
                    {{ schdexternaltourform.fromdate }}
                </div>
            </div>
            <div class="input-group mb-3">
                <div class="col-md-4">
                    {{ schdexternaltourform.uptodate.label_tag() }}
                </div>
                <div class="col-md-8">
                    {{ schdexternaltourform.uptodate }}
                </div>
            </div>
        </div>
    </div>
</form>
<br><hr><br>
{% endblock form %}

{% block extras %}
<div id="RouteCreation">
    <div class="row mb-3 card card-flush my-shadow p-4" id="TourInfo">
        <table width="100%" class="card-body">
            <tbody>
                <tr>
                <td style="padding:4px;"><span class="caption-subject bold font-red-mint" style="font-size:16px;">Total time in shift: </span></td>
                <td style="padding:4px;width:200px;" style="padding:4px;"><span class="caption-subject bold font-red-mint" style="font-size:14px;" id= "lblSTime">--</span></td>
                <td style="padding:4px;"><span class="caption-subject bold font-red-mint" style="font-size:16px;">Travel time: </span></td>
                <td style="padding:4px;width:200px;"><span class="caption-subject bold font-red-mint" style="font-size:14px;" id= "lblTravelTime">--</span></td>
                <td style="padding:4px;"><span class="caption-subject bold font-red-mint" style="font-size:16px;">Break Time: </span></td>
                <td style="padding:4px;width:200px;"><span class="caption-subject bold font-red-mint" style="font-size:14px;" id= "lblBreakTime">--</span></td>
                <tr>
                <tr>
                    <td style="padding:4px;"><span class="caption-subject bold font-red-mint" style="font-size:16px;">Available time: </span></td>
                    <td style="padding:4px;width:200px;"><span class="caption-subject bold font-red-mint" style="font-size:14px;" id= "lblRTime">--</span></td>
                    <td style="padding:4px;"><span class="caption-subject bold font-red-mint" style="font-size:16px;">Total distance: </span></td>
                    <td style="padding:4px;width:200px;"><span class="caption-subject bold font-red-mint" style="font-size:14px;" id= "lblDistance">--</span></td>
                    <td style="padding:4px;"><span class="caption-subject bold font-red-mint" style="font-size:16px;">Random Tour: </span></td>
                    <td style="padding:4px;width:200px;"><span class="caption-subject bold font-red-mint" style="font-size:14px;" id= "lblIsRTour">--</span></td>
                <tr>                    
                <tr>
                    <td style="padding:4px;"><span class="caption-subject bold font-red-mint" style="font-size:16px;">Time spent at site: </span></td>
                    <td style="padding:4px;width:200px;" style="padding:4px;"><span class="caption-subject bold font-red-mint" style="font-size:14px;" id= "lblSiteTime">--</span></td>
                    <td style="padding:4px;"><span class="caption-subject bold font-red-mint" style="font-size:16px;">Avg. speed: </span></td>
                    <td style="padding:4px;width:200px;"><span class="caption-subject bold font-red-mint" style="font-size:14px;" id= "lblSpeed">--</span></td>
                    <td style="padding:4px;"><span class="caption-subject bold font-red-mint" style="font-size:16px;">Tour Frequency </span></td>
                    <td style="padding:4px;width:200px;"><span class="caption-subject bold font-red-mint" style="font-size:14px;" id= "lblTourFrequency">--</span></td>
                <tr>
            </tbody>
        </table>
    </div>
    <div class="row">
        <div class="col-md-4" id="">
            <div class="card card-flush my-shadow">
                <div class="card-header">
                    <h3 class="card-title">All Sites &nbsp;<i class="fas fa-layer-group ch4"></i></h3>
                    <div class="card-toolbar">
                        <button type="button" id="btn_assign_sites" class="btn btn-sm btn-secondary btn-hover-scale">
                            Assign&nbsp;<i class="fas fa-arrow-right"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body pt-0">
                    <table id="all-sites" class="display cell-border compact hover nowrap">
                        <thead>
                            <th></th>
                            <th>SiteID</th>
                            <th>Site</th>
                            <th>GPS</th>
                            <th>Starttime</th>
                            <th>Endtime</th>
                            <th>Distance</th>
                            <th>Duration</th>
                            <th>Breaktime</th>
                            <th>Expirytime</th>
                            <th>Checklist</th>
                            <th>ChecklistID</th>
                        </thead>
                        <tbody>
                            {% if checkpoints is defined %}
                                {% for checkpoint in checkpoints%}
                                <tr>
                                    <td></td><!--0-->
                                    <td>{{ checkpoint['id'] }}</td><!--1-->
                                    <td>{{ checkpoint['buname'] }}</td><!--2-->
                                    <td>{{ checkpoint['gpslocation'] }}</td><!--3-->
                                    <td></td><!--4-->
                                    <td></td><!--5-->
                                    <td></td><!--6-->
                                    <td></td><!--7-->
                                    <td></td><!--8-->
                                    <td></td><!--9-->
                                    <td>{{ qsetname }}</td><!--10-->
                                    <td>{{ qset }}</td><!--11-->
                                </tr>
                                {% endfor %}
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-md-8">
            <div class="card card-flush my-shadow">
                <div class="card-header">
                    <h3 class="card-title">Assigned Sites &nbsp;<i class="fas ch4 fa-sm fa-paste"></i></h3>
                    <div class="card-toolbar gap-5 d-md-flex justify-content-md-end">
                        <div class="form-floating">
                            <input type="number" class="form-control" id="tour_frequency" placeholder="Frequency">
                            <label for="tour_frequency">Frequency</label>
                        </div>
                        <button type="button" class="btn btn-sm btn-hover-scale btn-primary" id="btnGetRoute"
                            data-bs-custom-class="tooltip-dark" data-bs-toggle="tooltip" data-bs-placement="top" title="Get Route">
                            <i class="fas fa-map-marker-alt fa-lg"></i>
                        </button>
                        <button type="button" class="btn btn-hover-scale btn-sm btn-info"  id="btnSaveRoute"
                            data-bs-custom-class="tooltip-dark" data-bs-toggle="tooltip" data-bs-placement="top" title="Save Route">
                            <i class="fas fa-save fa-lg"></i>
                        </button>
                        <button type="button" class="btn btn-hover-scale btn-sm btn-secondary" id="btnCalculateRoute"
                            data-bs-custom-class="tooltip-dark" data-bs-toggle="tooltip" data-bs-placement="top" title="Calculate Route">
                            <i class="fas fa-calculator fa-lg"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body pt-0">
                    <table id="assigned_sites" class="display cell-border compact hover nowrap">
                        <thead>
                            <th></th><!--Index-->
                            <th>SiteID</th>
                            <th>Site</th>
                            <th>GPS</th>
                            <th>Start</th>
                            <th>End</th>
                            <th>Km</th>
                            <th>Duration</th>
                            <th>Break</th>
                            <th>EXP Time</th>
                            <th>Checklist</th>
                            <th>ChecklistID</th>
                            <th>Remove</th>
                            <th>JobId</th>
                        </thead>
                        <tbody>

                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Total</th>
                                <th colspan="6" style="text-align:right"></th>
                                <th style="text-align:left"></th>
                                <th style="text-align:left"></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </tfoot>
                    </table>
                    <div class="table-editor gap-5 d-md-flex border border-secondary p-3 h-25 justify-content-md-start">
                        <a href="#" id="edit-child" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-delay = 500 title="Edit Selected Row"><i class="fa fa-edit text-dark opacity-75 fa-lg"></i></a>
                        <a href="#" id="delete-child" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-delay = 500 title="Delete Selected Row"><i class="fa fa-trash-alt text-dark opacity-75 fa-lg"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row googleMaps">
        <div id="d2Map" style="width:100%;height:400px;background:#f1f1f1"></div>
    </div>
</div>
{% endblock extras %}

{% block popup_alerts %}
    {% call general_popup(popup_id = "cron_scheduler", title="Cron Scheduler", modal_size='modal-lg') %}
        <div class="modal-body">

            <div class="row">
                <div class="col-md-12">
                    <div class="portlet-body form">
                        <div class="jqCronEditor"></div><br><br>
                        <div>
                            <p>Cron Value : <input type="text" id="cron_selected_val" readonly class="form-control input-inline input-large"/></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Cancel</button>
            <button type="button" id="btnSetCron"  class="btn btn-sm  btn-success rounded-1">Set</button>
        </div>
    {% endcall %}

    {# {% call general_popup(popup_id = "edit_assigned_site", title="Edit Record", modal_size = "modal-lg") %}
        <div class="modal-body">
            <form action="" id="edit_site_form">
                <div class="row gy-3">
                    <div class="col-md-2">
                        <label for={{ editsiteform.br_time.id_for_label }}
                        class="required">{{ editsiteform.br_time.label }}:</label>
                    </div>
                    <div class="col-md-10">
                        {{ editsiteform.br_time }}
                    </div>
                    <div class="col-md-2">
                    <label for={{ editsiteform.checklist.id_for_label }}
                        class="required">{{ editsiteform.checklist.label }}:</label>
                    </div>
                    <div class="col-md-10">
                        {{ editsiteform.checklist }}
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Cancel</button>
            <button type="button" id="btnSaveEditedSite"  class="btn btn-sm  btn-success rounded-1">Save</button>
        </div>
    {% endcall %} #}
{% endblock popup_alerts %}

{% block ajax_page_actions %}
    <div class="form-actions">
        {% if schdexternaltourform.instance.id %}
        <button type="button" id="runScheduler"  class="btn btn-sm btn-info btn-hover-scale">
            Run Scheduler&nbsp;<i class="far fa-clock"></i>
        </button>
        
        <button type="submit" id="submitTour" form="id_schdexternaltourform" class="btn btn-sm btn-primary btn-hover-scale">
            Update Tour&nbsp;<i class="fas fa-cloud-upload-alt"></i>
        </button>

        <button type="button" onclick="deleteMainJob(this)" data-id="{{ schdexternaltourform.instance.id }}" id="deleteAttd"
            class="btn btn-sm btn-danger btn-hover-scale">
            Delete&nbsp;<i class="fas fa-trash-alt"></i>
        </button>
        {% else %}
        <button type="submit" form="id_schdexternaltourform" class="btn btn-sm btn-primary btn-hover-scale">
            Save Tour&nbsp;<i class="fas fa-cloud-upload-alt"></i>
        </button>
        {% endif %}
    </div>
{% endblock ajax_page_actions %}


{% block extra_scripts %}
{{ schdexternaltourform.media.js }}
{# {{ editsiteform.media.js }} #}

<script src="{{ static('assets/plugins/custom/DataTables/datatables.min.js') }}" type="text/javascript"></script>
<script src="{{ static('assets/js/jqCron.js') }}"></script>
<script src="{{ static('assets/js/jqCron.en.js') }}"></script>
<script type="text/javascript">
    //FOR GLOBAL VARIABLE TO BE AVAILABLE BELOW SCRIPTS
    var _cronDates   = [];
    var _shiftMinute = 0;
    var _fbreaktime  = '--';
    var _fduration   = '--';
    var _fdistance   = '--';
</script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key = AIzaSyDVbA53nxHKUOHdyIqnVPD01aOlTitfVO0&libraries = places"></script>
<script src="{{ static('assets/js/overlapping_marker_spiderfier.js') }}" type="text/javascript"></script>
<script src="{{ static('assets/js/schd_ext_tour_form.js') }}" type="text/javascript"></script>
<script>

var d2bounds           = new google.maps.LatLngBounds();
var d2infowindow       = new google.maps.InfoWindow({content: "",maxWidth: 350});
var d2PolyLine         = undefined;
var allsites_table     = null;
var asgdsites_table    = null;

function showHideSelectField(val) {
    if (val == "PEOPLE") {
        //$("#aatopdiv").show();
        $(".people").show();
        $(".pgroup").hide();
    } else {
        //$("#aatopdiv").hide();
        $(".pgroup").show();
        $(".people").hide();
    }
}

$(document).ready(() => { //DOCUMENT.READY START[+]
    //set ctzoffset
  	$("#id_ctzoffset").val(-new Date().getTimezoneOffset())
    
    //ALL SITES TABLE CONFIGURATION
    $('#all-sites thead tr')
    .clone(true)
    .addClass('filters')
    .appendTo('#all-sites thead');

    //INITIALIZE GOOGLE MAP
    d2InitializeMap()
    
    

    //toggle people and pgroup field based on radio button value
    if ('{{schdexternaltourform.instance.id}}' in ['None', ""]) {
        showHideSelectField('PEOPLE')
    }else{
        var assignto = '{{schdexternaltourform.instance.people}}' == ('None' || "") ? "GROUP" : "PEOPLE"
        showHideSelectField(assignto)
    }

    allsites_table = $('#all-sites').DataTable({
        columnDefs: [ 
            {
                data: null,
                defaultContent: '',
                orderable: false,
                className: 'select-checkbox',
                targets:   0,
                width: "2%"
            },
            {
                targets :[1,3,4,5,6,7,8,9,10,11],
                visible: false,
                searchable:false
            },
            ...spreadColNames(),

        ],
        select: {
            style:    'multi',
            selector: 'tr'
        },
        order: [[ 1, 'asc' ]],
        initComplete:column_filtering(targets = [2]),
        paging: false,
        fixedHeader: true,
        orderCellsTop: true,
        dom: "lrt"
    })

    //return selected value of a field
    function getSelectedValue(id) {
        var data = $(id).select2('data')[0]
        if (typeof data !== 'undefined') {
            return data.text
        }
        return "NONE"
    }
    
    //ASSIGNEDSITES TABLE CONFIGURATION
    asgdsites_table = $("#assigned_sites").DataTable({
        fixedHeader: true,
        responsive: true,
        columnDefs:[
            {   data:null,
                orderable:false,
                searchable:false,
                targets: 0,
                width: "2%"
            },
            {
                width: "5%",
                targets:[4,5,6,7,8,9]
            },
            {
                visible:false,
                searchable:false,
                targets:[1,3,9,11]
            },
            ...spreadColNames(),
            {
                data:function(row, type, val, meta){
                        if(row['13'] != null){
                            return ""
                        }else{
                            return '<a href="#" onClick="return false;"><i class="fas text-dark fa-trash-alt fs-3"></i></a>'
                        }
                    },
                defaultContent: '',
                orderable:false,
                className: "remove text-center",
                targets:12,
                width: "5%"
            },
            {
                targets:13,
                data:null,
                visible:false,
                orderable:false
            }

        ],
        dom: "rt",
        order: [[ 1, 'asc' ]],
        ordering:false,
        select: {
            style:    'single',
            selector: 'tr'
        },
        footerCallback:function(row, data, start, end, display){
                            var api = this.api();
                            setFooter(api)
                        },
    }) 
    
    //SL# OF ASSIGNEDSITES TABLE 
    asgdsites_table.on('order.dt search.dt', function () {
        asgdsites_table.column(0, {search: 'applied', order: 'applied'}).nodes().each( function (cell, i) {
            cell.innerHTML = i+1;
        } );
    } ).draw()
    
    //SELECT2 INITIALIZATION
    $('.django-select2').djangoSelect2();
    
    //select2 on-modal config
    $('#edit_assigned_site #id_checklist').djangoSelect2({
        dropdownParent: $('#edit_assigned_site')
    })
    
    //ADD CALENDER TO DATE FIELDS WITH FLAT-PICKR PLUGIN
    $("#id_fromdate, #id_uptodate").flatpickr({
        enableTime: true,
        time_24hr: true,
        dateFormat: 'd-M-Y H:i'
    })

    //RUN-JOB SCHEDULER DEFINITION
    $("#runScheduler").click(function() {
        Swal.fire({
            title: "Are you sure?",
            text: "Run Tour Scheduler, you won't be able to revert this!",
            icon: "warning",
            showCancelButton:true,
            confirmButtonText: "Schedule it!"
        }).then((result) => {
            if(result.isConfirmed){
                const params = {url: "{{ url('schedhuler:runJob') }}"}
                var payLoad = {job: '{{ schdexternaltourform.instance.id }}',
                 csrfmiddlewaretoken: '{{ csrf_token }}'}
                fire_ajax_form_post(params, payLoad)
                .done((data, status, xhr) => {
                    Swal.fire({
                        showConfirmButton:false,
                        timer:1500,
                        icon: 'success',
                        title: "Tour schedhuled successfully!"
                    })
                    $('#lblIsRTour').html('No');
                })
                .fail((xhr, status, error) => {
                    Swal.fire({
                        showConfirmButton:false,
                        icon: "error",
                        timer:1500,
                        title: "Failed to schedhule!"
                    })
                })
            }
        })
    })
    
    //SET CRON BTN DEFINITION
    $("#btnSetCron").click(function(){
        var cron_val= $("#cron_selected_val").val();
        $("#id_cron").val(cron_val);
        $('#cron_scheduler').modal('hide');
    });

    //JQCRON CONFIGURATION
    $("#cron_selector").click(function(){
        var old_cron_val= $("#id_cron").val();
        $('#cron_selected_val').val(old_cron_val);
        if(old_cron_val == '') old_cron_val="* * * * *";
        console.log("@@@@",old_cron_val);
        if(old_cron_val != ''){
            $(function(){
                $('.jqCronEditor').html('');
                $('.jqCronEditor').jqCron({
                    enabled_minute: true,
                    multiple_dom: true,
                    multiple_month: true,
                    multiple_mins: true,
                    multiple_dow: true,
                    multiple_time_hours: true,
                    multiple_time_minutes: true,
                    default_period: 'week',
                    default_value: old_cron_val,
                    no_reset_button: false,
                    lang: 'en',
                    numeric_zero_pad: true,
                    bind_to: $('#cron_selected_val'),
                    bind_method: {
                        set: function($element, value) {
                        $element.val(value);
                        }
                    }
                });
            });
        }
        $('#cron_scheduler').modal('show');
    });

    //MAIN(UPPER-FORM) JOB POST REQUEST
    $("#id_schdexternaltourform").submit((e) => {
        e.preventDefault();
        submit_form_alert().then((res) => {
            if(res.isConfirmed){
                const formtype = '{{schdexternaltourform.instance.id}}' == 'None' ? "create" : "update"
                const params = {url: "{{ url('schedhuler:schd_external_tour') }}", modal:false}
                const id = '{{schdexternaltourform.instance.id}}' //form instance id
                var payLoad = {
                    formData:$("#id_schdexternaltourform").serialize(),
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                }
                if (formtype === 'update') {
                    var newPayLoad = {...payLoad, 'pk': id}
                    payLoad = newPayLoad
                }
                fire_ajax_form_post(params, payLoad)
                .done((data, status, xhr) => {
                    Swal.fire(
                        'Saved',
                        `External Tour Main Job with this name <b>${data.jobname}</b>`,
                        'success'
                    ).then((res) => {
                        //window.location.replace(data.url)
                        //table reload
                        console.log("reload table.....")
                    })
                    updateCronDate();
                })
                .fail((xhr, status, error) => {
                    console.log("main job failed to save", xhr)
                    show_error_alert(xhr.responseJSON.errors, "Failed to save!")
                })
            }
        })

    })

    //ON CLICK GRAB SELECTED AND POPULATE RIGHT TABLE
    $("#btn_assign_sites").click(() => {
        var assigned_sites = allsites_table.rows({'selected':true}).data().toArray()
       asgdsites_table.rows().remove().draw()
       asgdsites_table.rows.add(assigned_sites).draw()
    })

    //edit selected site
    $("#edit-child").click(() => {
        if($("#assigned_sites tbody tr").hasClass("selected")){
            $("#edit_assigned_site").modal('show')
            update_site_form(asgdsites_table.row('.selected').data())
            $(this).addClass('toupdate');
        }else{show_warning("Please select a row first!")}
    })

    //SAVE EDITED SITE
    $("#btnSaveEditedSite").click(() => {
        btime =  $("#edit_assigned_site #id_br_time").val()
        checkListId = $("#edit_assigned_site #id_checklist").val()
        checkListName = getSelectedValue("#edit_assigned_site #id_checklist")
        console.log(btime, checkListId, checkListName)
        updateAssignedSitesTable(btime, checkListId, checkListName)
        $("#edit_assigned_site").modal('hide')
    })

    //ON CLICK GET ROUTE
    $("#btnGetRoute").click(() => {
        data = asgdsites_table.rows().data().toArray()
        routeFreq = $("#tour_frequency").val()
        if(data.length > 0){
            d2ClearMarker()
            calculateAndDisplayRoute(data, routeFreq)
        }
    })

    //UPDATE CRONDATETIME ON CRON CHANGE
    function updateCronDate(){
        console.log("called")
        var cron = $("#id_cron").val()
        var params = {'url':`{{ url('schedhuler:getCronDateTime') }}?cron=${cron}`,
        'beforeSend':function(){}} 
        fire_ajax_get(params)
        .done((data, status, xhr) => {
            if(data.rows.length > 0){
                _cronDates = data.rows
            }else{
                _cronDates= [new Date(new Date().setHours(0, 0, 0))];
            }
            reCaclTime()
            console.log(_cronDates, "_cronDates")
            
        })
        .fail((xhr, status, error) => {
            
            show_error_alert(xhr.responseJSON.errors, "Bad Cron!")
        })
    }

    //ON SHIFT CHANGE
    $("#id_shift").change(() => {
        let re = "/(\d+:\d+:\d+)/"
        let arr = re.match($(this).val())
        if(arr !== null && arr.length>1){   
            setShiftMin({'starttime':arr[0], 'endtime':arr[1]})
        }
    })

    //ON-LOAD WITH FORM INSTANCE
    if("{{ schdexternaltourform.instance.id }}" != 'None'){
        updateCronDate()
        let re = /(\d+:\d+:\d+)/g
        let val = getSelectedValue("#id_shift")
        let arr = val.match(re)
        console.log(arr, getSelectedValue("#id_shift"), "shiftttttttttttttt")
        if(arr !== null && arr.length>1){   
            setShiftMin({'starttime':arr[0], 'endtime':arr[1]})
        }
        if(asgdsites_table.rows().data().toArray().length > 0){
            addJob()
        }
    }

    //ON CRON CHANGE
    $("#id_cron").change(() => {
        updateCronDate()
    })

    //ON SAVE-ROUTE CLICK
    $("#btnSaveRoute").click(() => {
        reCaclTime()
        Swal.fire({
            title: "Save Route?",
            text: "This will set the route info for the External Tour",
            icon: 'question',
            showCancelButton: true,
            confirmButtonText: 'Yes, save it!'
        }).then((res) => {
            if(res.isConfirmed){
                const params = {url: "{{ url('schedhuler:save_assigned_sites') }}", modal:false}
                var payLoad = {'formData':$("#id_schdexternaltourform").serialize(),
                csrfmiddlewaretoken: '{{ csrf_token }}',
                pk: '{{schdexternaltourform.instance.id}}'}
                payLoad = getSitesData(payLoad)
                fire_ajax_form_post(params, payLoad)
                .done((data, status, xhr) => {
                    Swal.fire({
                        icon: 'success',
                        title: 'Saved successfully',
                        showConfirmButton: false,
                        timer: 1500
                    })
                })
                .fail((xhr, status, error) => {
                    show_error_alert(xhr.responseJSON.errors, title='Failed to save!')
                })
                
            }
            
        })
    })

    //ON CLICK CALCULATE ICON
    $("#btnCalculateRoute").click(function(){
        var assignedSites= asgdsites_table.rows().data().toArray();
        if(assignedSites.length > 0) {
            reCaclTime();
        }
    });
    
    //ON CLICK TRASH ICON REMOVE ROW
    $('#assigned_sites').on('click', '.remove', function () {
        var row = $(this).parents('tr');
        
        if ($(row).hasClass('child')) {
            table.row($(row).prev('tr')).remove().draw();
        }
        else{
            asgdsites_table
                .row($(this).parents('tr'))
                .remove()
            .draw();
        }

    });
    

})//DOCUMENT.READY END[-]
</script>
{% endblock extra_scripts %}