    {% extends "base_list.html" %}

<!---- BEGIN CARD TITLE ------>
{% block card_title %}
Scheduled Tours
{% endblock card_title %}
<!----- END CARD TITLE -------->

{% block extra_css %}
{% endblock extra_css %}

<!------------------------------------ BEGIN PAGE BREADCUMBS ------------------------------------>
{% block pagebreadcumb %}
{{ super() }}
<li class="breadcrumb-item pe-3"><a href="javascript:void(0)" class="pe-3">Scheduled Tours</a></li>
{% endblock pagebreadcumb %}
<!------------------------------------- END PAGE BREADCUMBS ------------------------------------->

<!-------------------------------------------- BEGIN Schedhuled Tour TABLE ------------------------------------------->
{% block table %}
<table id="schdtour_table" class="display compact cell-border" style="width:100%">
</table>
{% endblock table %}
<!-------------------------------------------- END Schedhuled Tour TABLE ------------------------------------------->

{% block popup_alerts %}
<!-- THE MODAL WE WILL BE USING -->
<div class="modal animate__animated animate__zoomIn" tabindex="-1" aria-hidden="true"  aria-labelledby="exampleModalLabel" data-bs-backdrop="static" id="modal-schdtour">
	<div class="modal-dialog modal-dialog-centered modal-xl">
		<div class="modal-content" id="schdtour_content">
		</div>
	</div>
</div>
{% endblock popup_alerts %}

<!--------- BEGIN EXTRA SCRIPTS ----------------------------->
{% block extra_scripts %}
<script>
	var table           = null;
	const formFilter      = "#schdtour_filter"
	const table_id        = "#schdtour_table"
	const formid          = "#id_schdtourform"
    const urlname = "{{ url('schedhuler:schd_internal_tour') }}"

    $(document).ready(function (){
        //datatable initialization
        table = $(table_id).DataTable({
			ajax:{
                url: "{{ url('schedhuler:schd_internal_tour') }}?action=list"
            },
			deferRender: true,
			scrollY: 300,
            scrollCollapse: true,
            scrollX:true,
            dom:`<'row' <'col-sm-6 d-flex justify-content-start'f> <'col-sm-6 d-flex justify-content-end'B> >rt<'row'
			 <'col-sm-6'l> <'col-sm-6'p><'col-sm-12 d-flex justify-content-center'i>>`,
            columns:[
                {data: 'id', defaultContent:null},
                {data: 'jobname', title: "Name"},
                {data: 'assignedto', title:"People/Group", defaultContent:null},
                {title: 'From', data: 'fromdate'},
                {title: 'To', data: 'uptodate'},
                {title: 'Duration', data: 'planduration'},
                {title: 'Gracetime', data: 'gracetime'},
                {title: 'Exp. Time', data: 'expirytime'},
            ],
            rowReorder: {
                dataSrc: 'jobname',
            },
            columnDefs:[
                {targets:0, data: 'id', visible:false, searchable:false, className:'noVis'},
                {
                    targets:1, data: 'jobname', render: function (data, type, row, meta){
                        return `<a href="${urlname}?id=${row['id']}">${data}</a>`
                    }
                },
                {targets:3, render:function(data, type, row, meta){
                    return  convert_to_local(type, data, row)
                }},
                {targets:4, render:function(data, type, row, meta){
                    return  convert_to_local(type, data, row)
                }}
            ],
            select:true,
            buttons:[
                "searchBuilder",
                dataTablesPDFConfig(
                    'Site: {{ request.user.bu.buname }}\nScheduled Internal Tour List',
                    [1,2,3,4,5,6,7],
                    filename="schd_tour_list"
                ),
                dataTablesExcelConfig(
                    'Site: {{ request.user.bu.buname }}\nScheduled Internal Tour List',
                    [1,2,3,4,5,6,7],
                    filename="schd_tour_list"
                ),
                dataTablesColumnVisibilityConfig(),
				{
					text:`Schedule Tour &nbsp;<i class='fas text-dark fa-plus'></i></a>`,
					//action for add_new_button 
					action: function(e, dt, node, config){
                        //This will send the page to the location specified
        				window.location.href = "{{ url('schedhuler:schd_internal_tour') }}?action=form";
					}
				}
			]
        
        })

        //BEGIN STYLING DATATABLE
		$("th > input").addClass('form-control')
		$("th > input").css('height', '35px')
		var styles = {
			"border-bottom": "none",
			"background-color": "#f1f4f7"
		}

        $(`${table_id} thead tr:eq(1)`).css(styles)
		//END STYLING DATATABLE

    })

</script>
{% endblock extra_scripts %}