*.pyc
my_project_visualized.png
docs/importants.txt
.gitignore
docs/importants.txt
frontend/static/assets/js/jqCron.en.js
frontend/static/assets/js/daterangepicker.js
frontend/static/assets/js/jqCron.js
frontend/static/assets/js/jquery.jqgrid.min.js
frontend/static/assets/js/scripts.bundle.js
frontend/static/assets/js/scripts.bundle.js.map
frontend/static/assets/js/scripts.bundle_old.js
frontend/static/assets/css/jqCron.css
frontend/static/assets/css/style.bundle.css
frontend/static/assets/css/style.bundle.css.map
frontend/static/assets/css/style.bundle_old.css
frontend/static/assets/css/style.bundle_old.css.map
frontend/static/assets/css/style.bundle.js
frontend/static/assets/css/style.bundle.js.map
frontend/static/assets/css/style.dark.bundle.js
frontend/static/assets/css/style.dark.bundle.js.map
frontend/static/assets/css/style.dark.bundle.css.map
frontend/static/assets/css/ui.jqgrid.min.css
frontend/static/assets/media
frontend/static/assets/plugins
.env
