*.pyc
frontend/static/assets/media/images/my_project_visualized.png
docs/importants.txt
.gitignore
docs/importants.txt
manage.py
.env
testPython.py
df.ipynb
test.ipynb
fr.ipynb
project_nb.ipynb
.pytest_cache