amqp==5.3.1
annotated-types==0.7.0
asgiref==3.8.1
asttokens==3.0.0
beautifulsoup4==4.13.3
billiard==4.2.1
black==23.11.0
Brotli==1.1.0
cachetools==5.5.2
celery==5.4.0
certifi==2025.1.31
cffi==1.17.0
cfgv==3.4.0
charset-normalizer==3.4.1
click==8.1.8
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
colorama==0.4.6
coloredlogs==15.0.1
colorlog==6.9.0
coverage==7.8.0
cron-descriptor==1.4.5
croniter==6.0.0
cssselect2==0.8.0
decorator==5.2.1
deprecation==2.1.0
diff-match-patch==20241021
distlib==0.3.9
Django==4.2.20
django-appconf==1.1.0
django-celery-beat==2.7.0
django-celery-results==2.5.1
django-cleanup==9.0.0
django-cors-headers==4.7.0
django-debug-toolbar==5.0.1
django-email-verification==0.3.3
django-environ==0.12.0
django-extensions==3.2.3
django-filter==22.1
django-graphql-jwt==0.4.0
django-import-export==4.3.7
django-redis==5.4.0
django-select2==8.3.0
django-timezone-field==7.1
django-weasyprint==2.4.0
django-widget-tweaks==1.5.0
djangorestframework==3.15.2
et_xmlfile==2.0.0
executing==2.2.0
filelock==3.18.0
fonttools==4.56.0
-e git+https://github.com/frappe/frappe-client@aad36de5eb27be1bc6a8357791ee26ecb7cecd99#egg=frappeclient
geographiclib==2.0
geopy==2.4.1
google==3.0.0
google-api-core==2.24.2
google-api-python-client==2.164.0
google-auth==2.38.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.1
google-cloud-core==2.4.3
google-cloud-storage==3.1.0
google-cloud-translate==3.20.1
google-cloud-vision==3.10.0
google-crc32c==1.6.0
google-resumable-media==2.7.2
googleapis-common-protos==1.69.1
googlemaps==4.10.0
graphene==3.4.3
graphene-django==3.2.3
graphene-django-extras==1.0.0
graphene-file-upload==1.3.0
graphene-gis==0.0.8
graphql-core==3.2.6
graphql-relay==3.2.0
grpc-google-iam-v1==0.14.1
grpcio==1.71.0
grpcio-status==1.71.0
httplib2==0.22.0
humanfriendly==10.0
icecream==2.1.4
identify==2.6.9
idna==3.10
iniconfig==2.1.0
ipython==9.0.2
ipython_pygments_lexers==1.1.1
jedi==0.19.2
Jinja2==3.1.6
kombu==5.5.0
MarkupSafe==3.0.2
matplotlib-inline==0.1.7
mypy-extensions==1.0.0
nodeenv==1.9.1
numpy==2.2.3
oauthlib==3.2.2
openpyxl==3.1.5
packaging==24.2
paho-mqtt==2.1.0
pandas==2.2.3
parso==0.8.4
pathspec==0.12.1
pexpect==4.9.0
pillow==11.1.0
platformdirs==4.3.7
pluggy==1.5.0
pre-commit==3.5.0
promise==2.3
prompt_toolkit==3.0.50
proto-plus==1.26.1
protobuf==5.29.3
psycopg==3.2.6
psycopg2-binary==2.9.10
ptyprocess==0.7.0
pure_eval==0.2.3
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycparser==2.22
pydantic==2.10.6
pydantic_core==2.27.2
pydyf==0.11.0
Pygments==2.19.1
PyJWT==2.10.1
PyMuPDF==1.25.4
pyparsing==3.2.1
pyphen==0.17.2
pytest==7.4.3
pytest-cov==4.1.0
pytest-django==4.7.0
python-crontab==3.2.0
python-dateutil==2.9.0.post0
python-magic==0.4.27
pytz==2025.1
PyYAML==6.0.2
qrcode==8.0
redis==5.2.1
requests==2.32.3
requests-oauthlib==2.0.0
rsa==4.9
ruff==0.1.6
six==1.17.0
soupsieve==2.6
sqlparse==0.5.3
stack-data==0.6.3
structlog==25.2.0
tablib==3.8.0
text-unidecode==1.3
tinycss2==1.4.0
tinyhtml5==2.0.0
traitlets==5.14.3
typing_extensions==4.12.2
tzdata==2025.1
uritemplate==4.1.1
urllib3==2.3.0
validators==0.34.0
vine==5.1.0
virtualenv==20.30.0
wcwidth==0.2.13
weasyprint==64.1
webencodings==0.5.1
whitenoise==6.9.0
XlsxWriter==3.2.2
zopfli==0.2.3.post1
