{% extends "base_list.html" %}

<!---- BEGIN CARD TITLE ------>
{% block card_title %}
Attendance
{% endblock card_title %}
<!----- END CARD TITLE -------->

{% block extra_css %}
<style>
td.selected { background-color: yellow; }
td:not(:last-child) { cursor: pointer; }
td { padding: 6px; border: 1px solid #CCC; }
</style>
{% endblock extra_css %}

<!------------------------------------ BEGIN PAGE BREADCUMBS ------------------------------------>
{% block pagebreadcumb %}
{{ super() }}
<li class="breadcrumb-item pe-3"><a href="javascript:void(0)" class="pe-3">Attendance</a></li>
{% endblock pagebreadcumb %}
<!------------------------------------- END PAGE BREADCUMBS ------------------------------------->

{% block table %}
<!--------------------------BEGIN TABLE------------------------------>
<table id="attd_table" class="display cell-border" style="width:100%">
</table>
<!--------------------------END TABLE------------------------------>


{% endblock table %}

{% block popup_alerts %}
<!-- THE MODAL WE WILL BE USING -->
<div class="modal animate__animated animate__zoomIn" aria-hidden="true" tabindex="-1"
    aria-labelledby="exampleModalLabel" data-bs-backdrop="static" id="modal-attd">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content" id="attd_content">
        </div>
    </div>
</div>

{% call general_popup(popup_id = 'modal_fr_status', title = 'Face Recognition Details', modal_size='modal-lg') %}
<div class="modal-body">
    <div class="row">
        <div class="col-sm-4" >
            <div class="card" style="width: 18rem;">
                <img src="" class="card-img-top" alt="" id="attd_in_img" style="width: 252px;height: 252px;">
                <div class="card-body">
                    <p class="card-text" id="in_text"></p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card" style="width: 18rem;">
                <img src="" class="card-img-top" alt="" id="default_people_img" style="width: 252px;height: 252px;">
                <div class="card-body">
                    <p class="card-text" ></p>
                </div>
            </div>
        </div>
        <div class="col-sm-4" >
            <div class="card" style="width: 18rem;">
                <img src="" class="card-img-top" alt="" id="attd_out_img" style="width: 252px;height: 252px;">
                <div class="card-body">
                    <p class="card-text" id="out_text"></p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">OK</button>
</div>
{% endcall %}

{% endblock popup_alerts %}

<!--------- BEGIN EXTRA SCRIPTS ----------------------------->
{% block extra_scripts %}
<script>
    var table = null;
    function getReadableTextForINOUT(details){
        if(details){
            console.log(details['peventlogextras'], 'details');
            verifiedInValuye = details['peventlogextras']['distance_in'] ? (1-parseInt(details['peventlogextras']['distance_in']))*100 : 'N/A'
            verifiedOutValuye = details['peventlogextras']['distance_out'] ? (1-parseInt(details['peventlogextras']['distance_out']))*100 : 'N/A'
            threshold = details['peventlogextras']['threshold'] ? details['peventlogextras']['threshold']: 'N/A'
            metric = details['peventlogextras']['similarity_metric'] ? details['peventlogextras']['similarity_metric'].toUpperCase(): 'N/A'
            ingps = details['startgps'] ? JSON.parse(details['startgps'])['coordinates'] : 'N/A'
            outgps = details['endgps'] ?  JSON.parse(details['endgps'])['coordinates'] : 'N/A'
            ondate = details['datefor'] ? details['datefor'] : 'N/A'
            createdby = details['createdby'] ? details['createdby'] : 'N/A'
            var inHtml = `FR IN:   ${verifiedInValuye}% <br> Threshold:   ${threshold}% 
            \<br> Metric:    ${metric} In Lat-Lng:   ${ingps} <br> On Date:   ${ondate} \
            <br> Performed By:${createdby}`
            var outHtml = `FR OUT:${verifiedOutValuye}% <br> Threshold:${threshold}% 
            \<br> Metric:${metric} <br> Out Lat-Lng:${outgps} <br> On Date:${ondate} \
            <br> Performed By:${createdby}`
            return [inHtml, outHtml]
        }
        
    }


    function getFRStatus(data){
        fire_ajax_get({url:`{{ url('activity:previewImage') }}?action=getFRStatus&uuid=${data}`,})
        .done((data, status, xhr) => {
            const filepathIN = data['attd_in_out'].length ? `{{MEDIA_URL}}${data['attd_in_out'][0]['filepath'].replace('youtility4_media/', '')}/${data['attd_in_out'][0]['filename']}` : "{{ static('assets/media/images/blank.png') }}"
            const filepathOUT = data['attd_in_out'].length > 1 ? `{{MEDIA_URL}}${data['attd_in_out'][1]['filepath'].replace('youtility4_media/', '')}/${data['attd_in_out'][1]['filename']}` : "{{ static('assets/media/images/blank.png') }}"
            const defaultIMG =  data['default_img_path'].length ? `{{MEDIA_URL}}${data['default_img_path'][0]['peopleimg'].replace('youtility4_media/', '')}` : "{{ static('assets/media/images/blank.png') }}"
            
            $("#attd_in_img").attr('src', filepathIN)
            $("#attd_out_img").attr('src', filepathOUT)
            $("#default_people_img").attr('src', defaultIMG)
            $("#modal_fr_status").modal("show");
            let html = getReadableTextForINOUT(data['eventlog_in_out'].length > 0 ? data['eventlog_in_out'][0] : null)
            $("#in_text").html(html[0])
            $("#out_text").html(html[1])


        })
        .fail((xhr, status, error) =>  {
            
        })
    }

    $(document).ready(function () {
        new ClipboardJS('btn-copy')
        

        //beforeSend of capability ajax request 
        function attdBeforeSend() {
            $("#modal-attd").modal("show");
        }
        //datatable initialization
        table = $('#attd_table').DataTable({
            ajax:{
				url: '{{ url("attendance:attendance_view") }}?action=list',
			},
            deferRender: true,
			responsive : true,
            
            dom: `<'row' <'col-sm-6 d-flex justify-content-start'f> <'col-sm-6 d-flex justify-content-end'B> >rt<'row'
			 <'col-sm-6'l> <'col-sm-6'p><'col-sm-12 d-flex justify-content-center'i>>`,
            ordering: false,
            columnDefs:[
                {targets:[6,7], render:function(data, type, row, meta){
                    return convert_to_local(type, data, row)}
                }
            ],
            columns:[
                {data:'peventtype__tacode', title:'Type'},
                {data:'bu__buname', title:'Site Name'},
                {data:'people__peoplename', title:'People'},
                {data:'facerecognitionin', title:'FR IN'},
                {data:'facerecognitionout', title:'FR OUT'},
                {data:'verifiedby__peoplename', title:'Verifie By'},
                {data:'datefor', title:'Date For'},
                {data:'punchintime', title:'In Time'},
                {data:'punchouttime', title:'Out Time'},
                {data:'id',  searchable:false, title:'FR Status'},
                { data:'uuid',  visible:false, searchable:false},
            ], 
            columnDefs:[
                {targets:6, render:function(data, type, row, meta){
                    return convert_to_local(type, data, row)}
                },
                {targets:7, render:function(data, type, row, meta){
                    return convert_to_local(type, data, row)}
                },
                {targets:3, render:function(data, type, row, meta){
                    return data === false ? 'Not Matched' : 'Matched'}
                },
                {targets:9, render:function(data, type, row, meta){
                    return `<button type="button" class="btn p-0 btn-link" onClick="getFRStatus('${row['uuid']}');event.stopPropagation();">FR Status</button>`}
                }
            ],
            buttons: [
            {
                text: "Add New Attendance &nbsp;<i class='fas fa-plus ch4'></i>",
                className: "btn btn-sm btn-light-primary btn-hover-rise",
                //action for add_new_button
                action: function (e, dt, node, config) {
                    const params = {
                        modal_id: "#modal-attd",
                        url: "{{ url('attendance:attendance_view') }}?action=form",
                        beforeSend: attdBeforeSend}
                    fire_ajax_get(params)
                    .done((data, status, xhr) => {
                        $("#modal-attd .modal-content").html(data.html_form)
                    })
                    .fail((xhr, status, error) => {
                            show_error_alert('Something went wrong!')
                    })
                }}, 

            ],
            select: {
                    style: 'single'
                }
        })
        //BEGIN STYLING DATATABLE
        $("th > input").addClass('form-control')
        $("th > input").css('height', '35px')
        var styles = {
            "border-bottom": "none",
            "background-color": "#f1f4f7"
        }

        $('#attd_table thead tr:eq(1)').css(styles)

        //submit form
		$('#modal-attd').on('submit', '#attd_form', function(e) {
            console.log("submitted")
			var form = $(this);
			e.preventDefault()
			const params   = { url: "{{ url('attendance:attendance_view') }}", modal:true }                     //attendance view
			const formtype = $("#attd_content").attr('data-form')                                  //form-type (create/update)
			const id       = $("#attd_content").attr('data-id')                                    //form instance id
			var   payLoad  = {formData:form.serialize(), csrfmiddlewaretoken: '{{ csrf_token }}'}  //payload for post request
			var   status   = 'created'
            if(formtype === 'update'){
				var newPayLoad = {...payLoad, 'pk':id}
				payLoad    = newPayLoad
				status     = 'updated'
			}
			fire_ajax_form_post(params, payLoad)
			.done((data, status, xhr) => { //function to submit post request
				$("#modal-attd").modal("hide");
				Swal.fire(
				`Attendance ${status}`,
				`Attendance with this type <strong>"${data.type}"</strong> has been ${status} successfully`,
				'success'
				)
			})
		})

        $("table tr td").click(function() {
            $(".selected").removeClass("selected");
            $(this).closest("tr").find("td").not(":last-child").addClass("selected");
        });
        

        table.on('select', function(){
            var id = table.row({selected:true}).data().id
            if (!(id)){ return }
            const params = {
				modal_id    : "#modal-attd",
				url         : `{{ url('attendance:attendance_view') }}?id=${id}`,
				beforeSend  : attdBeforeSend }
			fire_ajax_get(params)
			.done((data, status, xhr) => {
				$("#attd_content").attr('data-form', 'update')
				$("#modal-attd .modal-content").html(data.html_form)
			})
			.fail((xhr, status, error) => {
				show_error_alert('Something went wrong!') //defined in custom.js
			})
        })

        // add classes to checkboxes.
        $(".booleans").addClass("form-check form-switch form-check-custom form-check-solid") 

        //datatime widget
        $("#id_punchintime, #id_punchouttime").flatpickr({
            enableTime: true,
            dateFormat: "Y-m-d H:i",
        });

        //date widget
        $("#id_datefor").flatpickr({
            dateFormat: 'd M Y'
        });

        //on click  fr_status_btn open modal fr_status
        $("#fr_status_btn").click(function(e){
            e.preventDefault()
            $("#modal_fr_status").modal("show");
            e.stopPropagation()
        })
        

    })//END document.ready()

    //deleted ajax request
    function isAttendanceDeleted(id){
		const params = {url:`{{ url('attendance:attendance_view') }}?action=delete&id=${id}`}
		fire_ajax_get(params)
		.done((data, status, xhr) => {
			if(!xhr.status === 200){
				return false
			}
			return true
		})
		.fail((xhr, status, error) => {
			show_error_alert('Something went wrong!') //defined in custom.js
            return false
		})
	}

    //delete attendance
    function deleteAttendance(elemt){
        var id  = $(elemt).attr("data-id");
        show_alert_before_delete("Attendance")
        .then((result) => {
            if(result.isConfirmed){ //delete requested by user
				status = isAttendanceDeleted(id) //fire's ajax request
				if(status){
					show_successful_delete_alert() //defined in customjs
					$("#modal-attd").modal("hide")
					//delete row from table
					row_index = parseInt($("#attd_content").attr('data-rowid'), 10)
					table.row(row_index).remove().draw();
				}else{
					show_error_alert('Something went wrong!');
				}
			}
        })
    }

    
</script>
{% endblock extra_scripts %}