{% extends "base_list.html" %}

<!---- BEGIN CARD TITLE ------>
{% block card_title %}
Attendance
{% endblock card_title %}
<!----- END CARD TITLE -------->

<!------------------------------------ BEGIN PAGE BREADCUMBS ------------------------------------>
{% block pagebreadcumb %}
{{ super() }}
<li class="breadcrumb-item pe-3"><a href="javascript:void(0)" class="pe-3">Attendance</a></li>
{% endblock pagebreadcumb %}
<!------------------------------------- END PAGE BREADCUMBS ------------------------------------->

{% block table %}
<!--------------------------BEGIN TABLE------------------------------>
<table id="attd_table" class="display cell-border" style="width:100%">
    <thead class="fw-bold fs-6">
        <th>Type</th>
        <th>Site Name</th>
        <th>People</th>
        <th>Face Recognition</th>
        <th>Verified By</th>
        <th>Date For</th>
        <th>In Time</th>
        <th>Out Time</th>
    </thead>
</table>
<!--------------------------END TABLE------------------------------>


{% endblock table %}

{% block popup_alerts %}
<!-- THE MODAL WE WILL BE USING -->
<div class="modal animate__animated animate__zoomIn" aria-hidden="true" tabindex="-1"
    aria-labelledby="exampleModalLabel" data-bs-backdrop="static" id="modal-attd">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content" id="attd_content">
        </div>
    </div>
</div>
{% endblock popup_alerts %}

<!--------- BEGIN EXTRA SCRIPTS ----------------------------->
{% block extra_scripts %}
<script>
    var table = null;
    $(document).ready(function () {
        new ClipboardJS('btn-copy')
        

        //beforeSend of capability ajax request 
        function attdBeforeSend() {
            $("#modal-attd").modal("show");
        }
        //datatable initialization
        table = $('#attd_table').DataTable({
            ajax:{
				url: '{{ url("attendance:attendance_view") }}?action=list',
			},
            deferRender: true,
			responsive : true,
            
            dom: `<'row' <'col-sm-6 d-flex justify-content-start'f> <'col-sm-6 d-flex justify-content-end'B> >rt<'row'
			 <'col-sm-6'l> <'col-sm-6'p><'col-sm-12 d-flex justify-content-center'i>>`,
            ordering: false,
            columnDefs:[
                {targets:[6,7], render:function(data, type, row, meta){
                    return convert_to_local(type, data, row)
                }}
            ],
            columns:[
                {targets:[0], data:'peventtype__tacode'},
                {targets:[1], data:'bu__buname'},
                {targets:[2], data:'people__peoplename'},
                {targets:[3], data:'facerecognition'},
                {targets:[4], data:'verifiedby__peoplename'},
                {targets:[5], data:'datefor'},
                {targets:[6], data:'punchintime'},
                {targets:[7], data:'punchouttime'},
                {targets:[8], data:'id', visible:false, searchable:false},
            ],
            columnDefs:[
                //targets:[1, 2], render:function(data, type, row, meta){
                //    let urlname = '{{ url("attendance:attendance_view") }}'
                //    return `<a href=${urlname}?id=${row['id']}>${data}</a>`
                //}},
                {targets:6, render:function(data, type, row, meta){
                    return convert_to_local(type, data, row)
                }},
                {targets:7, render:function(data, type, row, meta){
                    return convert_to_local(type, data, row)
                }},
                {targets:3, render:function(data, type, row, meta){
                    return data === false ? 'Not Matched' : 'Matched'
                }}
                ],
            buttons: [
            {
                text: "Add New Attendance &nbsp;<i class='fas fa-plus ch4'></i>",
                className: "btn btn-sm btn-light-primary btn-hover-rise",
                //action for add_new_button
                action: function (e, dt, node, config) {
                    const params = {
                        modal_id: "#modal-attd",
                        url: "{{ url('attendance:attendance_view') }}?action=form",
                        beforeSend: attdBeforeSend}
                    fire_ajax_get(params)
                    .done((data, status, xhr) => {
                        $("#modal-attd .modal-content").html(data.html_form)
                    })
                    .fail((xhr, status, error) => {
                            show_error_alert('Something went wrong!')
                    })
                }}, 

            ],
            select: {
                    style: 'single'
                }
        })
        //BEGIN STYLING DATATABLE
        $("th > input").addClass('form-control')
        $("th > input").css('height', '35px')
        var styles = {
            "border-bottom": "none",
            "background-color": "#f1f4f7"
        }

        $('#attd_table thead tr:eq(1)').css(styles)

        //submit form
		$('#modal-attd').on('submit', '#attd_form', function(e) {
            console.log("submitted")
			var form = $(this);
			e.preventDefault()
			const params   = { url: "{{ url('attendance:attendance_view') }}", modal:true }                     //attendance view
			const formtype = $("#attd_content").attr('data-form')                                  //form-type (create/update)
			const id       = $("#attd_content").attr('data-id')                                    //form instance id
			var   payLoad  = {formData:form.serialize(), csrfmiddlewaretoken: '{{ csrf_token }}'}  //payload for post request
			var   status   = 'created'
            if(formtype === 'update'){
				var newPayLoad = {...payLoad, 'pk':id}
				payLoad    = newPayLoad
				status     = 'updated'
			}
			fire_ajax_form_post(params, payLoad)
			.done((data, status, xhr) => { //function to submit post request
				$("#modal-attd").modal("hide");
				Swal.fire(
				`Attendance ${status}`,
				`Attendance with this type <strong>"${data.type}"</strong> has been ${status} successfully`,
				'success'
				)
			})
		})

        

        table.on('select', function(){
            var id = table.row({selected:true}).data().id
            if (!(id)){ return }
            const params = {
				modal_id    : "#modal-attd",
				url         : `{{ url('attendance:attendance_view') }}?id=${id}`,
				beforeSend  : attdBeforeSend }
			fire_ajax_get(params)
			.done((data, status, xhr) => {
				$("#attd_content").attr('data-form', 'update')
				$("#modal-attd .modal-content").html(data.html_form)
			})
			.fail((xhr, status, error) => {
				show_error_alert('Something went wrong!') //defined in custom.js
			})
        })

        // add classes to checkboxes.
        $(".booleans").addClass("form-check form-switch form-check-custom form-check-solid") 

        //datatime widget
        $("#id_punchintime, #id_punchouttime").flatpickr({
            enableTime: true,
            dateFormat: "Y-m-d H:i",
        });

        //date widget
        $("#id_datefor").flatpickr({
            dateFormat: 'd M Y'
        });
        

    })//END document.ready()

    //deleted ajax request
    function isAttendanceDeleted(id){
		const params = {url:`{{ url('attendance:attendance_view') }}?action=delete&id=${id}`}
		fire_ajax_get(params)
		.done((data, status, xhr) => {
			if(!xhr.status === 200){
				return false
			}
			return true
		})
		.fail((xhr, status, error) => {
			show_error_alert('Something went wrong!') //defined in custom.js
            return false
		})
	}

    //delete attendance
    function deleteAttendance(elemt){
        var id  = $(elemt).attr("data-id");
        show_alert_before_delete("Attendance")
        .then((result) => {
            if(result.isConfirmed){ //delete requested by user
				status = isAttendanceDeleted(id) //fire's ajax request
				if(status){
					show_successful_delete_alert() //defined in customjs
					$("#modal-attd").modal("hide")
					//delete row from table
					row_index = parseInt($("#attd_content").attr('data-rowid'))
					table.row(row_index).remove().draw();
				}else{
					show_error_alert('Something went wrong!');
				}
			}
        })
    }

    
</script>
{% endblock extra_scripts %}