{% extends "base.html" %}

{# =========HEAD START=========== #}
{% block head %}

{% endblock head %}
{# =========HEAD END=========== #}

{# =====BODY START====== #}
{% block body %}

{# =====BEGIN MAIN===== #}
{# =====BEGIN ROOT===== #}
<div class="d-flex flex-column flex-root">
  {# BEGIN PAGE #}
  <div class="page d-flex flex-row flex-column-fluid">
    {# BEGIN ASIDE #}
    <div id="kt_aside" class="aside aside-dark" data-kt-drawer="true" data-kt-drawer-name="aside"
      data-kt-drawer-activate="{default: true, lg: false}" data-kt-drawer-overlay="true"
      data-kt-drawer-width="{default:'200px', '300px': '250px'}" data-kt-drawer-direction="start"
      data-kt-drawer-toggle="#kt_aside_mobile_toggle">
      {# BEGIN BRAND #}
      <div class="aside-logo flex-column-auto" id="kt_aside_logo">
        {# BEGIN LOGO #}
        <a href="index.html">
          <img alt="Logo" src="{{ static('assets/media/logos/simple-cyan.png') }}"
            class="h-25px ml-3 mt-3 logo w-160px">
        </a>
        {# END LOGO #}
        {# BEGIN ASIDE TOGGLER #}
        <div id="kt_aside_toggle" class="btn btn-icon w-auto px-0 btn-active-color-primary aside-toggle"
          data-kt-toggle="true" data-kt-toggle-state="active" data-kt-toggle-target="body"
          data-kt-toggle-name="aside-minimize">
          <!--begin::Svg Icon | path: icons/duotone/Navigation/Angle-double-left.svg-->
          <span class="svg-icon svg-icon-1 rotate-180">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px"
              height="24px" viewBox="0 0 24 24" version="1.1">
              <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <polygon points="0 0 24 0 24 24 0 24"></polygon>
                <path
                  d="M5.29288961,6.70710318 C4.90236532,6.31657888 4.90236532,5.68341391 5.29288961,5.29288961 C5.68341391,4.90236532 6.31657888,4.90236532 6.70710318,5.29288961 L12.7071032,11.2928896 C13.0856821,11.6714686 13.0989277,12.281055 12.7371505,12.675721 L7.23715054,18.675721 C6.86395813,19.08284 6.23139076,19.1103429 5.82427177,18.7371505 C5.41715278,18.3639581 5.38964985,17.7313908 5.76284226,17.3242718 L10.6158586,12.0300721 L5.29288961,6.70710318 Z"
                  fill="#000000" fill-rule="nonzero"
                  transform="translate(8.999997, 11.999999) scale(-1, 1) translate(-8.999997, -11.999999)"></path>
                <path
                  d="M10.7071009,15.7071068 C10.3165766,16.0976311 9.68341162,16.0976311 9.29288733,15.7071068 C8.90236304,15.3165825 8.90236304,14.6834175 9.29288733,14.2928932 L15.2928873,8.29289322 C15.6714663,7.91431428 16.2810527,7.90106866 16.6757187,8.26284586 L22.6757187,13.7628459 C23.0828377,14.1360383 23.1103407,14.7686056 22.7371482,15.1757246 C22.3639558,15.5828436 21.7313885,15.6103465 21.3242695,15.2371541 L16.0300699,10.3841378 L10.7071009,15.7071068 Z"
                  fill="#000000" fill-rule="nonzero" opacity="0.5"
                  transform="translate(15.999997, 11.999999) scale(-1, 1) rotate(-270.000000) translate(-15.999997, -11.999999)">
                </path>
              </g>
            </svg>
          </span>
          {# END SVG ICON #}
        </div>
        {# END ASIDE TOGGLER #}
      </div>
      {# BEGIN BRAND #}
      {# BEGIN ASIDE MENU #}
      <div class="aside-menu flex-column-fluid">
        {# BEGIN ASIDE MENU #}
        <div class="hover-scroll-overlay-y my-5 my-lg-5" id="kt_aside_menu_wrapper" data-kt-scroll="true"
          data-kt-scroll-activate="{default: false, lg: true}" data-kt-scroll-height="auto"
          data-kt-scroll-dependencies="#kt_aside_logo, #kt_aside_footer" data-kt-scroll-wrappers="#kt_aside_menu"
          data-kt-scroll-offset="0" style="height: 798px;">
          {# BEGIN MENU #}
          {% include "sidebar_menus.html" %}
          {# END MENU #}
        </div>
      </div>
      <!--end::Aside menu-->
      <!--begin::Footer-->
      <div class="aside-footer flex-column-auto pt-5 pb-7 px-5" id="kt_aside_footer">
        <p>fsafasfsa</p>
      </div>
      <!--end::Footer-->
    </div>
    <!--end::Aside-->
    <!--begin::Wrapper-->
    <div class="wrapper d-flex flex-column flex-row-fluid" id="kt_wrapper">
      <!--begin::header-->
      <div id="kt_header" style="" class="header align-items-stretch h-65px">
        <!--begin::Container-->
        <div class="container-fluid d-flex align-items-stretch justify-content-between" style="border-bottom: 1px solid #7e7e7e3d;">
          <!--begin::Aside mobile toggle-->
          <div class="d-flex align-items-center d-lg-none ms-n3 me-1" title="Show aside menu">
            <div class="btn btn-icon btn-active-light-primary w-30px h-30px w-md-40px h-md-40px"
              id="kt_aside_mobile_toggle">
              <!--begin::Svg Icon | path: icons/duotone/Text/Menu.svg-->
              <span class="svg-icon svg-icon-2x mt-1">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px"
                  height="24px" viewBox="0 0 24 24" version="1.1">
                  <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <rect x="0" y="0" width="24" height="24"></rect>
                    <rect fill="#000000" x="4" y="5" width="16" height="3" rx="1.5"></rect>
                    <path
                      d="M5.5,15 L18.5,15 C19.3284271,15 20,15.6715729 20,16.5 C20,17.3284271 19.3284271,18 18.5,18 L5.5,18 C4.67157288,18 4,17.3284271 4,16.5 C4,15.6715729 4.67157288,15 5.5,15 Z M5.5,10 L18.5,10 C19.3284271,10 20,10.6715729 20,11.5 C20,12.3284271 19.3284271,13 18.5,13 L5.5,13 C4.67157288,13 4,12.3284271 4,11.5 C4,10.6715729 4.67157288,10 5.5,10 Z"
                      fill="#000000" opacity="0.3"></path>
                  </g>
                </svg>
              </span>
              <!--end::Svg Icon-->
            </div>
          </div>
          <!--end::Aside mobile toggle-->
          <!--begin::Mobile logo-->
          <div class="d-flex align-items-center flex-grow-1 flex-lg-grow-0">
            <a href="index.html" class="d-lg-none">
              <img alt="Logo" src="assets/media/logos/logo-3.svg" class="h-30px">
            </a>
          </div>
          <!--end::Mobile logo-->
          <!--begin::Wrapper-->
          <div class="d-flex align-items-stretch justify-content-between flex-lg-grow-1">
            <div></div>
            <div class="d-flex align-items-stretch flex-shrink-0 d-inline">
              <div id="site-info" class="mt-5 mx-2">
                <a href="#" class="align-middle text-dark"><span>Site:</span><b> YTPLD.Youtility Technologies Head
                    Office </b></a>
              </div>
              <div>
                <div class="dropdown mt-5 mx-3">
                  <a id="user-info" class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" href="">
                    <span class="svg-icon svg-icon-1">
                      <span class="material-icons align-middle dark">
                        person
                      </span>
                    </span>
                    <b class="mt-5 text-dark">YTPL Admin</b>
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="user-info">
                    <li><a class="dropdown-item" href="#">Change Password</a></li>
                    <li><a class="dropdown-item" href="#">Switch Site</a></li>
                    <li><a class="dropdown-item" href="#">Log Out</a></li>
                  </ul>
                </div>

              </div>
            </div>
          </div>
          <!--end::Wrapper-->
        </div>
        <!--end::Container-->
      </div>
      <!--end::header-->
      <!--begin::Content-->
      <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
        <!--begin::toolbar-->
        <div class="toolbar h-40px" id="kt_toolbar">
          <!--begin::Container-->
          <div id="kt_toolbar_container" class="container-fluid d-flex flex-stack">
            <!--begin::Page title-->
            {% block pagebreadcumb %}
            <ol class="breadcrumb text-muted fs-6 fw-bold">
              <li class="breadcrumb-item pe-3"><a href="#" class="pe-3">Link1</a></li>
              <li class="breadcrumb-item pe-3"><a href="#" class="pe-3">Link2</a></li>
              <li class="breadcrumb-item px-3 text-muted">Link3</li>
            </ol>
            {% endblock pagebreadcumb %}
            <!--begin::actions-->
            <div class="d-flex align-items-center py-1">
              {% block page_actions %}
            
              {% endblock page_actions %}
            </div>
            <!--end::actions-->
            <!--end::Page title-->
          </div>
          <!--end::Container-->
        </div>
        <!--end::toolbar-->
        <!--begin Post-->
        <div class="post d-flex flex-column-fluid" id="kt_post">
          {% block pagebody_container_fluid %}
          
          {% endblock pagebody_container_fluid %}
          <!---BEGIN CONTAINER-->
          <div id="kt_content_container" class="container">
            {% block pagebody_container %}
            
            {% endblock pagebody_container %}
          </div>
          <!--END CONTAINER -->
        </div>
        <!--end post-->
      </div>
      <!--end::Content-->
      <!--begin::footer-->
      <div class="footer py-4 d-flex flex-lg-column" id="kt_footer">
        <!--begin::Container-->
        <div class="container-fluid d-flex flex-column flex-md-row align-items-center justify-content-between">
          <!--begin::Copyright-->
          <div></div>
          <!--end::Copyright-->
          <div class="page-footer-inner text-light"> <span id="copyRightYear ">2021 © Powered by</span>
            <a target="_blank" href="http://www.youtility.in">Youtility Technologies Pvt. Ltd. </a>
          </div>
        </div>
        <!--end::Container-->
      </div>
      <!--end::footer-->
    </div>
    <!--end::Wrapper-->
  </div>
  <!--end::PAGE-->
</div>
<!--end::ROOT-->


<!-- END wrapper -->

<!-- bundle -->
{% block script %}
{% endblock script %}

<!-- end demo js-->
{% endblock body %}
{# ======BODY END======= #}