var barChartOptions = {
    series: _assetChartSeries,
    chart: {
    type: 'bar',
    height: 350,
    stacked: true,
    toolbar: {
      show: true
    },
    zoom: {
      enabled: true
    },
    events: {
                dataPointSelection: function(event, chartContext, config) {
                let filters = {'AssetType':config.dataPointIndex, 'AssetStatus':config.seriesIndex}
                localStorage.setItem('assetFilters', JSON.stringify(filters))
                switch(config.dataPointIndex){
                  case 0:
                  window.open('{{ url("activity:asset") }}?template=true', '_blank');
                  break;
                  case 1:
                  window.open('{{ url("activity:checkpoint") }}?template=true', '_blank');
                  break;
                  case 2:
                  window.open('{{ url("activity:location") }}?template=true', '_blank');
                  break;

                }
                }
  }
  },
  responsive: [{
    breakpoint: 480,
    options: {
      legend: {
        position: 'bottom',
        offsetX: -10,
        offsetY: 0
      }
    }
  }],
  plotOptions: {
    bar: {
      horizontal: false,
      borderRadius: 2,
      columnWidth:"50%",
      dataLabels: {
        total: {
          enabled: true,
          style: {
            fontSize: '13px',
            fontWeight: 900
          }
        }
      },
    },
  },
  colors: [  '#2ed8b6',  '#FF5370','#FFB64D', '#B0B0B0'], 
  xaxis: {
    type: 'string',
    categories: ['Assets', 'Checkpoints', 'Locations'],
  },
  legend: {
    position: 'right',
    offsetY: 40
  },
  fill: {
    opacity: 1
  }
  };
