var options2 = {
    series: _assetChartSeries,
    chart: {
    type: 'bar',
    height: 350,
    stacked: true,
    toolbar: {
      show: true
    },
    zoom: {
      enabled: true
    },
    events: {
                dataPointSelection: function(event, chartContext, config) {
                console.log(config);
                }
  }
  },
  responsive: [{
    breakpoint: 480,
    options: {
      legend: {
        position: 'bottom',
        offsetX: -10,
        offsetY: 0
      }
    }
  }],
  plotOptions: {
    bar: {
      horizontal: false,
      borderRadius: 2,
      columnWidth:"50%",
      dataLabels: {
        total: {
          enabled: true,
          style: {
            fontSize: '13px',
            fontWeight: 900
          }
        }
      }
    },
  },
  colors: [  '#2ed8b6',  '#FF5370','#FFB64D', '#B0B0B0'], 
  xaxis: {
    type: 'string',
    categories: ['Assets', 'Checkpoints', 'Locations'],
  },
  legend: {
    position: 'right',
    offsetY: 40
  },
  fill: {
    opacity: 1
  }
  };
