{% extends "base_list.html" %}

<!---- BEGIN CARD TITLE ------>
{% block card_title %}
People
{% endblock card_title %}
<!---- END CARD TITLE -------->

<!----------- BEGIN PAGE BREADCUMBS ----------->
{% block pagebreadcumb %}
{{ super() }}
<li class="breadcrumb-item pe-3"><a href="javascript:void(0)" class="pe-3">People List View</a></li>
{% endblock pagebreadcumb %}
<!----------- END PAGE BREADCUMBS ------------->


<!------------------ BEGIN PEOPLE TABLE ------------------------->
{% block table %}
<div class="table-responsive">
    <table id="people_table" class="display compact cell-border" style="width:100%">
	</table>
</div>
{% endblock table %} 
<!------------------ END PEOPLE TABLE --------------------------->

<!--------- BEGIN EXTRA SCRIPTS ------>
{% block extra_scripts %}
<script>
	$(document).ready(function () {
		//BEGIN DATATABLE INITIALIZATION
		var table = $('#people_table').DataTable({
			ajax:{
				url: "{{ url('peoples:people') }}?action=list"
			},
			columns:[
				{data: 'id', visible:false, defaultContent: ""},
				{data: 'peoplename', title: 'Name'},
				{data: 'peopletype__tacode', title: 'People Type'},
				{data: 'bu__buname', title: 'Site'},
				{data: 'isadmin', title: 'Admin'},
				{data: 'enable', title: 'Enable', render:function(data, type, row, meta){
					return data === true ? '<i class="bi bi-check-circle-fill text-success"></i>': '<i class="bi bi-x-circle-fill text-danger"></i>'				
				}},
				{data: 'email', title: 'Email'},
				{data: 'mobno', title: 'Phone #'},
			],
			pageLength:50,
			order:[[1, 'asc'], [3, 'asc']],
			deferRender:true,
			responsive:true,
			dom:`<'row' <'col-sm-6 d-flex justify-content-start'f> <'col-sm-6 d-flex justify-content-end'B> >rt<'row'
			 <'col-sm-6'l> <'col-sm-6'p><'col-sm-12 d-flex justify-content-center'i>>`,
			columnDefs:[
				{targets:1, data: 'peoplename', render:function(data, type, row, meta){
					let updateUrl = "{{ url('peoples:people') }}"
					return `<a href=${updateUrl}?id=${row['id']}>${data}</a>`
				}}
			],
			createdRow:function(row, data, dataIndex){
				if(data['enable'] === false){
					$(row).addClass('disabled-record text-white')
				}
			},
			buttons:[
				{
					text     : `Add New &nbsp;<i class='fas text-white fa-plus ch4'></i></a>`,
					className: "btn btn-sm btn-light-primary",
					//action for add_new_button 
					action: function(e, dt, node, config){
						return location.href = "{{ url('peoples:people') }}?action=form"
					}
				}
			]
		})
	});
</script>
{% endblock extra_scripts %}
<!-------- END EXTRA SCRIPTS --------->