{% extends "base_list.html" %}

<!---- BEGIN CARD TITLE ------>
{% block card_title %}
People Group Lists
{% endblock card_title %}
<!---- END CARD TITLE -------->

<!----------- BEGIN PAGE BREADCUMBS ----------->
{% block pagebreadcumb %}
{{ super() }}
<li class="breadcrumb-item pe-3"><a href="javascript:void(0)" class="pe-3">People Group List</a></li>
{% endblock pagebreadcumb %}
<!----------- END PAGE BREADCUMBS ------------->



<!------------------ BEGIN PEOPLE TABLE ------------------------->
{% block table %}
<div class="table-responsive">
    <table id="pgroup_table" class="display cell-border hover compact" style="width:100%">
        <thead class="fw-bold fs-6">
            <th>Name</th>
            <th>Enable</th>
			<th></th>
        </thead>
		<tbody>
		</tbody>
    </table>
</div>
{% endblock table %}
<!------------------ END PEOPLE TABLE --------------------------->


{% block popup_alerts %}
<!-- THE MODAL WE WILL BE USING -->
<div class="modal animate__animated animate__zoomIn" tabindex="-1" aria-hidden="true"  aria-labelledby="exampleModalLabel" data-bs-backdrop="static" id="modal-pgroup">
	<div class="modal-dialog modal-dialog-centered modal-lg">
		<div class="modal-content" id="pgroup_content">
		</div>
	</div>
</div>
{% endblock popup_alerts %}


<!--------- BEGIN EXTRA SCRIPTS ----------------------------->
{% block extra_scripts %}
<script>
	var table             = null;
	const modal_id        = "#modal-pgroup"
	const modalcontent_id = "#pgroup_content"
	const formFilter      = "#pgroup_filter"
	const table_id        = "#pgroup_table"
	const formid          = "#id_pgroupform"
	const urlname         = "{{ url('peoples:peoplegroup') }}"
	const viewname        = "Pgroup"
	const rowlink         = "a.pg-link"
	
	function addResultToTable(row){
		table.row.add({
			'groupname':row['groupname'],
			'enable':row['enable'] === true ? 'True' :'False',
			'id':row['id']
		}).draw();
	}

	$(document).ready(function () {
		new ClipboardJS('.btn-copy');
		$("input").keypress(function(event) {
			if (event.which == 13) {
				event.preventDefault();
				$(formFilter).submit();
			}
		});
        //beforeSend of capability ajax request 
        function BeforeSend(){
            $(modal_id).modal("show");
        }
		//datatable initialization
        table = $(table_id).DataTable({
			ajax:{
				url:`${urlname}?action=list`
			},
			serverSide : true,
			responsive : true,
			fixedHeader: true,
			search    : {return: true},
            dom       : `<'row' <'col-sm-6 d-flex justify-content-start'f> <'col-sm-6 d-flex justify-content-end'B> >rt<'row'
			 <'col-sm-6'l> <'col-sm-6'p><'col-sm-12 d-flex justify-content-center'i>>`,
            search    : {return: true},
			lengthMenu: [[10, 20, 30], [10, 20, 30]],	
			ordering:false,
            scrollCollapse: true,
			columns:[
				{
					data:"groupname",
					render:function(data, type, row, meta){
						 return `<a href="#" class="ta-link" data-id=${row['id']} data-rowid=${meta.row}>${data}</a>`
					}
				},
				{data:"enable"},
				{data:'id', visible:false, defaultContent:""}
			],
			buttons:[
				{
					text:`Add New ${viewname} &nbsp;<i class='fas fa-plus ch4'></i></a>`,
					className:"btn btn-sm btn-light-primary",
					//action for add_new_button 
					action: function(e, dt, node, config){
						const params = {
							'modal_id'    : modal_id,
							'url'         : `${urlname}?action=form`,
							'beforeSend'  : BeforeSend }
						fire_ajax_get(params)
						.done((data, status, xhr) => {
							$(modalcontent_id).attr('data-form', 'create')
                            $(`${modal_id} .modal-content`).html(data.html_form)
                        })
						.fail((xhr, status, error) => {
							show_error_alert("Something went wrong!")
						})
					}
				}
			]
		})
		$('.btn').removeClass('dt-button')

		//BEGIN STYLING DATATABLE
		$("th > input").addClass('form-control')
		$("th > input").css('height', '35px')
		var styles = {
			"border-bottom":"none",
			"background-color":"#f1f4f7"
		}
		
		$(`${table_id} thead tr:eq(1)`).css(styles)
		//END STYLING DATATABLE

        //add row to the table
		const addRow = (data) => {
			table.row.add($(`<tr>
			<td><a href="${data.url}">${data.capscode}</a></td>
			<td>${data.capsname}</td>
			<td>${data.cfor}</td>
			<td>${data.parent}</td>
			</tr>`)).draw();
			console.log("rowadded")
		}

		const updateRow = (data, rowid) => {
			table.row(rowid).data(
			`<tr>
			<td><a href="${data.url}">${data.capscode}</a></td>
			<td>${data.capsname}</td>
			<td>${data.cfor}</td>
			<td>${data.parent}</td>
			</tr>`
			)
		}
		
		//submit form
		$(modal_id).on('submit', formid, function(e) {
			var form = $(this);
			e.preventDefault()
			const params = { url:urlname, modal:true } //capability view
			const formtype = $(modalcontent_id).attr('data-form') //form-type (create/update)
			const id = $(modalcontent_id).attr('data-id') //form instance id
			var payLoad = {formData:form.serialize(), peoples:$("#id_peoples").val(),  csrfmiddlewaretoken: '{{ csrf_token }}'}//payload for post request
			if(formtype === 'update'){
				var newPayLoad = {...payLoad, 'pk':id}
				payLoad = newPayLoad
			}
			
			fire_ajax_form_post(params, payLoad)
			.done((data, status, xhr) => { //function to submit post request
				console.log("data ", data)
				addResultToTable(data.row)
				$(modal_id).modal("hide");
				var isupdated = formtype === 'update' ? true : false
				show_successful_save_alert(update=isupdated)
			})
		})

		//update row (form-view)
		$('tbody').click(rowlink,  (e) => {
			e.preventDefault();
			
			var id = $(e.originalEvent.originalTarget).attr('data-id');
			var rowid = $(e.originalEvent.originalTarget).attr('data-rowid');
			console.log(id, rowid)
			if (!(id && rowid)){ return }
			$(modalcontent_id).attr('data-rowid', rowid)
			$(modalcontent_id).attr('data-id', id)
			console.log("id ", id)
			console.log("table ", table)
			const params = {
				'modal_id'    : modal_id,
				'url'         : `${urlname}?id=${id}`,
				'beforeSend'  : BeforeSend }
			fire_ajax_get(params)
			.done((data, status, xhr) => {
				$(modalcontent_id).attr('data-form', 'update')
				$(`${modal_id} .modal-content`).html(data.html_form)
			})
			.fail((xhr, status, error) => {
				show_error_alert('Something went wrong!') //defined in custom.js
			})
		})
	}); //END document.ready()

	//delete ajax request 
	function isPgroupDeleted(id){ 
		console.log("id ", id)
		const params = {url:`${urlname}?action=delete&id=${id}`, beforeSend:function(){}}
		fire_ajax_get(params)
		.done((data, status, xhr) => {
			if(!xhr.status === 200){
				return false
			}
			return true
		})
		.fail((xhr, status, error) => {
			show_error_alert('Something went wrong!') //defined in custom.js
			return false
		})
	}


	//delete pgorup 
	function deletePgroup(elemt){
		var id = $(elemt).attr("data-id");
		show_alert_before_delete(viewname)
		.then((result) => {
			if(result.isConfirmed){ //delete requested by user
				status = isPgroupDeleted(id) //fire's request
				console.log("status ", status)
				if(status){
					show_successful_delete_alert() //defined in customjs
					$(modal_id).modal("hide")
					//delete row from table
					row_index = parseInt($(modalcontent_id).attr('data-rowid'))
					console.log(row_index, "row index")
					table.row(row_index).remove().draw();
				}else{
					show_error_alert('Something went wrong!');
				}
			}
		})
	}
</script>
{% endblock extra_scripts %}
<!-------- END EXTRA SCRIPTS ------------------------------->