{% extends "base_list.html" %}

<!---- BEGIN CARD TITLE ------>
{% block card_title %}
People Lists
{% endblock card_title %}
<!---- END CARD TITLE -------->

<!----------- BEGIN PAGE BREADCUMBS ----------->
{% block pagebreadcumb %}
{{ super() }}
<li class="breadcrumb-item pe-3"><a href="javascript:void(0)" class="pe-3">Peoples List</a></li>
{% endblock pagebreadcumb %}
<!----------- END PAGE BREADCUMBS ------------->

<!-------- BEGIN PAGE ACTIONS ---------->
{% block page_actions %}
 {{ form_add('peoples:people_form') }}
{% endblock page_actions %}
<!-------- END PAGE ACTIONS ------------->

<!------------------ BEGIN PEOPLE TABLE ------------------------->
{% block table %}
<div class="table-responsive">
    <table id="people_table" class="table gy-3" style="width:100%">
        <thead class="fw-bold fs-6">
            <th>Code</th>
            <th>Name</th>
            <th>People Type</th>
            <th>People Bt Code</th>
            <th>Is Admin</th>
        </thead>
		<!---------- BEGIN TABLE FILTER FIELDS --------->
		<thead id="filter_row">
		<form action="" id='people_filter' method='get'>
			{% for field in people_filter %}
			<th>
				<input type="text" 
				id="{{ field.auto_id }}" 
				name="{{ field.name }}" 
				placeholder ="Search {{ field.label }}">
			</th>
			{% endfor %}
		</form>
		</thead>
		<!---------- END TABLE FILTER FIELDS --------->
        {% for people in people_list %}
        <tr>
            <td><a href="{{ url('peoples:people_update', args=[people['id']]) }}">{{ people['peoplecode'] }}</a></td>
            <td>{{ people['peoplename'] }}</td>
            <td>{{ people['peopletype__tacode'] }}</td>
            <td>{{ people['siteid__bucode'] }}</td>
            <td>{{ people['isadmin'] }}</td>
        </tr>
        {% endfor %}
		
    </table>
</div>
{% if people_list and people_list.has_other_pages %}
        <!------ BEGIN PAGINATOIN ----->
		{{ paginator(people_list) }}
		<!----- END PAGINATOIN -------->
    {% endif %}
{% endblock table %}
<!------------------ END PEOPLE TABLE --------------------------->

<!--------- BEGIN EXTRA SCRIPTS ------>
{% block extra_scripts %}
<script>
	$(document).ready(function () {
		$("input").keypress(function(event) {
			if (event.which == 13) {
				event.preventDefault();
				$("#people_filter").submit();
			}
		});

		//BEGIN DATATABLE INITIALIZATION
		var table = $('#people_table').DataTable({
			orderCellsTop: true,
			fixedHeader: true,
			paging: false,
			scrollCollapse: true,
			sDom:'<>'
		})
		//END DATATABLE INITIALIZATION

		//BEGIN STYLING DATATABLE
		$("th > input").addClass('form-control')
		$("th > input").css('height', '35px')
		var styles = {
			"border-bottom": "none",
			"background-color": "#f1f4f7"
		}
		$('#people_table thead tr:eq(1)').css(styles)
		//END STYLING DATATABLE
	});
</script>
{% endblock extra_scripts %}
<!-------- END EXTRA SCRIPTS --------->