{% extends "base_form.html" %}

<!---- BEGIN PAGE TITLE ---->
{% block title %}
People Group Form
{% endblock title %}
<!---- END PAGE TITLE ----->

{% block extra_css %}
<link rel="stylesheet" href="{{ static('assets/plugins/custom/datatables/datatables.min.css') }}" type="text/css">
<style>
.table thead,
.table th {text-align: center;}
</style>
{% endblock extra_css %}

<!-------------------------- BEGIN PAGE BREADCUMB ----------------------->
{% block pagebreadcumb %}
{{ super() }}
<li class="breadcrumb-item pe-3"><a href="{{ url('peoples:pgroup_list') }}" class="pe-3">Pgroup List</a></li>
<li class="breadcrumb-item pe-3"><a href="javascript:void(0)" class="pe-3">Pgroup Form</a></li>
{% endblock pagebreadcumb %}
<!-------------------------- END PAGE BREADCUMB ------------------------->


<!-------------  BEGIN POP-UPS CODE -------------->
{% block popup_alerts %}
    {{ super()  }}
    {% if edit is defined %}
        <!-- to delete an instance with popup_alert pass the delete_url_name, instance_id, popup_title, popup_id -->
        {% call general_popup(title="Delete", popup_id="delete_alert") %}
            <div class="modal-body">
                <h4>Are you sure, you want to delete this?</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">No Go back</button>
                <a href="{{ url('peoples:pgroup_delete', args=[pgroup_form.instance.groupid]) }}" class="btn btn-sm  btn-danger rounded-1">Yes I'm Sure</a>
            </div>
        {% endcall %}

        <!--Begin Add row button in peoplevsgrp allocation form--->
        {% call general_popup(popup_id="peoplevsgrp_form", title="Allocate People to Group") %}
        <form action="" method="post" id="id_peoplevspgroup_form">
            <div class="modal-body">
                <p>
                <label for="id_people" class="text-dark">People:</label>
                {{ peoplevspgroup_form.people }}
                </p>
                <p>
                <div class="booleans form-check form-switch form-check-custom form-check-solid">
                <label for="id_is_grouplead" class="form-check-label bool text-dark">
                    {{ peoplevspgroup_form.is_grouplead }} &nbsp; {{ peoplevspgroup_form.is_grouplead.label }}
                </label>
                </div>
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm  btn-secondary rounded-1" data-bs-dismiss="modal">Close</button>
                <input type="submit" class="btn btn-sm  btn-primary rounded-1" value="Sumbit" form="id_peoplevspgroup_form"/>
            </div>
        </form>
        {% endcall %}
        <!--End Add row button in peoplevsgrp allocation form--->
    {% endif %}
{% endblock popup_alerts %}
<!-------------  END POP-UPS CODE -------------->


<!------ BEGIN FORM TITLE ------->
{% block form_title %}
People group
{% endblock form_title %}
<!------ END FORM TITLE -------->


<!-------- BEGIN NON FIELD ERRORS -------->
{% block nonfield_errors %}
{% if pgroup_form.non_field_errors() %}
<div id="non_field_error" class="alert alert-danger" style="width: 73%;">
    {% for error in pgroup_form.non_field_errors() %}
    {{ error }}
    {% endfor %}
    <button type="button" class="btn-close flt-right" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}
{% endblock nonfield_errors %}
<!---------- END NON FIELD ERRORS --------->



<!-------------- BEGIN FORM ------------------->
{% block form %}
<form action="" method='post' id="id_pgroupform">
    <div class="mb-3 row">
        <!---------------------------CSRF MIDDLEWARE TOKEN---------------------->
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

        {{ pgroup_form.groupname.label_tag() }}
        <div class="input-group col-md-6">
            {{ pgroup_form.groupname }}
            {% if pgroup_form.groupname.help_text %}
            <small>{{ pgroup_form.groupname.help_text }}</small>
            {% endif %}
            {{ pgroup_form.errors }}
        </div>
        <!----------- Checkboxes Rendering Last --------------------->
        <div class="booleans col-md-4 d-flex justify-content-sm-between mt-5">
            <label for={{ pgroup_form.enable.id_for_label }}
                class="form-check-label bool col-form-label me-5 text-sm-right">{{ pgroup_form.enable }}
                &nbsp{{ pgroup_form.enable.label }}</label>
        </div>
    </div>
</form>
{% endblock form %}
<!------------- END FORM ---------------------->



{% block extras %}
{% if edit is defined %}
  <table id="people_allocation_table" class="table table-striped table-bordered dt-responsive nowrap"
      style="width:100%;border: 1px #293042">
      <thead class="fw-bold fs-6">
          <th>People</th>
          <th>Group Lead</th>
      </thead>
      <tbody style=""></tbody>
  </table>
  <hr>
  <div class="table-foot" style="width:100%;border: 1px #293042">
      <a href="" type="button" data-bs-toggle="modal" data-bs-target="#peoplevsgrp_form" class="btn btn-sm btn-primary">Add row
          <span class="material-icons-outlined" style="vertical-align: middle; font-size: 19px;">
              add
          </span>
      </a>
  </div>
{% endif %}
{% endblock extras %}



<!-------------- BEGIN FORM PAGE ACTIONS --------->
{% block formpage_actions %}
{% if request.session['wizard_data'] is defined %}
	<!--- BEGIN wizard Controls --->
	{{ super() }}
    <!-- END wizard Controls ------>
{% else %}
    <!--- BEGIN Normal Form Controls -->
    {% if edit is defined %}
        {{ form_update('id_pgroupform', popup_id="delete_alert") }}
    {% else %}
        {{ form_create('id_pgroupform') }}
    {% endif %}
    <!----- END Normal Form Controls --->
{% endif %}
{% endblock formpage_actions %}
<!---------------- END FORM PAGE ACTIONS ----------->



<!--------------- BEGIN PAGE-LEVEL EXTRA SCRIPTS --------------->
{% block extra_scripts %}
<script type="text/javascript" src="{{ static('assets/plugins/custom/datatables/datatables.min.js') }}"></script>
<script>
    $(document).ready(function () {
        //hide the delete button when instance is not saved yet.
        if ('{{ pgroup_form.instance.id }}' == ('None' || "")) {
            $("#btn_del").hide()
        }
        //hide next btn if instance is not saved yet
		if(session['wizard_data'] && session['wizard_data']['pgroupids'].length == 0){
			$('#next_btn').hide()
		}
        var table = $('#people_allocation_table').DataTable({
            orderCellsTop: true,
            responsive: true,
            fixedHeader: true,
			paging: false,
			scrollCollapse: true,
			sDom: '<>'})
    })
</script>
{% endblock extra_scripts %}
<!--------------- END PAGE-LEVEL EXTRA SCRIPTS --------------->
