{% extends "base_list.html" %}

<!---- BEGIN CARD TITLE ------>
{% block card_title %}
Pgroup Lists
{% endblock card_title %}
<!---- END CARD TITLE -------->

<!----------- BEGIN PAGE BREADCUMBS ----------->
{% block pagebreadcumb %}
{{ super() }}
<li class="breadcrumb-item pe-3"><a href="javascript:void(0)" class="pe-3">Pgroup List</a></li>
{% endblock pagebreadcumb %}
<!----------- END PAGE BREADCUMBS ------------->


<!------------------ BEGIN PEOPLE TABLE ------------------------->
{% block table %}
<div class="table-responsive">
    <table id="pgroup_table" class="display compact cell-border" style="width:100%">
        <thead class="fw-bold fs-6">
            <th>Name</th>
            <th>Enable</th>
        </thead>
		<!---------- BEGIN TABLE FILTER FIELDS --------->
		<thead id="filter_row">
		<form action="" id='pg_filter' method='get'>
			{% for field in pg_filter %}
			<th>
				<input type="text" 
				id="{{ field.auto_id }}" 
				name="{{ field.name }}" 
				placeholder ="Search {{ field.label }}">
			</th>
			{% endfor %}
		</form>
		</thead>
		<!---------- END TABLE FILTER FIELDS --------->
        {% for pgroup in pgroup_list %}
        <tr>
            <td><a class="pg-link" data-id="{{ pgroup['id'] }}" data-rowid ={{ loop.index0 }} href="#">{{ pgroup['groupname'] }}</a></td>
            <td>{{ pgroup['enable'] }}</td>
        </tr>
        {% endfor %}
		
    </table>
</div>
{% if pgroup_list and pgroup_list.has_other_pages %}
        <!------ BEGIN PAGINATOIN ----->
		{{ paginator(pgroup_list) }}
		<!----- END PAGINATOIN -------->
    {% endif %}
{% endblock table %}
<!------------------ END PEOPLE TABLE --------------------------->


<!--------- BEGIN EXTRA SCRIPTS ------>
{% block extra_scripts %}
<script>
	$(document).ready(function () {
		$("input").keypress(function(event) {
			if (event.which == 13) {
				event.preventDefault();
				$("#pg_filter").submit();
			}
		});

		//BEGIN DATATABLE INITIALIZATION
		var table = $('#pgroup_table').DataTable({
			orderCellsTop: true,
			fixedHeader: true,
			paging: false,
			scrollCollapse: true,
			language: {
				searchPlaceholder: "Search local"
			},
			dom:"<'row'" +
                "<'col-sm-6 d-flex align-items-center justify-conten-start'f>" +
                "<'col-sm-6 d-flex align-items-center justify-content-end'B>" +
                ">" +

                "<'table-responsive'tr>",
			buttons:[
				{
					text:`Add New &nbsp;<i class='fas fa-plus ch4'></i></a>`,
					className:'btn btn-sm btn-success btn-hover-rise',
					action: function(e, dt, node, config){
        				window.location.href = "{{ url('peoples:pgroup_form') }}";
					}
				}
			]

		})
		//END DATATABLE INITIALIZATION

		//BEGIN STYLING DATATABLE
		$("th > input").addClass('form-control')
		$("th > input").css('height', '35px')
		var styles = {
			"border-bottom": "none",
			"background-color": "#f1f4f7"
		}
		$('#pgroup_table thead tr:eq(1)').css(styles)
		//END STYLING DATATABLE
	});
</script>
{% endblock extra_scripts %}
<!-------- END EXTRA SCRIPTS --------->