{% extends "base_list.html" %}

<!---- BEGIN CARD TITLE ------>
{% block card_title %}
Buisiness Units
{% endblock card_title %}
<!----- END CARD TITLE -------->

<!----------- BEGIN PAGE BREADCUMBS ----------->
{% block pagebreadcumb %}
{{ super() }}
<li class="breadcrumb-item pe-3"><a href="{{ url('onboarding:bu') }}?template=true" class="pe-3">Bu List</a></li>
{% endblock pagebreadcumb %}
<!----------- END PAGE BREADCUMBS ------------->

<!------------------ BEGIN BU TABLE ------------------------->
{% block table %}
<div class="table-responsive">
	<table id="bt_table" class="display compact cell-border" style="width:100%">
		<thead class="fw-bold fs-6">
			<th>Id</th>
			<th>Code</th>
			<th>Name</th>
			<th>Type</th>
			<th>Enable</th>
			<th>Belongs To</th>
			<th>Site Type</th>
		</thead>
	</table>	
</div>
{% endblock table %}
<!------------------ END BU TABLE --------------------------->

<!--------- BEGIN EXTRA SCRIPTS ----------------------------->
{% block extra_scripts %}
<script>
	$(document).ready(function () {
		//BEGIN DATATABLE INITIALIZATION
		var table = $('#bt_table').DataTable({
			ajax:{
				url: '{{ url("onboarding:bu") }}?action=list',
			},
			deferRender: true,
			responsive : true,
			language: {
				searchPlaceholder: "Search keyword"
			},
			columns     : [
                { "data": "id" },
                { "data": "bucode" },
                { "data": "buname" },
                { "data": "identifier__tacode" },
                { "data": "enable" },
                { "data": "parent__bucode" },
                { "data": "butype__tacode" },
            ],
			columnDefs:[
				{targets:0, visible:false, searchable:false, orderable:false},
				{
					targets: 1,
					data   : 'bucode',
					render : function ( data, type, row, meta ) {
						return `<a href={{ url('onboarding:bu') }}?id=${row['id']}>${data}</a>`
					}
				}
			],
			dom       : `<'row' <'col-sm-6 d-flex justify-content-start'f> <'col-sm-6 d-flex justify-content-end'B> >rt<'row'
			<'col-sm-6'l> <'col-sm-6'p><'col-sm-12 d-flex justify-content-center'i>>`,
			buttons:[
				{
					text     : `Add New &nbsp;<i class='fas fa-plus ch4'></i></a>`,
					className: "btn btn-sm btn-light-primary",
					//action for add_new_button 
					action: function(e, dt, node, config){
						location.href =  "{{ url('onboarding:bu_form') }}?action=form"
					}
				}
			]	
		})
		//END DATATABLE INITIALIZATION

	});
</script>
{% endblock extra_scripts %}
<!-------- END EXTRA SCRIPTS ------------------------------->