{% extends "base_form.html" %}


{% block extra_css %}
<link  href="{{ static('assets/plugins/custom/DataTables/datatables.min.css') }}" rel="stylesheet" type="text/css"/>
{{ importform.media.css }}
<style>
.vl {
  border-right: 1px solid grey;
}
</style>

<div class="vl"></div>
{% endblock extra_css %}

<!-------------------------- BEGIN PAGE BREADCUMB ----------------------->
{% block pagebreadcumb %}
<!--will call parent contents -->
{{ super() }}
<li class="breadcrumb-item pe-3"><a href="{{ url('home') }}?template=true" class="pe-3">Home</a></li>
<li class="breadcrumb-item pe-3"><a href="javascript:void(0)" class="pe-3">Import Export</a></li>
{% endblock pagebreadcumb %}
<!-------------------------- END PAGE BREADCUMB ------------------------->


<!------ BEGIN FORM TITLE ------->
{% block form_title %}
Import Data
{% endblock form_title %}
<!------ END FORM TITLE -------->   


{% block form %}
<div class="row">
    <div class="col-md-4">
        <form action="" method="post" id="id_import_form" enctype="multipart/form-data">
            <input type="hidden"  name="csrfmiddlewaretoken" value="{{ csrf_token }}">
            <div class="row mb-3">
                <div class="col-md-6 mb-3">
                    {{ importform.table.label_tag() }}
                </div>
                <div class="col-md-6 mb-3">
                    {{ importform.table }}
                </div>
                <div class="col-md-6 mb-3">
                    {{ importform.importfile.label_tag() }}
                </div>
                <div class="col-md-6 mb-3">
                    {{ importform.importfile }}
                </div>
            </div>
            <button type="submit"  class="btn btn-sm btn-secondary" form= "id_import_form">Import Data</button>
        </form>
    </div>
    
    <div class="col-md-1 vl"></div>
    
    <div class="col-md-7">
        <table id="import_data_table">

        </table>
    </div>
</div>
{% endblock form %}



{% block extra_scripts %}
<script src="{{ static('assets/plugins/custom/DataTables/datatables.min.js') }}" type="text/javascript"></script>
<script>
    var _columns = {{ columns |default ("[]") | tojson }}
    const DATA = {{ data |default ("[]") | tojson }}
    
    $(document).ready(function (){
        
        //file data
        var fd = new FormData();
        fd.append('table', $("#id_table").val())
        const input = document.querySelector('#id_importfile');
        fd.append('importfile', input.files[0]);
        //fd.append('importfile', $('#importfile')[0].files)

        //DataTable configuration
        $("#import_data_table").DataTable({
            data       : JSON.parse(DATA),
            columns    : JSON.parse(_columns),
            deferRender: true,
            responsive : true,
            dom        : `<'row' <'col-sm-6 d-flex justify-content-start'f> <'col-sm-6 d-flex justify-content-end'B> >rt<'row'
                <'col-sm-6'l> <'col-sm-6'p><'col-sm-12 d-flex justify-content-center'i>>`,
        })

        /*//submit form with data-file
        $("#id_import_form").on('submit', (e) => {
            //e.preventDefault()

            //file data
            var fd = new FormData();
            fd.append('table', $("#id_table").val())
            const input = document.querySelector('#id_importfile');
            fd.append('importfile', input.files[0]);
            fd.append('csrfmiddlewaretoken', '{{ csrf_token }}');
            //fd.append('importfile', $('#importfile')[0].files)
            
            
            const params = {
                url: "{{ url('onboarding:import') }}",
                modal:false,
            }
            const payLoad = {formData: fd, csrfmiddlewaretoken:'{{ csrf_token }}'}
            
            Swal.fire({
                title:"Submit",
                text:'Are you sure the the file you uploading has correct data?',
                icon:'question',
                showCancelButton:true,
                confirmButtonText:'Yes Upload it!'
            }).then((res) => {
                /*$.ajax({
                    url        : params.url,
                    data       : fd,
                    //contentType: false,
                    //processData: false,
                    type: 'POST',
                    method:'post',
                    success:function(res){
                        console.log(res)
                    }
                })
                fetch(params.url, {
                    method:'POST',
                    body:fd,
                }).then(res => {
                    console.log(res.json())
                })
            })*/
        })
</script>
{% endblock extra_scripts %}
