{% extends "base_form.html" %}

<!-------------------------- BEGIN PAGE BREADCUMB ----------------------->
{% block pagebreadcumb %}
<!--will call parent contents -->
{{ super() }}
<li class="breadcrumb-item pe-3"><a href="{{ url('onboarding:bu_list') }}" class="pe-3">Shift List</a></li>
<li class="breadcrumb-item pe-3"><a href="javascript:void(0)" class="pe-3">Shift Form</a></li>
{% endblock pagebreadcumb %}
<!-------------------------- END PAGE BREADCUMB ------------------------->


<!-------------  BEGIN POP-UPS CODE -------------->
{% block popup_alerts %}
{{ super()  }}
{% if edit is defined %}
<!-- to delete an instance with popup_alert pass the delete_url_name, instance_id, popup_title, popup_id -->
{% call general_popup(title="Delete", popup_id="delete_alert") %}
<div class="modal-body">
    <h4>Are you sure, you want to delete this?</h4>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">No Go back</button>
    <a href="{{ url('onboarding:shift_delete', args=[shift_form.instance.id]) }}"
        class="btn btn-sm  btn-danger rounded-1">Yes I'm Sure</a>
</div>
{% endcall %}
{% endif %}
{% endblock popup_alerts %}
<!-------------  END POP-UPS CODE -------------->


<!---- BEGIN PAGE TITLE --->
{% block form_title %}
Create Shift
{% endblock form_title %}
<!---- END PAGE TITLE ---->


<!--------- BEGIN NON FIELD ERRORS -------->
{% block nonfield_errors %}
{% if shift_form.non_field_errors() %}
<div id="non_field_error" class="alert alert-danger" style="width: 73%;">
    {% for error in shift_form.non_field_errors() %}
    {{ error }}
    {% endfor %}
    <button type="button" class="btn-close flt-right" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}
{% endblock nonfield_errors %}
<!---------- END NON FIELD ERRORS --------->



<!-------------- BEGIN FORM ------------------->
{% block form %}
<form action="" method="post" id="id_shiftform">
    <!-------------------------- CSRF MIDDLEWARE TOKEN --------------------->
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
    <div class="mb-3 row g-3 gx-6">
        <!--SHIFTNAME-->
        <label class="required col-form-label col-md-2 col-sm-2 text-sm-right" for="id_shift_form-shiftname">Shift Name:
            <span class="material-icons-outlined h-19px" style="vertical-align: middle; font-size: 19px;"
                data-bs-toggle="tooltip" data-bs-custom-class="tooltip" data-bs-placement="top"
                title="Display name of the shift">
                info
            </span>
        </label>
        <div class="col-md-4">
            {{ shift_form.shiftname }}
        </div>
        <!--STARTTIME-->
        <label class="required col-form-label col-md-2 col-sm-2 text-sm-right" for="id_shift_form-starttime">Start Time:
            <span class="material-icons-outlined h-19px" style="vertical-align: middle; font-size: 19px;"
                data-bs-toggle="tooltip" data-bs-custom-class="tooltip" data-bs-placement="top"
                title="Enter starttime of shift">
                info
            </span>
        </label>
        <div class="col-md-4">
            {{ shift_form.starttime }}
        </div>
        <!--CAPCTCHA FREQUENCY-->
        <label class="required col-form-label col-md-2 col-sm-2 text-sm-right"
            for="id_shift_form-captchafreq">Captchafreq:
            <span class="material-icons-outlined h-19px" style="vertical-align: middle; font-size: 19px;"
                data-bs-toggle="tooltip" data-bs-custom-class="tooltip" data-bs-placement="top" title="">
                info
            </span>
        </label>
        <div class="col-md-4">
            {{ shift_form.captchafreq }}
        </div>
        <!--ENDTIME-->
        <label class="required col-form-label col-md-2 col-sm-2 text-sm-right" for="id_shift_form-endtime">End Time:
            <span class="material-icons-outlined h-19px" style="vertical-align: middle; font-size: 19px;"
                data-bs-toggle="tooltip" data-bs-custom-class="tooltip" data-bs-placement="top"
                title="Enter endtime of shift">
                info
            </span>
        </label>
        <div class="col-md-4">
            {{ shift_form.endtime }}
        </div>
    </div>
</form>

{% endblock form %}
<!------------- END FORM ---------------------->




<!-------------- BEGIN FORM PAGE ACTIONS --------->
{% block formpage_actions %}
{% if request.session['wizard_data'] is defined %}
<!--- BEGIN wizard Controls --->
{{ super() }}
<!-- END wizard Controls ------>
{% else %}
<!--- BEGIN Normal Form Controls -->
{% if edit is defined %}
{{ form_update('id_shiftform', popup_id="delete_alert") }}
{% else %}
{{ form_create('id_shiftform') }}
{% endif %}
<!----- END Normal Form Controls --->

{% endif %}
{% endblock formpage_actions %}
<!---------------- END FORM PAGE ACTIONS ----------->



<!--------------- BEGIN PAGE-LEVEL EXTRA SCRIPTS --------------->
{% block extra_scripts %}
<script>
    $(document).ready(function () {
        //hide the delete button when instance is not saved yet.
        if ('{{shift_form.instance.id}}' == 'None') {
            $("#btn_del").hide()
        }
        //adding time widget to starttime and endtime
        $('#id_starttime, #id_endtime').flatpickr({
            enableTime: true,
            noCalendar: true,
            dateFormat: "H:i"
        })
        //hide next btn if instance is not saved yet
        if (session['wizard_data'] && session['wizard_data']['shiftids'].length == 0) {
            $('#next_btn').hide()
        }

    })
</script>
{% endblock extra_scripts %}
<!--------------- END PAGE-LEVEL EXTRA SCRIPTS --------------->