@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
html * {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
.menu-item.menu-accordion.show {
    border-left: 4px solid #489edb;
}
table.dataTable.cell-border tbody tr th:first-child,
table.dataTable.cell-border tbody tr td:first-child {
    border-left: 1px solid #e7e7e7;
}
table.dataTable.cell-border tbody th,
table.dataTable.cell-border tbody td {
 border-top:1px solid #ddd;
 border-right:1px solid #1c1c31;
}
table.dataTable.cell-border tbody th,
table.dataTable.cell-border tbody td {
 border-top:1px solid #fff;
 border-right:1px solid #e5e5e5;
}
.dtsb-delete.dtsb-button, .dtsb-clearAll {
    margin-right: 0.75rem!important;
}

.dt-button-collection.dtb-collection-closeable, .dt-button-collection.fixed.columns{
    padding: 0.75rem!important;
}
button.dtsb-button, button.dt-button {
    background-color: #ffffff!important;
    background: none!important;
}

div.dt-button-collection button.dt-button.active:not(.disabled){
    box-shadow: inset 1px 1px 3px #01579b;
}

tr.odd td {
    background-color: #ffffff;
}
tr.even td {
    background-color:#F3F6F8 ;
   }
.dataTable thead th {
background-color:#01579b;
}
.fs-9{
    font-size: 7px;
}

.btn:not(.btn-outline):not(.btn-dashed):not(.border-hover):not(.border-active):not(.btn-flush):not(.btn-icon){
    padding: 7px;
}
      
th {
    border: 0.5px solid #c3c4ca;
    color:#ffffff;  
  }
thead tr th:first-child{
    border-left: 2px solid #1c1c31;
}
thead tr th:last-child{
    border-right: 2px solid #1c1c31;
}
table.dataTable.no-footer {
    border-bottom:1px solid #a9a9b7;
   }
td {word-wrap: break-word}

thead > tr {
	height: 40px;
}
td.details-control {
    background: url('https://www.datatables.net/examples/resources/details_open.png') no-repeat center center;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url('https://www.datatables.net/examples/resources/details_close.png') no-repeat center center;
}


td.details-control1 {
    background: url('https://www.datatables.net/examples/resources/details_open.png') no-repeat center center;
    cursor: pointer;
}
tr.shown td.details-control1 {
    background: url('https://www.datatables.net/examples/resources/details_close.png') no-repeat center center;
}


.dataTables_wrapper .dataTables_filter input {
width: 350px;

}
.dataTables_wrapper .dataTables_filter input:focus{
    border-color: #c3c4ca;
}
input.form-control {
    color: #495057;
}

select {
    border: 1px solid #ced4da;
}


/*Disable pointer events when sidebar minimized*/
body[data-kt-aside-minimize="on"]>.menu-item {
    pointer-events: none;
    cursor: default;
}

html, body {
    font-size: 14px;
}

/* for form buttons */
.w-87px {
    width: 87px;
}

.w-96px {
    width: 96px;
}
.uppercase{
    text-transform: uppercase;
}
.errorlist{
    list-style: none;
    padding: 0px;
}
.errorlist > li, p.errors{
    color:red;
	font-size: 15px;
}
#alert_msg, #non_field_error{
    letter-spacing: .1rem;
}
.btn-primary2{
    background-color: #01579B;
    color: white;
}
.btn-primary2:hover{
    background-color: #1175c1;
    color: white;
}
.float-right{
    float: right;
}
.breadcrumb > li > a {
	color: #707478;
}
.breadcrumb > li:not(:last-child) > a:hover{
	color: #01adf3;
}
.breadcrumb > li:last-child{
    pointer-events: none;
}
.flt-right{
    float: right;
}
#srchbtn{
    position: relative;
    background: none;
    border: none;
    
}
#col-category{
    border: none;
    border-radius: 0%;
    border-right: 1px solid #ced4da;
    columns: red;
    
}
#searchinp{
    border: none;
}
.searchwrapper{
    border-radius: 2%;
    border: 1px solid #ced4da;
}
input[type='checkbox']{
    background-color: rgb(46, 99, 138);
}

.primary-col{
    color: #2e638a;
}
.title-col{
    color: #3f414c;
}
.select2-container--bootstrap5 .select2-selection--single .select2-selection__rendered {
    color: #495057;
}


h6 > ol > li {
    color: #3F4254;
}
.flatpickr-time > .time24hr{
    border: 2px solid #3F4254;
}
.ch4{
    color:#3a3b40de;
    font-size: 1.4rem;
}
.ch5{
    color:#3a3b40de;
    font-size: 1.7rem;
}

@media(min-width: 992px){
    .aside .aside-menu {
        width:220px
    }
}


@media(min-width:992px){
    .aside {
        width: 223px;
        transition: width 0.3s ease;
    }
}

@media(min-width:992px){
    .aside-enabled.aside-fixed.header-fixed .header {
        left: 198px;
        transition: left 0.3s ease;
    }
}

@media (min-width: 992px){
    .aside-enabled.aside-fixed .wrapper {
        transition: padding-left 0.3s ease;
        padding-left: 210px;
    }
}

@media(min-width:992px){
    .aside-enabled.aside-fixed.toolbar-fixed .toolbar {
        left: 198px;
        transition: left 0.3s ease;
    }
}



body{
    overflow: auto;
}
li.page-item{
    z-index: 0;
}
div#kt_footer {
    position: fixed;
    height: 25px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}

.modal-heading{
    font-weight: 500;
    font-size: 1.275rem;
    color: #181C32;
}

.modal-80{
    width: 80%!important;
}

input{
    height: 3.2rem;
}
th > input{
    height: 2.1rem;
}

.tagify__tag-text{
    color: rgba(0, 0, 0, 0.822);
    font-size: 1.0rem;
}

.dataTableLayout {
    table-layout:fixed;
    width:100%;
}



.form-check-input[type="radio"]{
    width: 1.5rem;
    height: 1.5rem;
}
.flatpickr-day.today{
    background: #d7efff;
}

.my-shadow{
    box-shadow:0 0.1rem 1rem 0.5rem rgba(0, 0, 0, 0.05) !important
}
table.dataTable.compact tbody td.select-checkbox::before,
table.dataTable.compact tbody th.select-checkbox::before{
    margin-top: -6px;
}
table.dataTable.compact tr.selected td.select-checkbox::after,
table.dataTable.compact tr.selected th.select-checkbox::after {
	
	margin-top: -0px;
}
table.dataTable.display tbody tr.selected {
    color: black;
    background-color: #360d33;
}

.was-validated  .form-control-solid.is-invalid {
	border-color: #F1416C;
	padding-right: calc(1.5em + 1.5rem);
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23F1416C'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23F1416C' stroke='none'/%3e%3c/svg%3e");
	background-repeat: no-repeat;
	background-position: right calc(0.375em + 0.375rem) center;
	background-size: calc(0.75em + 0.75rem) calc(0.75em + 0.75rem);
}
[disabled~="disabled"], [disabled], .disabled, select[disabled] {
    cursor:  not-allowed!important
 }

 .was-validated .form-control-solid:invalid, .form-control-solid.is-invalid{
    border-color: #F1416C;
    padding-right: calc(1.5em + 1.5rem);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23F1416C'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23F1416C' stroke='none'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(0.375em + 0.375rem) center;
    background-size: calc(0.75em + 0.75rem) calc(0.75em + 0.75rem);
 }

 .form-switch.form-check-solid .form-check-input{
     background-color: #9899AC;
 }
 .form-switch.form-check-solid .form-check-input {
	height: 1.8rem;
}


div.dataTables_processing > div:last-child > div {
position: absolute;
top: 0;
width: 13px;
height: 13px;
border-radius: 50%;
background: #b6b7b7;
animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

table.dataTable tbody tr.selected > * {
box-shadow: inset 0 0 0 9999px #b6b7b7;
color: white;
}
table.dataTable.stripe > tbody > tr.odd.selected > *, table.dataTable.display > tbody > tr.odd.selected > * {
box-shadow: inset 0 0 0 9999px #b6b7b7;
}
table.dataTable.hover > tbody > tr.selected:hover > *, table.dataTable.display > tbody > tr.selected:hover > * {
box-shadow: inset 0 0 0 9999px #b6b7b7;
}

table.dataTable.order-column > tbody tr.selected > .sorting_1,
table.dataTable.order-column > tbody tr.selected > .sorting_2,
table.dataTable.order-column > tbody tr.selected > .sorting_3, table.dataTable.display > tbody tr.selected > .sorting_1,
table.dataTable.display > tbody tr.selected > .sorting_2,
table.dataTable.display > tbody tr.selected > .sorting_3 {
box-shadow: inset 0 0 0 9999px #b6b7b7;
}

table.dataTable.display > tbody > tr.odd.selected > .sorting_1, table.dataTable.order-column.stripe > tbody > tr.odd.selected > .sorting_1 {
box-shadow: inset 0 0 0 9999px #b6b7b7;
}
table.dataTable.display > tbody > tr.odd.selected > .sorting_2, table.dataTable.order-column.stripe > tbody > tr.odd.selected > .sorting_2 {
box-shadow: inset 0 0 0 9999px #b6b7b7;
}
table.dataTable.display > tbody > tr.odd.selected > .sorting_3, table.dataTable.order-column.stripe > tbody > tr.odd.selected > .sorting_3 {
box-shadow: inset 0 0 0 9999px #b6b7b7;
}

table.dataTable.display > tbody > tr.even.selected > .sorting_1, table.dataTable.order-column.stripe > tbody > tr.even.selected > .sorting_1 {
box-shadow: inset 0 0 0 9999px #b6b7b7;
}
table.dataTable.display > tbody > tr.even.selected > .sorting_2, table.dataTable.order-column.stripe > tbody > tr.even.selected > .sorting_2 {
box-shadow: inset 0 0 0 9999px #b6b7b7;
}
table.dataTable.display > tbody > tr.even.selected > .sorting_3, table.dataTable.order-column.stripe > tbody > tr.even.selected > .sorting_3 {
box-shadow: inset 0 0 0 9999px #b6b7b7;
}

table.dataTable.display tbody tr:hover.selected > .sorting_1, table.dataTable.order-column.hover tbody tr:hover.selected > .sorting_1 {
box-shadow: inset 0 0 0 9999px #b6b7b7;
}
table.dataTable.display tbody tr:hover.selected > .sorting_2, table.dataTable.order-column.hover tbody tr:hover.selected > .sorting_2 {
box-shadow: inset 0 0 0 9999px #b6b7b7;
}
table.dataTable.display tbody tr:hover.selected > .sorting_3, table.dataTable.order-column.hover tbody tr:hover.selected > .sorting_3 {
box-shadow: inset 0 0 0 9999px #b6b7b7;
}

tr.selected td a{
    color: white;
}
tr.disabled-record td {
    
    color: white;
    text-decoration: line-through;
    background-image:linear-gradient(rgb(209, 209, 209), #979797) !important;
}

tr.disabled-record td a {
    color: white;
}

.pac-container {
	background-color: #FFF;
	z-index: 20;
	position: fixed;
	display: inline-block;
	float: left;
}
.modal{
	z-index: 20;   
}
.modal-backdrop{
	z-index: 10;        
}
.counter {
    background-color: #f5f5f5;
    padding: 20px 0;
    border-radius: 5px;
}

.count-title {
    font-size: 30px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
}

.count-text {
    font-size: 13px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
}

.fa-2x {
    margin: 0 auto;
    float: none;
    display: table;
    color: #0abffc;
}

.bg-gradient-primary {
    color: linear-gradient(45deg,#4099ff,#73b4ff);;
}

.bg-gradient-warning {
    color: linear-gradient(45deg,#FFB64D,#ffcb80);
}

.bg-gradient-success {
    color: linear-gradient(45deg,#2ed8b6,#59e0c5);
}

.bg-gradient-danger {
    color: linear-gradient(45deg,#FF5370,#ff869a);
}

.yicon {
    font-size: 30px !important;
}
.yiconpadd{
    padding-left: 15px !important;
}

.badge-orange{
    background-color: orange;
}

.aside.aside-dark{
    background-color: #01579B;
}

.aside.aside-dark .aside-logo {
    background-color: #01579B;
}

.text-primary2{
    color: #01579B;
}

.dataTables_scrollBody table thead {
    visibility: hidden;
    line-height: 0px;
}

@media screen and (min-width: 721px) and (max-width: 1280px) {
    table thead tr th, table tbody tr td {
        font-size: 10px;
    }
}

table.dataTable tbody th,
table.dataTable tbody td {
    white-space: nowrap;
}




.aside-dark .menu .menu-item .menu-link{
    color: white;
}

.aside.aside-dark .aside-toggle svg [fill]:not(.permanent):not(g) {
    transition: fill 0.3s ease;
    fill: #ffffff;
}

.aside-dark .menu .menu-item .menu-link .menu-title {
    color: #ffffff;
}

.y-primary{
    color: #01579b;
}

.count-item:hover, .ci:hover {
background-color: #e8f6ff !important;
cursor: pointer;
}
/*Select2 ReadOnly Start*/

select[readonly].select2-hidden-accessible + .select2-container {
    pointer-events: none;
    touch-action: none;
}

select[readonly].select2-hidden-accessible + .select2-container .select2-selection {
    background: #eee;
    box-shadow: none;
}

select[readonly].select2-hidden-accessible + .select2-container .select2-selection__arrow, select[readonly].select2-hidden-accessible + .select2-container .select2-selection__clear {
    display: none;
}
/*Select2 ReadOnly End*/
.readonly-select{
    pointer-events: none;
}


.d-flex > .y-active{
    border-bottom: 3px solid red;
}

.modal-content.ui-resizable, .DTED_Lightbox_Content.ui-resizeable {
    overflow: scroll;
  }

  .responsive-image {
    max-width: 100%;
    height: auto;
  }

  .custom-list-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }
  .custom-list-group > li:nth-child(2) {
    flex-basis: 48%;
  }

  .text-purple{
    color: purple;
  }
  