{% extends "onboarding/client_onboarding/base_wizard_form.html" %}

<!----------- BEGIN FORM MESSGES --------------->
{% block form_msgs %}
	{% for msg in get_msgs(request) %}
	<div class="alert {% if msg.tags %} {{ msg.tags }} {% endif %} " id="alert_msg" style="width:73%; ">
		{{ msg }}
		<button type="button" class="btn-close flt-right" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
	{% endfor %}
    <p>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p>

{% endblock form_msgs %}
<!----------- END FORM MESSGES ----------------->

{% block form_title %}
Create Site
{% endblock form_title %}

<!-------------- BEGIN FORM ------------------->
{% block custom_form %}
		<div class="mb-3 row g-3 gx-6">
			<!--BUCODE-->
			{{ wizard.form.bucode.label_tag() }}
			<div class="col-md-4">
				{{ wizard.form.bucode }}
			</div>
			<!--BUNAME-->
			{{ wizard.form.buname.label_tag() }}
			<div class="col-md-4">
				{{ wizard.form.buname }}
			</div>
			<!--PARENT-->
			{{ wizard.form.parent.label_tag() }}
			<div class="col-md-4">
				{{ wizard.form.parent }}
			</div>
			<!--BUTYPE-->
			{{ wizard.form.butype.label_tag() }}
			<div class="col-md-4">
				{{ wizard.form.butype }}
			</div>
			<!--GPS LOCATION-->
			{{ wizard.form.gpslocation.label_tag() }}
			<div class="col-md-4">
				{{ wizard.form.gpslocation }}
			</div>
			<div class="booleans col-md-6 d-flex justify-content-sm-between mt-5">
				<label for="{{ wizard.form.iswarehouse.id_for_label }}"
				class="form-check-label bool col-form-label me-5 text-sm-right">
				{{ wizard.form.iswarehouse }} &nbsp; {{ wizard.form.iswarehouse.label }} </label>
				<label for="{{ wizard.form.is_serviceprovider.id_for_label }}"
				class="form-check-label bool col-form-label me-5 text-sm-right">
				{{ wizard.form.is_serviceprovider }} &nbsp; {{ wizard.form.is_serviceprovider.label }} </label>
				<label for="{{ wizard.form.isvendor.id_for_label }}"
				class="form-check-label bool col-form-label me-5 text-sm-right">
				{{ wizard.form.isvendor }} &nbsp; {{ wizard.form.isvendor.label }} </label>
				<label for="{{ wizard.form.enable.id_for_label }}"
				class="form-check-label bool col-form-label me-5 text-sm-right">
				{{ wizard.form.enable }} &nbsp; {{ wizard.form.enable.label }} </label>
			</div>
		</div>
		<input type="submit" value="Next">
{% endblock custom_form %}
<!------------- END FORM ---------------------->