{% extends "base_list.html" %}

{% block card_title %}
 PPM List
{% endblock card_title %}

{% block extra_css %}
<style>

</style>
{% endblock extra_css %}


{% block pagebreadcumb %}
{{ super() }}
<li class="breadcrumb-item pe-3"><a href="javascript:void(0)" class="pe-3">PPM List</a></li>
{% endblock pagebreadcumb %}

{% block breadcumbactions %}
<div class="d-flex">
    <h5 class="me-4" ><a id="schedule_ppm" href="javascript:void(0)" class="border-bottom border-primary border-3">Schedule</a></h5>
    <h5 ><a id="ppm_planner" class="border-bottom border-primary border-3" href="javascript:void(0)">Planner</a></h5>
</div>
{% endblock breadcumbactions %}


{% block table %}
<table id="jobneedppm_table" class="display compact cell-border">
</table>
<table id="jobppm_table" class="display compact cell-border">
</table>

{% endblock table %}


{% block extra_scripts %}
<script>
    var jnppm_table, jb_table;
    var from_pd, to_pd;
    var current_sel_jobstatus = 'NONE';
    function initSelectField(){
        let html = 
                `<label>Status:&nbsp;</label>
                <select name="choice" id="custom_jobstatus" style="width:100%" class="form-select">
                <option value="NONE">-------------------</option>
                {% for opt in status_options %}
                <option value="{{ opt[0] }}">{{ opt[1] }}</option>
                {% endfor %}
                </select>`
        $("div.jobstatusSelect").append(html)
    }

    function initJobneedPPM() {
        // Initialize table 1
        jnppm_table = $("#jobneedppm_table").DataTable({
            ajax:{
                url:"{{ url('activity:ppm') }}?action=jobneed_ppmlist",
                data:function(d){
                    d.sel_jobstatus = current_sel_jobstatus
                    d.pd1 = from_pd,
                    d.pd2 = to_pd
                }
            },
            deferRenderer:true,
            search      : {return: true},
            language: {
                search:"",
                searchPlaceholder: 'Enter search term here...'
            },
            pageLength:19,
            lengthMenu: [[10, 20, 30], [10, 20, 30]],
            dom:`<'row' <'col-sm-6 d-flex justify-content-start'<'jobstatusSelect d-flex align-items-center mt-2 me-2'><'customfields'>f>  <'col-sm-6 d-flex justify-content-end'B> >rt<'row'
			 <'col-sm-6'l> <'col-sm-6'p><'col-sm-12 d-flex justify-content-center'i>>`,
            columns:[
                {data:'id', visible:false},
                {data:'plandatetime', title:'Plandatetime'},
                {data:'jobdesc', title:'Description', visible:false},
                {title: 'People/Group', data:'assignedto'},
                {data: 'performedby__peoplename', title: 'Performed By'},
                {data: 'asset__assetname', title: 'Asset/SmartPlace'},
                {data: 'qset__qsetname', title: 'Questionset'},
                {data:'frequency', title:"Frequency"},
                {data:'expirydatetime', title:"Exp Datetime"},
                {data:'gracetime', title:"Gracetime"},
                {data:'gpslocation', title:"GPS", visible:false},
            ],
            buttons:[],
            initComplete:function(){
                //populate dropdown field
                $("#custom_jobstatus").change(() => {
                    var jobstatus = $("#custom_jobstatus").val()
                    if(jobstatus !=  current_sel_jobstatus){
                        current_sel_jobstatus = jobstatus
                        jnppm_table.ajax.reload()
                    }
                })
            }
        })

        //add input field to the datatables dom
        initDateRangeHtml()
        initSelectField()
        initDateRange("#id_daterange").on('apply.daterangepicker', function(e, picker){
            from_pd = picker.startDate.format('YYYY-MM-DD');
            to_pd = picker.endDate.format('YYYY-MM-DD');
            //table = 
            jnppm_table.ajax.reload()
        })
        $("#schedule_ppm").removeClass("border-bottom")
        $("#jobppm_table").hide()
        jb_table ? jb_table.destroy() : {}
        $("#ppm_planner").addClass("border-bottom")
        $("#jobneedppm_table").show()
    }

    function initJobPPM() {
        // Initialize table 2
        jb_table = $("#jobppm_table").DataTable({
            ajax:{
                url:"{{ url('activity:ppm') }}?action=job_ppmlist",
                data:function(d){
                    d.from = from_pd,
                    d.upto = to_pd
                }
            },
            deferRenderer:true,
            search      : {return: true},
            language: {
                search:"",
                searchPlaceholder: 'Enter search term here...'
                },
            pageLength:19,
            lengthMenu: [[10, 20, 30], [10, 20, 30]],
            dom:`<'row' <'col-sm-6 d-flex justify-content-start'<'customfields2'>f> <'col-sm-6 d-flex justify-content-end'B> >rt<'row'
			 <'col-sm-6'l> <'col-sm-6'p><'col-sm-12 d-flex justify-content-center'i>>`,
            columns:[
                {data:'id', visible:false},
                {data:'jobname', title:'Name'},
                {data:'asset__assetname', title:'Asset'},
                {data: 'qset__qsetname', title: 'Questionset'},
                {title: 'People/Group', data:'assignedto'},
                {title: 'From', data:'fromdate'},
                {title: 'To', data:'uptodate'},
                {data:'planduration', title:"Duration"},
                {data:'expirytime', title:"Exp Time"},
                {data:'gracetime', title:"Gracetime"},
            ],
            columnDefs:[
                {targets:[1], render:function(data, type, row, meta){
                    let url = "{{ url('activity:ppm') }}"
                    return `<a href="${url}?id=${row['id']}">${data}</a>`
                }}
            ],
            buttons:[
                {
                    text:`Add New &nbsp;<i class='fas fa-plus ch4'></i></a>`,
                    className: "btn btn-sm btn-light-primary",
                    action: function(e, dt, node, config){
                        //This will send the page to the location specified
                        console.log("hitted success")
                        window.location.href = "{{ url('activity:ppm') }}?action=form";
                    }
                }
            ]
        })
        initDateRangeHtml('div.customfields2', 'id_daterange2')
        initDateRange("#id_daterange2").on('apply.daterangepicker', function(e, picker){
            from_pd = picker.startDate.format('YYYY-MM-DD');
            to_pd = picker.endDate.format('YYYY-MM-DD');
            //table = 
            jb_table.ajax.reload()
        })
        $("#ppm_planner").removeClass("border-bottom")
        $("#jobneedppm_table").hide()
        jnppm_table ? jnppm_table.destroy() : {}
        $("#schedule_ppm").addClass("border-bottom")
        $("#jobppm_table").show()
    }


    
    $(document).ready(() => {
        
        
        initJobneedPPM()

        $("#ppm_planner").click(() => {
            initJobneedPPM()
        })
        $("#schedule_ppm").click(() => {
            initJobPPM()
        })
        
    })
</script>
{% endblock extra_scripts %}