<!-------------------- BEGIN PAGINATOR MACRO ------------------------->
{% macro paginator(list) %}
<div class="d-flex justify-content-end my-2 cell-border">
    <ul class="pagination">
        {% if list.has_previous %}
        <li class="page-item"><a class="page-link" href="?page={{ list.previous_page_number }}">&laquo;</a>
        </li>
        {% else %}
        <li class="disabled"><span>&laquo;</span></li>
        {% endif %}

        {% for i in list.paginator.page_range %}
        {% if list.number == i %}
        <li class="active page-item" aria-current="page"><a href="#" class="page-link">{{ i }} </a></li>
        {% else %}
        <li class="page-item"><a class="page-link" href="?page={{ i }}&action=list">{{ i }}</a></li>
        {% endif %}
        {% endfor %}

        {% if list.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ list.next_page_number }}">&raquo;</a></li>
        {% else %}
        <li class="disabled page-item"><span>&raquo;</span></li>
        {% endif %}
    </ul>
</div>
{% endmacro %}
<!------------------- END PAGINATOR MACRO ------------------------>

<div class="menu_bar">
{% block tab_grp %}

{% endblock tab_grp %}
</div>



<div class="container_content">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">
                {% block table_tite %}
                
                {% endblock table_title %}
            </h4>
            <div class="card-body">
                {% block table %}
                
                {% endblock table %}
            </div>
        </div>
    </div>
</div>