{% extends "layout.html" %}

<!----FOR BASE_LEVEL ---->
{% block base_head %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css" type="text/css">
{% endblock base_head %}
<!----END FOR BASE_LEVEL ---->

{% block page_actions %}
<a href=""></a>
{% endblock page_actions %}


{% block pagebody_container %}

<div class="card">
    <!-- BEGIN CARD-BODY-->
    <div class="card-body border pt-0">
        <!--BEGIN CARD-HEADER-->
        <div class="card-header ps-0 mb-0 d-flex justify-content-md-between"
        style="border: 0;">
                <h4 class="card-title ch4">
                    {% block card_title %}
                    {% endblock card_title %}
                &nbsp;<i class="fas fa-th-list fa-sm"></i>
                </h4>
        </div>
        <!--END CARD-HEADER-->
        <div class="table-responsive">
        {% block table %}

        {% endblock table %}
        </div>


    </div>
    <!--END CARD-BODY-->
</div>
{% endblock pagebody_container %}

{% block base_script %}
{{ super() }}
<script type="text/javascript" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/2.0.1/js/dataTables.buttons.min.js"></script>
<script>
$(document).ready(() => {
    $("th > input").css("border-radius", 0)
})
</script>
{% endblock base_script %}

