<div
  class="menu menu-column menu-title-gray-800 menu-state-title-primary menu-state-icon-primary menu-state-bullet-primary menu-arrow-gray-500"
  id="#kt_aside_menu" data-kt-menu="true">
  <div data-kt-menu-trigger="click" id="dashboards" class="menu-item menu-accordion" style="display:none;">
    <span class="menu-link">
      <span class="menu-icon">
        <!--begin::Svg Icon | path: icons/duotone/Communication/Group.svg-->
        <span class="svg-icon svg-icon-2">
          <span class="material-icons">
            home
          </span>
        </span>
        <!--end::Svg Icon-->
      </span>
      <span class="menu-title">Dashboards</span>
      <span class="menu-arrow"></span>
    </span>
    <div class="menu-sub menu-sub-accordion" kt-hidden-height="116" style="display: none; overflow: hidden;">
      <div class="menu-item" id="facility">
        <a class="menu-link" href="apps/customers/getting-started.html">
          <span class="menu-bullet">
            <span class="bullet bullet-dot"></span>
          </span>
          <span class="menu-title">Facility</span>
        </a>
      </div>
      <div class="menu-item" id="security">
        <a class="menu-link" href="apps/customers/list.html">
          <span class="menu-bullet">
            <span class="bullet bullet-dot"></span>
          </span>
          <span class="menu-title">Security</span>
        </a>
      </div>
      <div class="menu-item" id="rp_monitoring">
        <a class="menu-link" href="apps/customers/view.html">
          <span class="menu-bullet">
            <span class="bullet bullet-dot"></span>
          </span>
          <span class="menu-title">RP Monitoring</span>
        </a>
      </div>
    </div>
  </div>
  <div data-kt-menu-trigger="click" id="tasks" class="menu-item menu-accordion" style="display:none;">
    <span class="menu-link">
      <span class="menu-icon">
        <!--begin::Svg Icon | path: icons/duotone/Communication/Group.svg-->
        <span class="svg-icon svg-icon-2">
          <span class="material-icons">task</span>
        </span>
        <!--end::Svg Icon-->
      </span>
      <span class="menu-title">Tasks</span>
      <span class="menu-arrow"></span>
    </span>
    <div class="menu-sub menu-sub-accordion" kt-hidden-height="116" style="display: none; overflow: hidden;">
      <div class="menu-item" id="task">
        <a class="menu-link" href="apps/customers/getting-started.html">
          <span class="menu-bullet">
            <span class="bullet bullet-dot"></span>
          </span>
          <span class="menu-title">Task</span>
        </a>
      </div>
      <div class="menu-item" id="adhoc_task">
        <a class="menu-link" href="apps/customers/list.html">
          <span class="menu-bullet">
            <span class="bullet bullet-dot"></span>
          </span>
          <span class="menu-title">Adhoc Task</span>
        </a>
      </div>
      <div class="menu-item" id="asset_maintainance_log">
        <a class="menu-link" href="apps/customers/view.html">
          <span class="menu-bullet">
            <span class="bullet bullet-dot"></span>
          </span>
          <span class="menu-title">Asset Maintainence Log</span>
        </a>
      </div>
      <div class="menu-item" id="asset_comparision">
        <a class="menu-link" href="apps/customers/view.html">
          <span class="menu-bullet">
            <span class="bullet bullet-dot"></span>
          </span>
          <span class="menu-title">Asset Comparision</span>
        </a>
      </div>
      <div class="menu-item" id="parameter_comparision">
        <a class="menu-link" href="apps/customers/view.html">
          <span class="menu-bullet">
            <span class="bullet bullet-dot"></span>
          </span>
          <span class="menu-title">Parameter Comparision</span>
        </a>
      </div>
    </div>
  </div>
  <div data-kt-menu-trigger="click" id="tours" class="menu-item menu-accordion" style="display:none;">
    <span class="menu-link">
      <span class="menu-icon">
        <!--begin::Svg Icon | path: icons/duotone/Communication/Group.svg-->
        <span class="svg-icon svg-icon-2">
          <span class="material-icons">tour</span>
        </span>
        <!--end::Svg Icon-->
      </span>
      <span class="menu-title">Tours</span>
      <span class="menu-arrow"></span>
    </span>
    <div class="menu-sub menu-sub-accordion" kt-hidden-height="116" style="display: none; overflow: hidden;">
      <div class="menu-item" id="tour">
        <a class="menu-link" href="apps/customers/getting-started.html">
          <span class="menu-bullet">
            <span class="bullet bullet-dot"></span>
          </span>
          <span class="menu-title">Tour</span>
        </a>
      </div>
      <div class="menu-item" id="adhoc_tour">
        <a class="menu-link" href="apps/customers/list.html">
          <span class="menu-bullet">
            <span class="bullet bullet-dot"></span>
          </span>
          <span class="menu-title">Adhoc Tour</span>
        </a>
      </div>
    </div>
  </div>
  <div data-kt-menu-trigger="click" id="help_desk" class="menu-item menu-accordion" style="display:none;">
    <span class="menu-link">
      <span class="menu-icon">
        <!--begin::Svg Icon | path: icons/duotone/Communication/Group.svg-->
        <span class="svg-icon svg-icon-2">
          <span class="material-icons">
            live_help
          </span>
        </span>
        <!--end::Svg Icon-->
      </span>
      <span class="menu-title">HelpDesk</span>
      <span class="menu-arrow"></span>
    </span>
    <div class="menu-sub menu-sub-accordion" kt-hidden-height="116" style="display: none; overflow: hidden;">
      <div class="menu-item">
        <a class="menu-link" id="raise_ticket" href="apps/customers/getting-started.html">
          <span class="menu-bullet">
            <span class="bullet bullet-dot"></span>
          </span>
          <span class="menu-title">Raise Ticket</span>
        </a>
      </div>
      <div class="menu-item" id="tickets">
        <a class="menu-link" href="apps/customers/list.html">
          <span class="menu-bullet">
            <span class="bullet bullet-dot"></span>
          </span>
          <span class="menu-title">Tickets</span>
        </a>
      </div>
    </div>
  </div>
  <div data-kt-menu-trigger="click" id="Workflow" class="menu-item menu-accordion" style="display:none;">
    <span class="menu-link">
      <span class="menu-icon">
        <!--begin::Svg Icon | path: icons/duotone/Communication/Group.svg-->
        <span class="svg-icon svg-icon-2">
          <span class="material-icons">
            account_tree
          </span>
        </span>
        <!--end::Svg Icon-->
      </span>
      <span class="menu-title">Work Flow</span>
      <span class="menu-arrow"></span>
    </span>
    <div class="menu-sub menu-sub-accordion" kt-hidden-height="116" style="display: none; overflow: hidden;">
      <div class="menu-item" id="workflow_template">
        <a class="menu-link" href="apps/customers/getting-started.html">
          <span class="menu-bullet">
            <span class="bullet bullet-dot"></span>
          </span>
          <span class="menu-title">WorkFlow Template</span>
        </a>
      </div>
      <div class="menu-item" id="work_flow">
        <a class="menu-link" href="apps/customers/list.html">
          <span class="menu-bullet">
            <span class="bullet bullet-dot"></span>
          </span>
          <span class="menu-title">WorkFlow</span>
        </a>
      </div>
    </div>
  </div>
  <div data-kt-menu-trigger="click" id="incident_reports" class="menu-item menu-accordion" style="display:none;">
    <span class="menu-link">
      <span class="menu-icon">
        <!--begin::Svg Icon | path: icons/duotone/Communication/Group.svg-->
        <span class="svg-icon svg-icon-2">
          <span class="material-icons">
            report
          </span>
        </span>
        <!--end::Svg Icon-->
      </span>
      <span class="menu-title">Incident Report</span>
      <span class="menu-arrow"></span>
    </span>
    <div class="menu-sub menu-sub-accordion" kt-hidden-height="116" style="display: none; overflow: hidden;">
      <div class="menu-item" id="incident_report">
        <a class="menu-link" href="apps/customers/getting-started.html">
          <span class="menu-bullet">
            <span class="bullet bullet-dot"></span>
          </span>
          <span class="menu-title">Incident Report</span>
        </a>
      </div>
      <div class="menu-item" id="incident_report_advanced">
        <a class="menu-link" href="apps/customers/list.html">
          <span class="menu-bullet">
            <span class="bullet bullet-dot"></span>
          </span>
          <span class="menu-title">Incident Report Advanced</span>
        </a>
      </div>
    </div>
  </div>
  <div data-kt-menu-trigger="click" id="site_survey" class="menu-item menu-accordion" style="display:none;">
    <span class="menu-link">
      <span class="menu-icon">
        <!--begin::Svg Icon | path: icons/duotone/Communication/Group.svg-->
        <span class="svg-icon svg-icon-2">
          <span class="material-icons">
            summarize
          </span>
        </span>
        <!--end::Svg Icon-->
      </span>
      <span class="menu-title">Site Survey</span>
      <span class="menu-arrow"></span>
    </span>
    <div class="menu-sub menu-sub-accordion" kt-hidden-height="116" style="display: none; overflow: hidden;">
      <div class="menu-item" id="site_report">
        <a class="menu-link" href="apps/customers/getting-started.html">
          <span class="menu-bullet">
            <span class="bullet bullet-dot"></span>
          </span>
          <span class="menu-title">Site Report</span>
        </a>
      </div>
      <div class="menu-item" id="conveyance">
        <a class="menu-link" href="apps/customers/list.html">
          <span class="menu-bullet">
            <span class="bullet bullet-dot"></span>
          </span>
          <span class="menu-title">Conveyance</span>
        </a>
      </div>
    </div>
  </div>
  <div data-kt-menu-trigger="click" id="kpi_reports" class="menu-item menu-accordion" style="display:none;">
    <span class="menu-link">
      <span class="menu-icon">
        <!--begin::Svg Icon | path: icons/duotone/Communication/Group.svg-->
        <span class="svg-icon svg-icon-2">
          <span class="material-icons">
            summarize
          </span>
        </span>
        <!--end::Svg Icon-->
      </span>
      <span class="menu-title">KPI Report</span>
      <span class="menu-arrow"></span>
    </span>
    <div class="menu-sub menu-sub-accordion" kt-hidden-height="116" style="display: none; overflow: hidden;">
      <div class="menu-item" id="kpi_report">
        <a class="menu-link" href="apps/customers/getting-started.html">
          <span class="menu-bullet">
            <span class="bullet bullet-dot"></span>
          </span>
          <span class="menu-title">KPI Report</span>
        </a>
      </div>

    </div>
  </div>
  <div data-kt-menu-trigger="click" id="workpermits" class="menu-item menu-accordion" style="display:none;">
    <span class="menu-link">
      <span class="menu-icon">
        <!--begin::Svg Icon | path: icons/duotone/Communication/Group.svg-->
        <span class="svg-icon svg-icon-2">
          <span class="material-icons">
            work
          </span>
        </span>
        <!--end::Svg Icon-->
      </span>
      <span class="menu-title">Work Permit</span>
      <span class="menu-arrow"></span>
    </span>
    <div class="menu-sub menu-sub-accordion" kt-hidden-height="116" style="display: none; overflow: hidden;">
      <div class="menu-item" id="work_permit">
        <a class="menu-link" href="apps/customers/getting-started.html">
          <span class="menu-bullet">
            <span class="bullet bullet-dot"></span>
          </span>
          <span class="menu-title">Work Permit</span>
        </a>
      </div>
    </div>
  </div>
  <div data-kt-menu-trigger="click" id="tracking" class="menu-item menu-accordion" style="display:none;">
    <span class="menu-link">
      <span class="menu-icon">
        <!--begin::Svg Icon | path: icons/duotone/Communication/Group.svg-->
        <span class="svg-icon svg-icon-2">
          <span class="material-icons">
            share_location
          </span>
        </span>
        <!--end::Svg Icon-->
      </span>
      <span class="menu-title">Tracking</span>
      <span class="menu-arrow"></span>
    </span>
    <div class="menu-sub menu-sub-accordion" kt-hidden-height="116" style="display: none; overflow: hidden;">
      <div class="menu-item" id="geofence_tracking">
        <a class="menu-link" href="apps/customers/getting-started.html">
          <span class="menu-bullet">
            <span class="bullet bullet-dot"></span>
          </span>
          <span class="menu-title">GeoFence Tracking</span>
        </a>
      </div>
      <div class="menu-item" id="site_tour_tracking">
        <a class="menu-link" href="apps/customers/getting-started.html">
          <span class="menu-bullet">
            <span class="bullet bullet-dot"></span>
          </span>
          <span class="menu-title">Site Tour Tracking</span>
        </a>
      </div>
      <div class="menu-item" id="mobile_user_log">
        <a class="menu-link" href="apps/customers/getting-started.html">
          <span class="menu-bullet">
            <span class="bullet bullet-dot"></span>
          </span>
          <span class="menu-title">Mobile User Log</span>
        </a>
      </div>
      <div class="menu-item" id="mobile_user_details">
        <a class="menu-link" href="apps/customers/getting-started.html">
          <span class="menu-bullet">
            <span class="bullet bullet-dot"></span>
          </span>
          <span class="menu-title">Mobile User Details</span>
        </a>
      </div>
      <div class="menu-item" id="sos">
        <a class="menu-link" href="apps/customers/getting-started.html">
          <span class="menu-bullet">
            <span class="bullet bullet-dot"></span>
          </span>
          <span class="menu-title">SOS</span>
        </a>
      </div>
      <div class="menu-item" id="sos_incident_map_tracking">
        <a class="menu-link" href="apps/customers/getting-started.html">
          <span class="menu-bullet">
            <span class="bullet bullet-dot"></span>
          </span>
          <span class="menu-title">SOS/ Incident Map Tracking</span>
        </a>
      </div>
      <div class="menu-item" id="people_near_asset">
        <a class="menu-link" href="apps/customers/getting-started.html">
          <span class="menu-bullet">
            <span class="bullet bullet-dot"></span>
          </span>
          <span class="menu-title">People Near Asset</span>
        </a>
      </div>
      <div class="menu-item" id="cctvevents">
        <a class="menu-link" href="apps/customers/getting-started.html">
          <span class="menu-bullet">
            <span class="bullet bullet-dot"></span>
          </span>
          <span class="menu-title">CCTV Events</span>
        </a>
      </div>
      <div data-kt-menu-trigger="click" id="mobile_user_timeline" class="menu-item menu-accordion"
        style="display:none;">
        <span class="menu-link">
          <span class="menu-title">Mobile User TimeLine</span>
          <span class="menu-arrow"></span>
        </span>
        <div class="menu-sub menu-sub-accordion" kt-hidden-height="116" style="display: none; overflow: hidden;">
          <div class="menu-item" id="calendar">
            <a class="menu-link" href="apps/customers/getting-started.html">
              <span class="menu-bullet">
                <span class="bullet bullet-dot"></span>
              </span>
              <span class="menu-title">Calendar</span>
            </a>
          </div>
          <div class="menu-item" id="chart">
            <a class="menu-link" href="apps/customers/getting-started.html">
              <span class="menu-bullet">
                <span class="bullet bullet-dot"></span>
              </span>
              <span class="menu-title">Chart</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div data-kt-menu-trigger="click" class="menu-item menu-accordion" style="display:none;" id="time_and_attendance">
    <span class="menu-link">
      <span class="menu-icon">
        <!--begin::Svg Icon | path: icons/duotone/Communication/Group.svg-->
        <span class="svg-icon svg-icon-2">
          <span class="material-icons">
            query_builder
          </span>
        </span>
        <!--end::Svg Icon-->
      </span>
      <span class="menu-title">Time and Attendance</span>
      <span class="menu-arrow"></span>
    </span>
    <div class="menu-sub menu-sub-accordion" kt-hidden-height="116" style="display: none; overflow: hidden;">
      <div class="menu-item" id="attendance">
        <a class="menu-link" href="apps/customers/getting-started.html">
          <span class="menu-bullet">
            <span class="bullet bullet-dot"></span>
          </span>
          <span class="menu-title">Attendance</span>
        </a>
      </div>

    </div>
  </div>

  <div data-kt-menu-trigger="click" class="menu-item menu-accordion" style="display:none;" id="operation">
    <span class="menu-link">
      <span class="menu-icon">
        <!--begin::Svg Icon | path: icons/duotone/Communication/Group.svg-->
        <span class="svg-icon svg-icon-2">
          <span class="material-icons">
            build
          </span>
        </span>
        <!--end::Svg Icon-->
      </span>
      <span class="menu-title">Operation</span>
      <span class="menu-arrow"></span>
    </span>
    <div class="menu-sub menu-sub-accordion" kt-hidden-height="116" style="display: none; overflow: hidden;">
      <div class="menu-item" id="posting_and_contract">
        <a class="menu-link" href="apps/customers/getting-started.html">
          <span class="menu-bullet">
            <span class="bullet bullet-dot"></span>
          </span>
          <span class="menu-title">Posting and Contract</span>
        </a>
      </div>
    </div>
  </div>

  <div data-kt-menu-trigger="click" class="menu-item menu-accordion" style="display:none;" id="configuration">
    <span class="menu-link">
      <span class="menu-icon">
        <!--begin::Svg Icon | path: icons/duotone/Communication/Group.svg-->
        <span class="svg-icon svg-icon-2">
          <span class="material-icons">
            settings
          </span>
        </span>
        <!--end::Svg Icon-->
      </span>
      <span class="menu-title">Configuration</span>
      <span class="menu-arrow"></span>
    </span>
    <div class="menu-sub menu-sub-accordion" kt-hidden-height="116" style="display: none; overflow: hidden;">
      <div data-kt-menu-trigger="click" class="menu-item menu-accordion" style="display:none;" id="configtask">
        <span class="menu-link">
          <span class="menu-icon">
            <!--begin::Svg Icon | path: icons/duotone/Communication/Group.svg-->
            <span class="svg-icon svg-icon-2">
              <span class="material-icons">task</span>
            </span>
            <!--end::Svg Icon-->
          </span>
          <span class="menu-title">Task</span>
          <span class="menu-arrow"></span>
        </span>
        <div class="menu-sub menu-sub-accordion" kt-hidden-height="116" style="display: none; overflow: hidden;">
          <div class="menu-item" id="task_location">
            <a class="menu-link" href="apps/customers/getting-started.html">
              <span class="menu-bullet">
                <span class="bullet bullet-dot"></span>
              </span>
              <span class="menu-title">Location</span>
            </a>
          </div>
          <div class="menu-item" id="task_smartplace">
            <a class="menu-link" href="apps/customers/getting-started.html">
              <span class="menu-bullet">
                <span class="bullet bullet-dot"></span>
              </span>
              <span class="menu-title">SmartPlace</span>
            </a>
          </div>
          <div class="menu-item" id="task_asset">
            <a class="menu-link" href="apps/customers/getting-started.html">
              <span class="menu-bullet">
                <span class="bullet bullet-dot"></span>
              </span>
              <span class="menu-title">Asset</span>
            </a>
          </div>
          <div class="menu-item" id="task_questionset">
            <a class="menu-link" href="apps/customers/getting-started.html">
              <span class="menu-bullet">
                <span class="bullet bullet-dot"></span>
              </span>
              <span class="menu-title">Question Set</span>
            </a>
          </div>
          <div class="menu-item" id="building_service_assets">
            <a class="menu-link" href="apps/customers/getting-started.html">
              <span class="menu-bullet">
                <span class="bullet bullet-dot"></span>
              </span>
              <span class="menu-title">Building Services Assets</span>
            </a>
          </div>
          <div class="menu-item" id="menu_task_assetaudit">
            <a class="menu-link" href="apps/customers/getting-started.html">
              <span class="menu-bullet">
                <span class="bullet bullet-dot"></span>
              </span>
              <span class="menu-title">Asset Audit</span>
            </a>
          </div>
          <div class="menu-item" id="task_scheduletask">
            <a class="menu-link" href="apps/customers/getting-started.html">
              <span class="menu-bullet">
                <span class="bullet bullet-dot"></span>
              </span>
              <span class="menu-title">Schedhule Task</span>
            </a>
          </div>
          <div class="menu-item" id="task_ticket_escalation">
            <a class="menu-link" href="apps/customers/getting-started.html">
              <span class="menu-bullet">
                <span class="bullet bullet-dot"></span>
              </span>
              <span class="menu-title">Ticket Escalation</span>
            </a>
          </div>
          <div class="menu-item" id="task_ppm_planner">
            <a class="menu-link" href="apps/customers/getting-started.html">
              <span class="menu-bullet">
                <span class="bullet bullet-dot"></span>
              </span>
              <span class="menu-title">PPM Planner</span>
            </a>
          </div>
          <div class="menu-item" id="task_warehouse">
            <a class="menu-link" href="apps/customers/getting-started.html">
              <span class="menu-bullet">
                <span class="bullet bullet-dot"></span>
              </span>
              <span class="menu-title">Ware House</span>
            </a>
          </div>
        </div>
      </div>
      <div data-kt-menu-trigger="click" class="menu-item menu-accordion" style="display:none;" id="asset_maintainance">
        <span class="menu-link">
          <span class="menu-icon">
            <!--begin::Svg Icon | path: icons/duotone/Communication/Group.svg-->
            <span class="svg-icon svg-icon-2">
              <span class="material-icons">
                engineering
              </span>
            </span>
            <!--end::Svg Icon-->
          </span>
          <span class="menu-title">Asset Maintainance</span>
          <span class="menu-arrow"></span>
        </span>
        <div class="menu-sub menu-sub-accordion" kt-hidden-height="116" style="display: none; overflow: hidden;"
          id="asset_maintainance_template">
          <div class="menu-item">
            <a class="menu-link" href="apps/customers/getting-started.html">
              <span class="menu-bullet">
                <span class="bullet bullet-dot"></span>
              </span>
              <span class="menu-title">Asset Maintainance Template</span>
            </a>
          </div>
        </div>
      </div>
      <div data-kt-menu-trigger="click" class="menu-item menu-accordion" style="display:none;" id="config_tour">
        <span class="menu-link">
          <span class="menu-icon">
            <!--begin::Svg Icon | path: icons/duotone/Communication/Group.svg-->
            <span class="svg-icon svg-icon-2">
              <span class="material-icons">tour</span>
            </span>
            <!--end::Svg Icon-->
          </span>
          <span class="menu-title">Tour</span>
          <span class="menu-arrow"></span>
        </span>
        <div class="menu-sub menu-sub-accordion" kt-hidden-height="116" style="display: none; overflow: hidden;">
          <div class="menu-item" id="tour_checkpoint">
            <a class="menu-link" href="apps/customers/getting-started.html">
              <span class="menu-bullet">
                <span class="bullet bullet-dot"></span>
              </span>
              <span class="menu-title">Checkpoint</span>
            </a>
          </div>
          <div class="menu-item" id="tour_checklist">
            <a class="menu-link" href="apps/customers/getting-started.html">
              <span class="menu-bullet">
                <span class="bullet bullet-dot"></span>
              </span>
              <span class="menu-title">CheckList</span>
            </a>
          </div>
          <div class="menu-item" id="tour_schedhule_tour">
            <a class="menu-link" href="apps/customers/getting-started.html">
              <span class="menu-bullet">
                <span class="bullet bullet-dot"></span>
              </span>
              <span class="menu-title">Schedhule TOur</span>
            </a>
          </div>
        </div>
      </div>
      <div data-kt-menu-trigger="click" class="menu-item menu-accordion" style="display:none;"
        id="config_incident_report">
        <span class="menu-link">
          <span class="menu-icon">
            <!--begin::Svg Icon | path: icons/duotone/Communication/Group.svg-->
            <span class="svg-icon svg-icon-2">
              <span class="material-icons">
                summarize
              </span>
            </span>
            <!--end::Svg Icon-->
          </span>
          <span class="menu-title">Incdent Report</span>
          <span class="menu-arrow"></span>
        </span>
        <div class="menu-sub menu-sub-accordion" kt-hidden-height="116" style="display: none; overflow: hidden;">
          <div class="menu-item" id="incident_report_template">
            <a class="menu-link" href="apps/customers/getting-started.html">
              <span class="menu-bullet">
                <span class="bullet bullet-dot"></span>
              </span>
              <span class="menu-title">Incident Report Template</span>
            </a>
          </div>
        </div>
      </div>
      <div data-kt-menu-trigger="click" class="menu-item menu-accordion" style="display:none;" id="config_site_report">
        <span class="menu-link">
          <span class="menu-icon">
            <!--begin::Svg Icon | path: icons/duotone/Communication/Group.svg-->
            <span class="svg-icon svg-icon-2">
              <span class="material-icons">
                summarize
              </span>
            </span>
            <!--end::Svg Icon-->
          </span>
          <span class="menu-title">Site Report</span>
          <span class="menu-arrow"></span>
        </span>
        <div class="menu-sub menu-sub-accordion" kt-hidden-height="116" style="display: none; overflow: hidden;">
          <div class="menu-item" id="site_report_template">
            <a class="menu-link" href="apps/customers/getting-started.html">
              <span class="menu-bullet">
                <span class="bullet bullet-dot"></span>
              </span>
              <span class="menu-title">Site Report Template</span>
            </a>
          </div>
          <div class="menu-item" id="schedhule_site_report">
            <a class="menu-link" href="apps/customers/getting-started.html">
              <span class="menu-bullet">
                <span class="bullet bullet-dot"></span>
              </span>
              <span class="menu-title">Schedhule Site Report</span>
            </a>
          </div>
        </div>
      </div>

      <div data-kt-menu-trigger="click" class="menu-item menu-accordion" style="display:none;" id="config_kpi">
        <span class="menu-link">
          <span class="menu-icon">
            <!--begin::Svg Icon | path: icons/duotone/Communication/Group.svg-->
            <span class="svg-icon svg-icon-2">
              <span class="material-icons">
                summarize
              </span>
            </span>
            <!--end::Svg Icon-->
          </span>
          <span class="menu-title">KPI</span>
          <span class="menu-arrow"></span>
        </span>
        <div class="menu-sub menu-sub-accordion" kt-hidden-height="116" style="display: none; overflow: hidden;">
          <div class="menu-item" id="configkpi_report">
            <a class="menu-link" href="apps/customers/getting-started.html">
              <span class="menu-bullet">
                <span class="bullet bullet-dot"></span>
              </span>
              <span class="menu-title">KPI Template</span>
            </a>
          </div>
        </div>
      </div>
      <div data-kt-menu-trigger="click" class="menu-item menu-accordion" style="display:none;" id="config_workpermit">
        <span class="menu-link">
          <span class="menu-icon">
            <!--begin::Svg Icon | path: icons/duotone/Communication/Group.svg-->
            <span class="svg-icon svg-icon-2">
              <span class="material-icons">
                report
              </span>
            </span>
            <!--end::Svg Icon-->
          </span>
          <span class="menu-title">Work Permit</span>
          <span class="menu-arrow"></span>
        </span>
        <div class="menu-sub menu-sub-accordion" kt-hidden-height="116" style="display: none; overflow: hidden;">
          <div class="menu-item" id="workpermit_template">
            <a class="menu-link" href="apps/customers/getting-started.html">
              <span class="menu-bullet">
                <span class="bullet bullet-dot"></span>
              </span>
              <span class="menu-title">Work Permit Template</span>
            </a>
          </div>
          <div class="menu-item" id="return_permit_template">
            <a class="menu-link" href="apps/customers/getting-started.html">
              <span class="menu-bullet">
                <span class="bullet bullet-dot"></span>
              </span>
              <span class="menu-title">Return Permit Template</span>
            </a>
          </div>
        </div>
      </div>
      <div data-kt-menu-trigger="click" class="menu-item menu-accordion" style="display:none;" id="config_request">
        <span class="menu-link">
          <span class="menu-icon">
            <!--begin::Svg Icon | path: icons/duotone/Communication/Group.svg-->
            <span class="svg-icon svg-icon-2">
              <span class="material-icons">
                report
              </span>
            </span>
            <!--end::Svg Icon-->
          </span>
          <span class="menu-title">Request</span>
          <span class="menu-arrow"></span>
        </span>
        <div class="menu-sub menu-sub-accordion" kt-hidden-height="116" style="display: none; overflow: hidden;">
          <div class="menu-item" id="request_template">
            <a class="menu-link" href="apps/customers/getting-started.html">
              <span class="menu-bullet">
                <span class="bullet bullet-dot"></span>
              </span>
              <span class="menu-title">Request Template</span>
            </a>
          </div>
          <div class="menu-item" id="request_report">
            <a class="menu-link" href="apps/customers/getting-started.html">
              <span class="menu-bullet">
                <span class="bullet bullet-dot"></span>
              </span>
              <span class="menu-title">Request Report</span>
            </a>
          </div>
        </div>
      </div>
      <div data-kt-menu-trigger="click" class="menu-item menu-accordion" style="display:none;" id="geofence_config">
        <span class="menu-link">
          <span class="menu-icon">
            <!--begin::Svg Icon | path: icons/duotone/Communication/Group.svg-->
            <span class="svg-icon svg-icon-2">
              <span class="material-icons">
                report
              </span>
            </span>
            <!--end::Svg Icon-->
          </span>
          <span class="menu-title">GeoFence Config</span>
          <span class="menu-arrow"></span>
        </span>
        <div class="menu-sub menu-sub-accordion" kt-hidden-height="116" style="display: none; overflow: hidden;">
          <div class="menu-item" id="geofence">
            <a class="menu-link" href="apps/customers/getting-started.html">
              <span class="menu-bullet">
                <span class="bullet bullet-dot"></span>
              </span>
              <span class="menu-title">Geofence</span>
            </a>
          </div>
        </div>
      </div>
      <div data-kt-menu-trigger="click" class="menu-item menu-accordion" style="display:none;" id="company_setup">
        <span class="menu-link">
          <span class="menu-icon">
            <!--begin::Svg Icon | path: icons/duotone/Communication/Group.svg-->
            <span class="svg-icon svg-icon-2">
              <span class="material-icons">
                report
              </span>
            </span>
            <!--end::Svg Icon-->
          </span>
          <span class="menu-title">Company Setup</span>
          <span class="menu-arrow"></span>
        </span>
        <div class="menu-sub menu-sub-accordion" kt-hidden-height="116" style="display: none; overflow: hidden;">
          <div class="menu-item" id="buisiness_unit">
            <a class="menu-link" href="{{ url('onboarding:bu_list') }}">
              <span class="menu-bullet">
                <span class="bullet bullet-dot"></span>
              </span>
              <span class="menu-title">Buisiness Unit</span>
            </a>
          </div>
          <div class="menu-item" id="people">
            <a class="menu-link" href="{{ url('peoples:people_list') }}">
              <span class="menu-bullet">
                <span class="bullet bullet-dot"></span>
              </span>
              <span class="menu-title">People</span>
            </a>
          </div>
          <div class="menu-item"   id="client_onboarding">
            <a class="menu-link" id="onboarding_wizard" href="">
              <span class="menu-bullet">
                <span class="bullet bullet-dot"></span>
              </span>
              <span class="menu-title">Client Onboarding</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div data-kt-menu-trigger="click" class="menu-item menu-accordion" style="display:none;" id="admin">
    <span class="menu-link">
      <span class="menu-icon">
        <!--begin::Svg Icon | path: icons/duotone/Communication/Group.svg-->
        <span class="svg-icon svg-icon-2">
          <span class="material-icons">
            admin_panel_settings
          </span>
        </span>
        <!--end::Svg Icon-->
      </span>
      <span class="menu-title">Admin</span>
      <span class="menu-arrow"></span>
    </span>
    <div class="menu-sub menu-sub-accordion" kt-hidden-height="116" style="display: none; overflow: hidden;">
      <div class="menu-item" id="typeassist">
        <a class="menu-link" href="{{ url('onboarding:ta_list') }}">
          <span class="menu-bullet">
            <span class="bullet bullet-dot"></span>
          </span>
          <span class="menu-title">Type Assit</span>
        </a>
      </div>
      <div class="menu-item" id="question">
        <a class="menu-link" href="apps/customers/getting-started.html">
          <span class="menu-bullet">
            <span class="bullet bullet-dot"></span>
          </span>
          <span class="menu-title">Question</span>
        </a>
      </div>
      <div class="menu-item" id="shift">
        <a class="menu-link" href="{{ url('onboarding:shift_form') }}">
          <span class="menu-bullet">
            <span class="bullet bullet-dot"></span>
          </span>
          <span class="menu-title">Shift</span>
        </a>
      </div>
      <div class="menu-item" id="site_people">
        <a class="menu-link" href="{{ 'onboarding:sitepeople_list' }}">
          <span class="menu-bullet">
            <span class="bullet bullet-dot"></span>
          </span>
          <span class="menu-title">Site People</span>
        </a>
      </div>
      <div class="menu-item" id="people_group">
        <a class="menu-link" href="{{ url('peoples:pgroup_list') }}">
          <span class="menu-bullet">
            <span class="bullet bullet-dot"></span>
          </span>
          <span class="menu-title">People Group</span>
        </a>
      </div>
      <div class="menu-item" id="site_group">
        <a class="menu-link" href="apps/customers/getting-started.html">
          <span class="menu-bullet">
            <span class="bullet bullet-dot"></span>
          </span>
          <span class="menu-title">Site Group</span>
        </a>
      </div>
      <div class="menu-item" id="employee_reference">
        <a class="menu-link" href="apps/customers/getting-started.html">
          <span class="menu-bullet">
            <span class="bullet bullet-dot"></span>
          </span>
          <span class="menu-title">Employee Reference</span>
        </a>
      </div>
      <div class="menu-item" id="import_export">
        <a class="menu-link" href="apps/customers/getting-started.html">
          <span class="menu-bullet">
            <span class="bullet bullet-dot"></span>
          </span>
          <span class="menu-title">Import/Export</span>
        </a>
      </div>
      <div data-kt-menu-trigger="click" class="menu-item menu-accordion" style="display:none;" id="bulk_update">
        <span class="menu-link">
          <span class="menu-icon">
            <!--begin::Svg Icon | path: icons/duotone/Communication/Group.svg-->
            <span class="svg-icon svg-icon-2">
              <span class="material-icons">
                report
              </span>
            </span>
            <!--end::Svg Icon-->
          </span>
          <span class="menu-title">Bulk Update</span>
          <span class="menu-arrow"></span>
        </span>
        <div class="menu-sub menu-sub-accordion" kt-hidden-height="116" style="display: none; overflow: hidden;">
          <div class="menu-item" id="import_export_update">
            <a class="menu-link" href="apps/customers/getting-started.html">
              <span class="menu-bullet">
                <span class="bullet bullet-dot"></span>
              </span>
              <span class="menu-title">Import Export (Update)</span>
            </a>
          </div>
          <div class="menu-item" id="bulkimage_upload">
            <a class="menu-link" href="apps/customers/getting-started.html">
              <span class="menu-bullet">
                <span class="bullet bullet-dot"></span>
              </span>
              <span class="menu-title">Bulk Image (Upload)</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div data-kt-menu-trigger="click" class="menu-item menu-accordion" style="display:none;" id="inventory">
    <span class="menu-link">
      <span class="menu-icon">
        <!--begin::Svg Icon | path: icons/duotone/Communication/Group.svg-->
        <span class="svg-icon svg-icon-2">
          <span class="material-icons">
            inventory
          </span>
        </span>
        <!--end::Svg Icon-->
      </span>
      <span class="menu-title">Inventory</span>
      <span class="menu-arrow"></span>
    </span>
    <div class="menu-sub menu-sub-accordion" kt-hidden-height="116" style="display: none; overflow: hidden;">
      <div class="menu-item" id="setup">
        <a class="menu-link" href="apps/customers/getting-started.html">
          <span class="menu-bullet">
            <span class="bullet bullet-dot"></span>
          </span>
          <span class="menu-title">Setup</span>
        </a>
      </div>
      <div class="menu-item" id="movement">
        <a class="menu-link" href="apps/customers/getting-started.html">
          <span class="menu-bullet">
            <span class="bullet bullet-dot"></span>
          </span>
          <span class="menu-title">Movement</span>
        </a>
      </div>
    </div>
  </div>
  <div data-kt-menu-trigger="click" class="menu-item menu-accordion" style="display:none;" id="visitor_request">
    <span class="menu-link">
      <span class="menu-icon">
        <!--begin::Svg Icon | path: icons/duotone/Communication/Group.svg-->
        <span class="svg-icon svg-icon-2">
          <span class="material-icons">
            sell
          </span>
        </span>
        <!--end::Svg Icon-->
      </span>
      <span class="menu-title">Vistor Request</span>
      <span class="menu-arrow"></span>
    </span>
    <div class="menu-sub menu-sub-accordion" kt-hidden-height="116" style="display: none; overflow: hidden;">
      <div class="menu-item" id="request_for_visitor">
        <a class="menu-link" href="apps/customers/getting-started.html">
          <span class="menu-bullet">
            <span class="bullet bullet-dot"></span>
          </span>
          <span class="menu-title">Request For Visitor</span>
        </a>
      </div>
      <div class="menu-item" id="menu_visitorin">
        <a class="menu-link" href="apps/customers/getting-started.html">
          <span class="menu-bullet">
            <span class="bullet bullet-dot"></span>
          </span>
          <span class="menu-title">Vistor In</span>
        </a>
      </div>
      <div class="menu-item" id="visitor_out">
        <a class="menu-link" href="apps/customers/getting-started.html">
          <span class="menu-bullet">
            <span class="bullet bullet-dot"></span>
          </span>
          <span class="menu-title">Visitor Out</span>
        </a>
      </div>
    </div>
  </div>
  <div data-kt-menu-trigger="click" class="menu-item menu-accordion" style="display:none;" id="reports">
    <span class="menu-link">
      <span class="menu-icon">
        <!--begin::Svg Icon | path: icons/duotone/Communication/Group.svg-->
        <span class="svg-icon svg-icon-2">
          <span class="material-icons">
            download
          </span>
        </span>
        <!--end::Svg Icon-->
      </span>
      <span class="menu-title">Report</span>
      <span class="menu-arrow"></span>
    </span>
    <div class="menu-sub menu-sub-accordion" kt-hidden-height="116" style="display: none; overflow: hidden;">
      <div class="menu-item" id="report">
        <a class="menu-link" href="apps/customers/getting-started.html">
          <span class="menu-bullet">
            <span class="bullet bullet-dot"></span>
          </span>
          <span class="menu-title">Report</span>
        </a>
      </div>
    </div>
  </div>
  <div data-kt-menu-trigger="click" class="menu-item menu-accordion" style="display:none;" id="reminders">
    <span class="menu-link">
      <span class="menu-icon">
        <!--begin::Svg Icon | path: icons/duotone/Communication/Group.svg-->
        <span class="svg-icon svg-icon-2">
          <span class="material-icons">
            notifications
          </span>
        </span>
        <!--end::Svg Icon-->
      </span>
      <span class="menu-title">Reminder</span>
      <span class="menu-arrow"></span>
    </span>
    <div class="menu-sub menu-sub-accordion" kt-hidden-height="116" style="display: none; overflow: hidden;">
      <div class="menu-item" id="reminder">
        <a class="menu-link" href="apps/customers/getting-started.html">
          <span class="menu-bullet">
            <span class="bullet bullet-dot"></span>
          </span>
          <span class="menu-title">Reminder</span>
        </a>
      </div>
    </div>
  </div>

  <div data-kt-menu-trigger="click" class="menu-item menu-accordion" style="display:none;" id="superadmin">
    <span class="menu-link">
      <span class="menu-icon">
        <!--begin::Svg Icon | path: icons/duotone/Communication/Group.svg-->
        <span class="svg-icon svg-icon-2">
          <span class="material-icons">stars</span>
        </span>
        <!--end::Svg Icon-->
      </span>
      <span class="menu-title">Super Admin</span>
      <span class="menu-arrow"></span>
    </span>
    <div class="menu-sub menu-sub-accordion" kt-hidden-height="116" style="display: none; overflow: hidden;">
      <div class="menu-item" id="capability">
        <a class="menu-link" href="{{ url('peoples:cap_list') }}">
          <span class="menu-bullet">
            <span class="bullet bullet-dot"></span>
          </span>
          <span class="menu-title">Capability</span>
        </a>
      </div>
      <div class="menu-item" id="client">
        <a class="menu-link" href="{{ url('onboarding:client_form') }}">
          <span class="menu-bullet">
            <span class="bullet bullet-dot"></span>
          </span>
          <span class="menu-title">Client</span>
        </a>
      </div>
      <div class="menu-item" id="sp_typeassist">
        <a class="menu-link" href="{{ url('onboarding:superta_form') }}">
          <span class="menu-bullet">
            <span class="bullet bullet-dot"></span>
          </span>
          <span class="menu-title">TypeAssist</span>
        </a>
      </div>
      <div class="menu-item" id="moblog">
        <a class="menu-link" href="apps/customers/view.html">
          <span class="menu-bullet">
            <span class="bullet bullet-dot"></span>
          </span>
          <span class="menu-title">Mob Log</span>
        </a>
      </div>
    </div>
  </div>
</div>