{% extends "layout.html" %}

{% block extra_css %}
<link href="{{ static('assets/plugins/custom/DataTables/datatables.min.css') }}" rel="stylesheet" type="text/css" />
<link href="{{ static('assets/plugins/custom/Editor-2.0.8/css/editor.dataTables.min.css') }}" rel="stylesheet"
    type="text/css" />
<link href="{{ static('assets/css/daterangepicker.css') }}" rel="stylesheet" type="text/css" />
{{ load_leaflet_tags() }}
{% endblock extra_css %}

{% block breadcumbactions %}
<div class="dashboard_timeline">
    <div class="input-group pe-4">
        <span class="input-group-text" id="basic-addon1">From: </span>
        <input type="text" id="id_daterange" class="form-control">
    </div>
</div>
{% endblock breadcumbactions %}

<!-------------------------- BEGIN PAGE BREADCUMB ----------------------->
{% block pagebreadcumb %}
    {{ super() }}
    <li class="breadcrumb-item pe-3"><a href="javascript:void(0)" class="pe-3">Dashboard</a></li>
{% endblock pagebreadcumb %}
<!-------------------------- END PAGE BREADCUMB ------------------------->


<!------------------------------ START PAGE BODY CONTAINER -------------------------->
{% block pagebody_container %}
<div class="cards-space">
    <div class="row first-row">
        <div class="col-sm-12 portlet d-none col-md" id="PORTLET_SOS_ALERTS">
            <div class="counter shadow me-2 mb-2 rounded-3 bg-gradient-danger p-2">
                <div class="d-flex justify-content-between">
                    <i class="fas p-4 yiconpadd yicon text-white fa-exclamation-triangle"></i>
                    <div class="pe-3">
                        <h3 data-kt-countup="true" data-kt-countup-value="{{ sos_count }}" data-kt-countup-duration="20"
                            class="pb-3 text-white text-end timer count-title text-white count-number">{{ sos_count }}</h3>
                        <p class="h2 text-white">SOS Alerts</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 portlet d-none col-md" id="PORTLET_INCIDENTREPORTS">
            <div class="counter shadow  p-2 me-2 mb-2 rounded-3 bg-gradient-primary">
                <div class="d-flex justify-content-between">
                    {# <i class="fas p-4 yiconpadd yicon fa-clipboard-user text-white fs-1"></i> #}
                    <i class="fas p-4 yiconpadd yicon text-start text-white fa-file-medical-alt"></i>
                    <div class="pe-3">
                        <h3 data-kt-countup="true" data-kt-countup-value="{{ IR_count }}" data-kt-countup-duration="20" 
                            class="pb-3 text-white text-end timer count-title count-number">{{ IR_count }}</h3>
                        <p class="h2 text-white">Incident Reports</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 portlet d-none col-md" id="PORTLET_FR_FAILURES">
            <div class="counter shadow  p-2 me-2 mb-2 rounded-3 bg-gradient-warning">
                <div class="d-flex justify-content-between">
                    <i class="fas p-4 yiconpadd yicon fa-clipboard-user text-white fs-1"></i>
                    <div class="pe-3">
                        <h3 data-kt-countup="true" data-kt-countup-value="{{ FR_fail_count }}" data-kt-countup-duration="20"
                            class="pb-3 text-white text-end timer count-title count-number">{{ FR_fail_count }}</h3>
                        <p class="h2 text-white">Face Recognition Failures</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 portlet d-none col-md" id="PORTLET_ROUTES">
            <div class="counter shadow p-2 me-2  mb-2 rounded-3 bg-gradient-success">
                <div class="d-flex justify-content-between">
                   <i class="fas yicon yiconpadd text-white p-4 fa-route"></i>
                    <div class="pe-3">
                        <h3 data-kt-countup="true" data-kt-countup-value="{{ tour_count }}" data-kt-countup-duration="20"
                            class="pb-3 text-white text-end timer count-title count-number">{{ tour_count }}</h3>
                        <p class="h2 text-white">Routes</p>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>

<div class="row pt-2">
    <div class="col-sm-12 col-md-6 mapview">
        <div class="card">
            <div class="card-title mb-0 text-center py-2 bg-light bg-gradient">
                Map View
            </div>
            <div class="card-body rounded-3 p-3 pt-0">
                <div id="map" style="height: 350px;"></div>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-6 tableview">
        <div class="card">
            <div class="card-title  text-center py-2 bg-light bg-gradient">
                Default View: List of people under the site you logged in
            </div>
            <div class="card-body">
                <!---Table For SOS Alerts --->
                <table id="tabSitePeople" class="display compact cell-border" style="width:100%"></table>
                <!---Table For SOS Alerts --->
                <table id="tabSOS" class="display compact cell-border" style="width:100%"></table>
                <!---Table For Incident Reports --->
                <table id="tabIncidentReports" class="display compact cell-border" style="width:100%"></table>
                <!---Table For FR Failures--->
                <table id="tabFRFail" class="display compact cell-border" style="width:100%"></table>
                <!---Table For Scheduled Tours --->
                <table id="tabScheduledTours" class="display compact cell-border" style="width:100%"></table>
            </div>
        </div>
    </div>
</div>
{% endblock pagebody_container %}
<!------------------------------ END PAGE BODY CONTAINER -------------------------->



{% block extra_scripts %}
<script src="{{ static('assets/plugins/custom/DataTables/datatables.min.js') }}" type="text/javascript"></script>
<script src="{{ static('assets/plugins/custom/Editor-2.0.8/js/dataTables.editor.min.js') }}" type="text/javascript">
</script>
<script src="{{ static('assets/js/daterangepicker.js') }}" type="text/javascript"></script>

<script>
    //Global Variables here
    var from, upto, map;
    function showMap(row){
        let gps = ['NONE', '0.0,0.0', ""].includes(row['gps']) ? null : JSON.parse(row['gps'])
        let lat = gps ? gps.coordinates[1] : null
        let lng = gps ? gps.coordinates[0] : null
        
        if(row && gps && lat && lng){
        let html = `<table><tbody class="border border-1">
        <tr class="border border-1"><td>Site</td><td>${row['people__bu__buname']}</td></tr>
        <tr class="border border-1"><td>Device using</td><td>${row['modelname']}</td></tr>
        <tr class="border border-1"><td>Battery Level</td><td>${row['batterylevel']}</td></tr>
        <tr class="border border-1"><td>Platform Version</td><td>${row['platformversion']}</td></tr>
        <tr class="border border-1"><td>Is Location Mocked</td><td>${row['islocationmocked']}</td></tr>
        <tr class="border border-1"><td>Last Login</td><td>${utc_to_local(row['offset'], row['lastlogin'])}</td></tr>
        </tbody></table>`
        
        L.marker([lat, lng]).addTo(map).bindPopup(html).openPopup()
        map.flyTo([lat, lng], 18, {
            animate: true,
            duration:1.0
        })  
        }else{
            show_error_alert("Not a coordinates, unable to plot on map!", 'Not Found')
        }
    }

    function convertListToString(list, prefix) {
        return list.map(item => prefix + item[0]).join(", ");
    }
</script>

<!----- Datatable For SOS ----->
{% include "dashboard/RP_d/partials/partial_sitepeople_datatable.html" %}


<script>
    //Global Modifications here
    
    var base = L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
    maxZoom: 19,
    attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    })
    
    map = L.map('map', {
        layers:[base],
        center: new L.LatLng(21.7679, 78.8718),
        zoom:5,
        fullscreenControl: true,
        fullscreenControlOptions: { // optional
            title:"Show me the fullscreen !",
            titleCancel:"Exit fullscreen mode"
        }
    })


    $(document).ready(() => {
        // check if the browser supports the HTML5 Geolocation API
        if ("geolocation" in navigator) {
            // if the browser supports the HTML5 Geolocation API, get the current location
            navigator.geolocation.getCurrentPosition(function(position) {
            console.log("[position.coords.latitude, position.coords.longitude]")
            // create a marker at the current location
            var marker = L.marker([position.coords.latitude, position.coords.longitude]).addTo(map).bindPopup("you are here").openPopup()
            map.flyTo([position.coords.latitude, position.coords.longitude], 18, {
                animate: true,
                duration: 1.0
            });
        });
        } else {
            // if the browser does not support the HTML5 Geolocation API, display an error message
            console.error("browser not enabled the gps location permission")
            map.setView([21.7679, 78.8718], 5)
        }   

        //display the data according to dashboard timeline calendar
        initDateRange("#id_daterange").on('apply.daterangepicker', function(e, picker){
            let from_pd = picker.startDate.format('YYYY-MM-DD');
            let to_pd = picker.endDate.format('YYYY-MM-DD');
            let url = "{{ url('onboarding:rp_dashboard') }}"
            location.href = `${url}?pd1=${from_pd}&pd2=${to_pd}`
        })

        //show only assigned portlet caps
        if("{{ request.user.is_superuser }}" == 'False'){
            var pcaps = session['people_portletcaps'].length === 0 ? session['client_portletcaps'] :  session['people_portletcaps']
            let ele = convertListToString(pcaps, "#")
            console.log(ele)
            $(ele).removeClass('d-none') 
        }else{
            $('.card').removeClass('d-none') 
        }
        
    })
    
</script>
{% endblock extra_scripts %}