{% extends "layout.html" %}

{% block extra_css %}
<link href="{{ static('assets/plugins/custom/DataTables/datatables.min.css') }}" rel="stylesheet" type="text/css" />
<link href="{{ static('assets/plugins/custom/Editor-2.0.8/css/editor.dataTables.min.css') }}" rel="stylesheet"
    type="text/css" />
<link href="{{ static('assets/css/daterangepicker.css') }}" rel="stylesheet" type="text/css" />
{{ load_leaflet_tags() }}
{% endblock extra_css %}

{% block breadcumbactions %}
<div class="dashboard_timeline">
    <div class="input-group pe-4">
        <span class="input-group-text" id="basic-addon1">From: </span>
        <input type="text" id="id_daterange" class="form-control">
    </div>
</div>
{% endblock breadcumbactions %}

{% block popup_alerts %}
{{ modal_for_table_view() }}
{% endblock popup_alerts %}



<!-------------------------- BEGIN PAGE BREADCUMB ----------------------->
{% block pagebreadcumb %}
    {{ super() }}
    <li class="breadcrumb-item pe-3"><a href="javascript:void(0)" class="pe-3">Dashboard</a></li>
{% endblock pagebreadcumb %}
<!-------------------------- END PAGE BREADCUMB ------------------------->
 

<!------------------------------ START PAGE BODY CONTAINER -------------------------->
{% block pagebody_container %}


<div class="row d-flex gy-3 justify-content-around">
    <div class="col-xl-3 col-lg-6 col-sm-12" id="tasks_card">
        {% include "dashboard/RP_d/partials/dashboard_cards/partial_taskstats_card.html" %}
    </div>
    <div class="col-xl-4 col-lg-6 h-xl-75 col-sm-12">
        <div class="card card-flush h-lg-100">
            <div class="card-header py-2 mb-3">
                <h3 class="card-title align-items-start flex-column">
                    <span class="card-label fw-bold y-primary"  style="color: #01579b;">Assets Status</span>
                    {# <span class="text-gray-400 mt-1 fw-semibold fs-6">Total <span id="total_assets"></span> Assets and <span id="total_locations"></span> locations</span> #}
                </h3>
            </div>
            <div class="card-body pb-0 pt-7 ps-6 mt-n12">
                <div id="assets_status_chart"></div>
            </div>

        </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-sm-12" id="tasks_card">
        {% include "dashboard/RP_d/partials/dashboard_cards/partial_guardtour_card.html" %}
    </div>
    <div class="card col-xl-2 col-lg-6 col-sm-12">
        <div class="row mt-2">
            <div class="col-lg-12 portlet d-none mb-2" id="PORTLET_SOS_ALERTS">
                <div class="counter  bg-gray-100 bg-opacity-60 mt-3 mb-2 rounded-3 p-2" >
                    <div class="d-flex count-item justify-content-between" >
                        <i class="fas p-4 align-middle yiconpadd yicon text-danger fa-exclamation-triangle"></i>
                        <div class="pe-3" data-cardtype='SOSALERTS'>
                            <h6  
                                class="pb-1 y-primary  timer count-title text-end count-number" id="sos_count">
                               
                            </h6>
                            <p class="h4 text-gray-500 fw-semibold fs-6">SOS Alerts</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 portlet d-none mb-2" id="PORTLET_INCIDENTREPORTS">
                <div class="counter  bg-gray-100 bg-opacity-60  p-2 mb-2 rounded-3 ">
                    <div class="d-flex count-item justify-content-between" >
                        {# <i class="fas p-4 yiconpadd yicon fa-clipboard-user y-primary fs-1"></i> #}
                        <i class="fas p-4 yiconpadd yicon text-start text-warning fa-file-medical-alt"></i>
                        <div class="pe-3" data-cardtype='INCREPORTS'>
                            <h6 
                                class="pb-1 y-primary text-end timer count-title count-number" id="ir_count"></h6>
                            <p class="h4 text-gray-500 fw-semibold fs-6">Incident Reports</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 portlet d-none mb-2" id="PORTLET_FR_FAILURES">
                <div class="counter  bg-gray-100 bg-opacity-60  p-2 mb-2 rounded-3">
                    <div class="d-flex count-item justify-content-between" >
                        <i class="bi bi-person-bounding-box yiconpadd yicon p-4 y-primary"></i>
                        <div class="pe-3" data-cardtype='ATTENDANCE'>
                            <h6  
                                class="pb-1 y-primary  text-end timer count-title count-number" id="att_count"></h6>
                            <p class="h4 text-gray-500 fw-semibold fs-6">Attendance</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 portlet d-none " id="PORTLET_ROUTES">
                <div class="counter  bg-gray-100 bg-opacity-60 p-2  mb-2 rounded-3">
                    <div class="d-flex count-item justify-content-between">
                        <i class="fas yicon yiconpadd text-success p-4 fa-route"></i>
                        <div class="pe-3"  data-cardtype='ROUTES'>
                            <h6 
                                class="pb-1 y-primary text-end timer count-title count-number" id="route_count"></h6>
                            <p class="h4 text-gray-500 fw-semibold fs-6">Routes</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mt-3">
<div class="col-xl-4 col-lg-6 h-xl-75 col-sm-12">
        <div class="card card-flush h-lg-100">
            <div class="card-header py-2 mb-3">
                <h3 class="card-title align-items-start flex-column">
                    <span class="card-label fw-bold"  style="color: #01579b;">Alerts</span>
                    <span class="text-gray-400 mt-1 fw-semibold fs-6">Total <span id="total_alerts"></span> Alerts</span>
                </h3>
            </div>
            <div class="card-body pb-0 pt-7 ps-6 mt-n12">
                <div id="alerts_donut_chart"></div>
            </div>
        </div>
    </div>
</div>



{% endblock pagebody_container %}
<!------------------------------ END PAGE BODY CONTAINER -------------------------->



{% block extra_scripts %}
<script src="{{ static('assets/plugins/custom/DataTables/datatables.min.js') }}" type="text/javascript"></script>
<script src="{{ static('assets/plugins/custom/Editor-2.0.8/js/dataTables.editor.min.js') }}" type="text/javascript">
</script>
<script src="{{ static('assets/js/daterangepicker.js') }}" type="text/javascript"></script>

<script>
    //Global Variables here
    var from, upto, map;
    var assets_status_counts=null;
    var total_number_of_assets=null;

    function showMap(row){
        let gps = ['NONE', '0.0,0.0', ""].includes(row['gps']) ? null : JSON.parse(row['gps'])
        let lat = gps ? gps.coordinates[1] : null
        let lng = gps ? gps.coordinates[0] : null
        
        if(row && gps && lat && lng){
        let html = `<table><tbody class="border border-1">
        <tr class="border border-1"><td>Site</td><td>${row['people__bu__buname']}</td></tr>
        <tr class="border border-1"><td>Device using</td><td>${row['modelname']}</td></tr>
        <tr class="border border-1"><td>Battery Level</td><td>${row['batterylevel']}</td></tr>
        <tr class="border border-1"><td>Platform Version</td><td>${row['platformversion']}</td></tr>
        <tr class="border border-1"><td>Is Location Mocked</td><td>${row['islocationmocked']}</td></tr>
        <tr class="border border-1"><td>Last Login</td><td>${utc_to_local(row['offset'], row['lastlogin'])}</td></tr>
        </tbody></table>`
        
        L.marker([lat, lng]).addTo(map).bindPopup(html).openPopup()
        map.flyTo([lat, lng], 18, {
            animate: true,
            duration:1.0
        })  
        }else{
            show_error_alert("Not a coordinates, unable to plot on map!", 'Not Found')
        }
    }

    function convertListToString(list, prefix) {
        return list.map(item => prefix + item[0]).join(", ");
    }
</script>

<!----- Datatable For SOS ----->
{# {% include "dashboard/RP_d/partials/partial_sitepeople_datatable.html" %} #}



<script>
    //Global Modifications here
    
    //var base = L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
    //maxZoom: 19,
    //attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    //})
    
    //map = L.map('map', {
    //    layers:[base],
    //    center: new L.LatLng(21.7679, 78.8718),
    //    zoom:5,
    //    fullscreenControl: true,
    //    fullscreenControlOptions: { // optional
    //        title:"Show me the fullscreen !",
    //        titleCancel:"Exit fullscreen mode"
    //    }
    //})
    //Gloval vars used by below scripts
    var _taskJobstatus = null;
    var _popUpTable = null;
    var _dataTableConfig = null;
    var _db_cardtype = null;
    var _assetChart = null;
    var _alertChart = null;
    var _from_pd = moment().format('YYYY-MM-DD');
    var _to_pd = moment().format('YYYY-MM-DD')
    var _assetChartSeries;
    var _alertChartSeries;


    $(document).ready(() => {
        // check if the browser supports the HTML5 Geolocation API
        //if ("geolocation" in navigator) {
        //    // if the browser supports the HTML5 Geolocation API, get the current location
        //    navigator.geolocation.getCurrentPosition(function(position) {
        //    console.log("[position.coords.latitude, position.coords.longitude]")
        //    // create a marker at the current location
        //    var marker = L.marker([position.coords.latitude, position.coords.longitude]).addTo(map).bindPopup("you are here").openPopup()
        //    map.flyTo([position.coords.latitude, position.coords.longitude], 18, {
        //        animate: true,
        //        duration: 1.0
        //    });
        //});
        //} else {
        //    // if the browser does not support the HTML5 Geolocation API, display an error message
        //    console.error("browser not enabled the gps location permission")
        //    map.setView([21.7679, 78.8718], 5)
        //}   


        //show only assigned portlet caps
        if("{{ request.user.is_superuser }}" == 'False'){
            var pcaps = session['people_portletcaps'].length === 0 ? session['client_portletcaps'] :  session['people_portletcaps']
            let ele = convertListToString(pcaps, "#")
            console.log(ele)
            $(ele).removeClass('d-none') 
        }else{
            $('.card').removeClass('d-none') 
        }
    })
    
</script>

    {% include "dashboard/RP_d/partials/dashboard_cards/partial_datatables_config.html" %}

<script>
    function getStatsForDashboard(){
        let params = {
            data:{"from":_from_pd, "upto":_to_pd, action:"getCounts"},
            url:"{{ url('onboarding:rp_dashboard') }}",
        }
        fire_ajax_get(params)
        .done((data, status, xhr) => {
            console.log(data.counts)
            let data_ = data.counts
            $("#tasks_completed").html(data_.completed_tasks_count)
            $("#tasks_autoclosed").html(data_.autoclosed_tasks_count)
            $("#tasks_pending").html(data_.assigned_tasks_count)
            $("#tasks_scheduled").html(data_.totalschd_tasks_count)
            $("#tours_completed").html(data_.completed_tours_count)
            $("#tours_scheduled").html(data_.totalscheduled_tours_count)
            $("#tours_inprogress").html(data_.inprogress_tours_count)
            $("#tours_partiallycompleted").html(data_.partiallycompleted_tours_count)
            $("#total_assets").html(data_.assetchart_total_count)
            $("#total_alerts").html(data_.alertchart_total_count)
            $("#ir_count").html(data_.IR_count)
            $("#route_count").html(data_.route_count)
            $("#sos_count").html(data_.sos_count)   
            $("#att_count").html(data_.FR_fail_count)
            
            

            let assetCharData = data_.assetchartdata
            let alertsChartData = data_.alertchartdata
            if(_assetChart !== null && _alertChart !== null){
                _assetChart.updateSeries(assetCharData)
                _alertChart.updateSeries(alertsChartData)
            }else{
                _assetChartSeries = assetCharData
                _alertChartSeries = alertsChartData
                //script related to chart of asset status card loaded with this file
                {% include "dashboard/RP_d/partials/dashboard_cards/partial_assets_card.html" %}
                {% include "dashboard/RP_d/partials/dashboard_cards/partial_alerts_card.html" %}
                _assetChart = new ApexCharts(document.querySelector("#assets_status_chart"), barChartOptions);
                _alertChart = new ApexCharts(document.querySelector("#alerts_donut_chart"), donutChartOptions);
                
                
                setTimeout(function() {
                    _assetChart.render()
                    _alertChart.render()
                }, 200); 
            }
        })
        .fail((xhr, status, error) => {
            console.log(xhr)
        }) 

    }
    

    $(document).ready(() => {
        getStatsForDashboard()

        //add input field to the datatables dom
        initDateRange("#id_daterange", start = _from_pd, end = _to_pd).on('apply.daterangepicker', function(e, picker){
            _from_pd = picker.startDate.format('YYYY-MM-DD');
            _to_pd = picker.endDate.format('YYYY-MM-DD');
            getStatsForDashboard()
        })
        
        //$('.count-item').on('click', function() {
        //var cardType = $(this).find('[data-cardtype]').attr('data-cardtype');
        //console.log("new method", cardType);
        //});


        $(".count-item").on('click', function() {
            let cardType = $(this).find('[data-cardtype]').attr('data-cardtype');
            let jobstatus = $(this).find('[data-jobstatus]').attr('data-jobstatus');
            let filterData = {cardType:cardType, jobstatus:jobstatus, from:_from_pd, to:_to_pd}
            console.log(filterData, "&&&")
            switch (cardType) {
                case 'SOSALERTS':
                localStorage.setItem('sos_alerts_filter', JSON.stringify(filterData))
                location.reload()
                break;
                case 'INCREPORTS':
                localStorage.setItem('incident_reports_filter', JSON.stringify(filterData))
                window.open("{{ url('reports:incidentreport_list') }}?template=true", '_blank');
                break;
                case 'ROUTES':
                localStorage.setItem('routes_filter', JSON.stringify(filterData))
                window.open("{{ url('schedhuler:jobneedexternaltours') }}?template=true", '_blank');
                break;
                case 'ATTENDANCE':
                localStorage.setItem('attds_filter', JSON.stringify(filterData))
                window.open('{{ url("attendance:attendance_view") }}?template=true', '_blank');
                break;
                case 'TASKSTATS':
                localStorage.setItem('taskstats_filter', JSON.stringify(filterData))
                window.open('{{ url("schedhuler:jobneedtasks") }}?template=true', '_blank');
                break;
                case 'TOURSTATS':
                localStorage.setItem('tourstats_filter', JSON.stringify(filterData))
                window.open('{{ url("schedhuler:jobneedtours") }}?template=true', '_blank');
                break;
                default:
                {}
            }
        })
    })
</script>

{% endblock extra_scripts %}