@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
html * {
    font-family: 'Roboto', sans-serif;
}
.menu-item.menu-accordion.show {
    border-left: 4px solid #489edb;
}
th {
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    color:#65595d;  
  }
   
th:first-child {
    border-left: 1px solid #dddddd;
}

td {word-wrap: break-word}

input.form-control {
    color: #495057;
}

select {
    border: 1px solid #ced4da;
}

/*Disable pointer events when sidebar minimized*/
body[data-kt-aside-minimize="on"]>.menu-item {
    pointer-events: none;
    cursor: default;
}

/* for form buttons */
.w-87px {
    width: 87px;
}

.w-96px {
    width: 96px;
}
.uppercase{
    text-transform: uppercase;
}
.errorlist{
    list-style: none;
    padding: 0px;
}
.errorlist > li, p.errors{
    color:red;
	font-size: 15px;
}
#alert_msg, #non_field_error{
    letter-spacing: .1rem;
}
.float-right{
    float: right;
}
.breadcrumb > li > a {
	color: #707478;
}
.breadcrumb > li:not(:last-child) > a:hover{
	color: #01adf3;
}
.breadcrumb > li:last-child{
    pointer-events: none;
}
.flt-right{
    float: right;
}
#srchbtn{
    position: relative;
    background: none;
    border: none;
    
}
#col-category{
    border: none;
    border-radius: 0%;
    border-right: 1px solid #ced4da;
    columns: red;
    
}
#searchinp{
    border: none;
}
.searchwrapper{
    border-radius: 2%;
    border: 1px solid #ced4da;
}
input[type='checkbox']{
    background-color: rgb(46, 99, 138);
}

.primary-col{
    color: #2e638a;
}
.title-col{
    color: #3f414c;
}
.select2-container--bootstrap5 .select2-selection--single .select2-selection__rendered {
    color: #495057;
}
thead > tr {
    height: 60px;
}

h6 > ol > li {
    color: #3F4254;
}
.flatpickr-time > .time24hr{
    border: 2px solid #3F4254;
}
.ch4{
    color:#3a3b40de;
}


body{
    overflow: auto;
}
