{% extends "base_list.html" %}

<!---- BEGIN CARD TITLE ------>
{% block card_title %}
Escalation List
{% endblock card_title %}
<!----- END CARD TITLE -------->

<!----------- BEGIN PAGE BREADCUMBS ----------->
{% block pagebreadcumb %}
{{ super() }}
<li class="breadcrumb-item pe-3"><a href="" class="pe-3">Escalation List
</a></li>
{% endblock pagebreadcumb %}
<!----------- END PAGE BREADCUMBS ------------->


<!------------------ BEGIN BU TABLE ------------------------->
{% block table %}
<div class="table-responsive">
	<table id="esc_table" class="compact display cell-border" style="width:100%">
		<thead class="fw-bold fs-6">
			<th>Escalation Template</th>
			<th>Created On</th>
		</thead>
	</table>
</div>
{% endblock table %}
<!------------------ END BU TABLE --------------------------->

<!--------- BEGIN EXTRA SCRIPTS ----------------------------->
{% block extra_scripts %}
<script>
	$(document).ready(function () {
		//BEGIN DATATABLE INITIALIZATION
		var table = $('#esc_table').DataTable({
            ajax: {
                url: '{{ url("activity:esc_list") }}',
            },
            serverSide:true,
            processing    : true,
            responsive    : true,
            fixedHeader   : true,
            buttons:[
                {
                    text     : `Add New &nbsp;<i class='fas fa-plus ch4'></i></a>`,
                    className: "btn btn-sm btn-light-primary",
                    action   : function(e, dt, node, config){}
                    }
            ],
            language    : {
                search: "_INPUT_",
                searchPlaceholder: "Search ..",
                processing: "Getting Data"},
            search      : {return: true},
            lengthMenu: [[10, 20, 30], [10, 20, 30]],
            columns     : [
                { "data": "esctemplate__taname" },
                { "data": "cdtz" },
            ],
            dom: "<'row' <'col-sm-6 d-flex justify-content-start'f> <'col-sm-6 d-flex justify-content-end'B> >rt<'row' <'col-sm-6'l> <'col-sm-6'p><'col-sm-12 d-flex justify-content-center'i>>"
		})
        
        $('.btn').removeClass('dt-button')
		//END STYLING DATATABLE
	});
    
</script>
{% endblock extra_scripts %}
<!-------- END EXTRA SCRIPTS ------------------------------->