{% extends "base_form.html" %}


{% block extra_css %}
<link  href="{{ static('assets/plugins/custom/DataTables/datatables.min.css') }}" rel="stylesheet" type="text/css"/>
{{ editsiteform.media.css }}
{% endblock extra_css %}


<!-------------------------- BEGIN PAGE BREADCUMB ----------------------->
{% block pagebreadcumb %}
<!--will call parent contents -->
{{ super() }}
<li class="breadcrumb-item pe-3"><a href="{{ url('schedhuler:retrieve_externaltours') }}" class="pe-3">Escalation List</a></li>
<li class="breadcrumb-item pe-3"><a href="javascript:void(0)" class="pe-3">Escalation Form</a></li>
{% endblock pagebreadcumb %}
<!-------------------------- END PAGE BREADCUMB ------------------------->


<!------ BEGIN FORM TITLE ------->
{% block custom_title %}
Schedhule External-Tour&nbsp;<i class="fa fa-clock fs-4 text-primary" aria-hidden="true"></i>
{% endblock custom_title %}
<!------ END FORM TITLE -------->


<!--------- BEGIN NON FIELD ERRORS -------->
{% block nonfield_errors %}
{% if schdexternaltourform.non_field_errors() %}
<div id="non_field_error" class="alert alert-danger" style="width: 73%;">
    {% for error in schdexternaltourform.non_field_errors() %}
    <strong>Error</strong> <span>{{ error }}</span>
    {% endfor %}
    <button type="button" class="btn-close flt-right" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}
{% endblock nonfield_errors %}
<!---------- END NON FIELD ERRORS --------->


{% block form %}
<form action="

"></form>
{% endblock form %}