{% extends "base_list.html" %}

<!---- BEGIN CARD TITLE ------>
{% block card_title %}
{{ label }} List
{% endblock card_title %}
<!----- END CARD TITLE -------->


<!------------------------------------ BEGIN PAGE BREADCUMBS ------------------------------------>
{% block pagebreadcumb %}
{{ super() }}
<li class="breadcrumb-item pe-3"><a href="javascript:void(0)" class="pe-3">{{ label }} List</a></li>
{% endblock pagebreadcumb %}
<!------------------------------------- END PAGE BREADCUMBS ------------------------------------->


<!-------------------------------------------- BEGIN BU TABLE ------------------------------------------->
{% block table %}
    <!------------------ BEGIN TABLE --------------------->
	<table id="qset_table" class="display compact cell-border" style="width:100%">
        <thead class="fw-bold fs-6">
            <th>Name</th>
        </thead>
		<tbody>
			{% for qset in qset_list %}
			<tr>
				<td><a href="" class="qset-link" data-id="{{ qset['id'] }}" data-rowid ={{ loop.index0 }}>{{ qset['qsetname'] }}</a></td>
			</tr>
			{% endfor %}
		</tbody>
    </table>
    <!------------------ END TABLE --------------------->
{% if qset_list and qset_list.has_other_pages %}
<!-- BEGIN PAGINATOIN -->
{{ paginator(qset_list) }}
<!-- END PAGINATOIN ---->
{% endif %}

{% endblock table %}
<!------------------ --------------------------END BU TABLE ------------------------------------------------->


{% block popup_alerts %}
<!-- THE MODAL WE WILL BE USING -->
<div class="modal" tabindex="-1" aria-hidden="true"  aria-labelledby="exampleModalLabel" data-bs-keyboard="false" data-bs-backdrop="static" id="modal-qset">
	<div class="modal-dialog modal-dialog-centered modal-xl">
		<div class="modal-content" id="qset_content">
		</div>
	</div>
</div>
{% endblock popup_alerts %}


<!--------- BEGIN EXTRA SCRIPTS ----------------------------->
{% block extra_scripts %}
<script>
	var table             = null;
	const modal_id        = "#modal-qset"
	const modalcontent_id = "#qset_content"
	const formFilter      = "#qset_filter"
	const table_id        = "#qset_table"
	const formTable       = "#assigned_ques_table"
	const formid          = "#id_qsetform"
	const urlname         =  "{{ label }}" == 'Checklist' ? "{{ url('activity:checklist') }}" : "{{ url('activity:questionset') }}"
	const viewname        = "{{ label }}"
	const rowlink         = "a.qset-link"
	
	$(document).ready(function () {
		new ClipboardJS('.btn-copy');
		$("input").keypress(function(event) {
			if (event.which == 13) {
				event.preventDefault();
				$(formFilter).submit();
			}
		});
        //beforeSend of capability ajax request 
        function qsetBeforeSend(){
            $(modal_id).modal("show");
        }
		//datatable initialization
        table = $(table_id).DataTable({
			//orderCellsTop: true,
			responsive: true,
			fixedHeader: true,
			paging: false,
			lengthChange: false,
			language: {
				searchPlaceholder: "Search on page"
			},
            dom:"<'row'" +
                "<'col-sm-6 d-flex align-items-center justify-conten-start'f>" +
                "<'col-sm-6 d-flex align-items-center justify-content-end'B>" +
                ">" +

                "<'table-responsive'tr>",
            ordering:false,
            scrollCollapse: true,
			buttons:[
				{
					text:`Add New ${viewname} &nbsp;<i class='fas fa-plus ch4'></i></a>`,
					className:"btn btn-sm btn-light-primary btn-hover-rise",
					//action for add_new_button 
					action: function(e, dt, node, config){
                        const params = {
                            'modal_id'    : modal_id,
                            'url'         : `${urlname}?action=form`,
                            'beforeSend'  : qsetBeforeSend }
						fire_ajax_get(params)
						.done((data, status, xhr) => {
							$(modalcontent_id).attr('data-form', 'create')
                            $(`${modal_id} .modal-content`).html(data.html_form)
                        })
						.fail((xhr, status, error) => {
							show_error_alert("Something went wrong!")
						})
					}
				}
			]
		})

		//BEGIN STYLING DATATABLE
		$("th > input").addClass('form-control')
		$("th > input").css('height', '35px')
		var styles = {
			"border-bottom":"none",
			"background-color":"#f1f4f7"
		}
		
		$(`${table_id} thead tr:eq(1)`).css(styles)
		//END STYLING DATATABLE

        //add row to the table
		const addRow = (data) => {
			table.row.add($(`<tr>
			<td><a href="${data.url}">${data.capscode}</a></td>
			<td>${data.capsname}</td>
			<td>${data.cfor}</td>
			<td>${data.parent}</td>
			</tr>`)).draw();
			console.log("rowadded")
		}

		const updateRow = (data, rowid) => {
			table.row(rowid).data(
			`<tr>
			<td><a href="${data.url}">${data.capscode}</a></td>
			<td>${data.capsname}</td>
			<td>${data.cfor}</td>
			<td>${data.parent}</td>
			</tr>`
			)
		}
		
		

		//update row (form-view)
		$(rowlink).click((e) => {
			e.preventDefault();
			var id = $(e.currentTarget).attr('data-id');
			var rowid = $(e.currentTarget).attr('data-rowid');
			$(modalcontent_id).attr('data-rowid', rowid)
			$(modalcontent_id).attr('data-id', id)
			console.log("id ", id)
			console.log("table ", table)
			const params = {
				'modal_id'    : modal_id,
				'url'         : `${urlname}?id=${id}`,
				'beforeSend'  : qsetBeforeSend }
			fire_ajax_get(params)
			.done((data, status, xhr) => {
				$(modalcontent_id).attr('data-form', 'update')
				$(`${modal_id} .modal-content`).html(data.html_form)
			})
			.fail((xhr, status, error) => {
				show_error_alert('Something went wrong!') //defined in custom.js
			})
		})
	}); //END document.ready()

	//delete ajax request 
	function isQsetDeleted(id){ 
		console.log("id ", id)
		const params = {url:`${urlname}?action=delete&id=${id}`, beforeSend:function(){}}
		fire_ajax_get(params)
		.done((data, status, xhr) => {
			if(!xhr.status === 200){
				return false
			}
			return true
		})
		.fail((xhr, status, error) => {
			show_error_alert('Something went wrong!') //defined in custom.js
			return false
		})
	}


	//delete questionset 
	function deleteQset(elemt){
		var id = $(elemt).attr("data-id");
		show_alert_before_delete(viewname)
		.then((result) => {
			if(result.isConfirmed){ //delete requested by user
				status = isQsetDeleted(id) //fire's request
				console.log("status ", status)
				if(status){
					show_successful_delete_alert() //defined in customjs
					$(modal_id).modal("hide")
					//delete row from table
					row_index = parseInt($(modalcontent_id).attr('data-rowid'))
					console.log(row_index, "row index")
					table.row(row_index).remove().draw();
				}else{
					show_error_alert('Something went wrong!');
				}
			}
		})
	}
</script>
{% endblock extra_scripts %}
