{% extends "base_list.html" %}

<!---- BEGIN CARD TITLE ------>
{% block card_title %}
{{ label }} List
{% endblock card_title %}
<!----- END CARD TITLE -------->

<!------------------------------------ BEGIN PAGE BREADCUMBS ------------------------------------>
{% block pagebreadcumb %}
{{ super() }}
<li class="breadcrumb-item pe-3"><a href="javascript:void(0)" class="pe-3">{{ label }} List</a></li>
{% endblock pagebreadcumb %}
<!------------------------------------- END PAGE BREADCUMBS ------------------------------------->

<!-------------------------------------------- BEGIN BU TABLE ------------------------------------------->
{% block table %}
    <!------------------ BEGIN TABLE --------------------->
    <table id="checkpoint_table" class="display compact cell-border" style="width:100%">
        <thead class="fw-bold fs-6">
            <th>Code</th>
            <th>Name</th>
            <th>Belongs to</th>
            <th>Status</th>
            <th>Enable</th>
            <th>GPS Location</th>
        </thead>
		{# <!---------- BEGIN TABLE FILTER FIELDS --------->
		<thead id="filter_row">
		<form action="" id='master_asset_filter' method='get'>
			<input type="hidden" name="search_term" value="true">
			{% for field in master_asset_filter %}
			<th>
				<input type="text" 
				id="{{ field.auto_id }}" 
				name="{{ field.name }}" 
				placeholder ="Search {{ field.label }}">
			</th>
			{% endfor %}
		</form>
		</thead>
		<!---------- END TABLE FILTER FIELDS ---------> #}
		<tbody>
			{% for cp in master_assetlist %}
			<tr>
				<td><a href="" class="cp-link" data-id="{{ cp['id'] }}" data-rowid ={{ loop.index0 }}>{{ cp['assetcode'] }}</a></td>
				<td>{{ cp['assetname'] }}</td>
				<td>{{ cp['parent__assetcode'] }}</td>
				<td>{{ cp['runningstatus'] }}</td>
				<td>{{ cp['enable'] }}</td>
				<td>{{ cp['gpslocation'] }}</td>
			</tr>
			{% endfor %}
		</tbody>
    </table>
    <!------------------ END TABLE --------------------->
{% if master_assetlist and master_assetlist.has_other_pages %}
<!-- BEGIN PAGINATOIN -->
{{ paginator(master_assetlist) }}
<!-- END PAGINATOIN ---->
{% endif %}

{% endblock table %}
<!------------------ --------------------------END BU TABLE ------------------------------------------------->


{% block popup_alerts %}
<!-- THE MODAL WE WILL BE USING -->
<div class="modal animate__animated animate__zoomIn" tabindex="-1" aria-hidden="true"  aria-labelledby="exampleModalLabel" data-bs-backdrop="static" id="modal-checkpoint">
	<div class="modal-dialog modal-dialog-centered modal-xl">
		<div class="modal-content" id="checkpoint_content">
		</div>
	</div>
</div>
{% endblock popup_alerts %}

<!--------- BEGIN EXTRA SCRIPTS ----------------------------->
{% block extra_scripts %}
<script>
	var table           = null;
	const modal_id        = "#modal-checkpoint"
	const modalcontent_id = "#checkpoint_content"
	const formFilter      = "#master_asset_filter"
	const table_id        = "#checkpoint_table"
	const formid          = "#id_checkpointform"
	const urlname         = "{{ label }}" == 'Smartplace' ? "{{ url('activity:smartplace') }}" : "{{ url('activity:checkpoint') }}"
	const viewname        = "{{ label }}"
	const rowlink         = "a.cp-link"
	
	$(document).ready(function () {
		new ClipboardJS('.btn-copy');
		$("input").keypress(function(event) {
			if (event.which == 13) {
				event.preventDefault();
				$(formFilter).submit();
			}
		});
        //beforeSend of capability ajax request 
        function checkpointBeforeSend(){
            $(modal_id).modal("show");
        }
		//datatable initialization
        table = $(table_id).DataTable({
			//orderCellsTop: true,
			responsive: true,
			fixedHeader: true,
			paging: false,
			lengthChange: false,
			language: {
				searchPlaceholder: "Search on page"
			},
            dom: "<'row'" +
                "<'col-sm-6 d-flex align-items-center justify-conten-start'f>" +
                "<'col-sm-6 d-flex align-items-center justify-content-end'B>" +
                ">" +

                "<'table-responsive'tr>",
            ordering:false,
            scrollCollapse: true,
			buttons:[
				{
					text:`Add New ${viewname} &nbsp;<i class='fas fa-plus ch4'></i></a>`,
					className: "btn btn-sm btn-light-primary btn-hover-rise",
					//action for add_new_button 
					action: function(e, dt, node, config){
                        const params = {
                            'modal_id'    : modal_id,
                            'url'         : `${urlname}?action=form`,
                            'beforeSend'  : checkpointBeforeSend }
						fire_ajax_get(params)
						.done((data, status, xhr) => {
							$(modalcontent_id).attr('data-form', 'create')
                            $(`${modal_id} .modal-content`).html(data.html_form)
                        })
						.fail((xhr, status, error) => {
							show_error_alert("Something went wrong!")
						})
					}
				}
			]
		})

		//BEGIN STYLING DATATABLE
		$("th > input").addClass('form-control')
		$("th > input").css('height', '35px')
		var styles = {
			"border-bottom": "none",
			"background-color": "#f1f4f7"
		}
		
		$(`${table_id} thead tr:eq(1)`).css(styles)
		//END STYLING DATATABLE

        //add row to the table
		const addRow = (data) => {
			table.row.add($(`<tr>
			<td><a href="${data.url}">${data.capscode}</a></td>
			<td>${data.capsname}</td>
			<td>${data.cfor}</td>
			<td>${data.parent}</td>
			</tr>`)).draw();
			console.log("rowadded")
		}

		const updateRow = (data, rowid) => {
			table.row(rowid).data(
			`<tr>
			<td><a href="${data.url}">${data.capscode}</a></td>
			<td>${data.capsname}</td>
			<td>${data.cfor}</td>
			<td>${data.parent}</td>
			</tr>`
			)
		}
		
		//submit form
		$(modal_id).on('submit', formid, function(e) {
			var form = $(this);
			e.preventDefault()
			const params = { url:urlname, modal:true } //capability view
			const formtype = $(modalcontent_id).attr('data-form') //form-type (create/update)
			const id = $(modalcontent_id).attr('data-id') //form instance id
			var payLoad = {formData:form.serialize(), csrfmiddlewaretoken: '{{ csrf_token }}'}//payload for post request
			if(formtype === 'update'){
				var newPayLoad = {...payLoad, 'pk':id}
				payLoad = newPayLoad
			}
			fire_ajax_form_post(params, payLoad)
			.done((data, status, xhr) => { //function to submit post request
				console.log("data ", data)
				$(modal_id).modal("hide");
				Swal.fire(
				`${viewname} saved`,
				`${viewname} with this code <strong>${data.code}</strong> has been saved successfully`,
				'success'
				).then(() => {
					location.reload()
				})
			})
		})

		//update row (form-view)
		$(rowlink).click((e) => {
			e.preventDefault();
			var id = $(e.currentTarget).attr('data-id');
			var rowid = $(e.currentTarget).attr('data-rowid');
			$(modalcontent_id).attr('data-rowid', rowid)
			$(modalcontent_id).attr('data-id', id)
			console.log("id ", id)
			console.log("table ", table)
			const params = {
				'modal_id'    : modal_id,
				'url'         : `${urlname}?id=${id}`,
				'beforeSend'  : checkpointBeforeSend }
			fire_ajax_get(params)
			.done((data, status, xhr) => {
				$(modalcontent_id).attr('data-form', 'update')
				$(`${modal_id} .modal-content`).html(data.html_form)
			})
			.fail((xhr, status, error) => {
				show_error_alert('Something went wrong!') //defined in custom.js
			})
		})
	}); //END document.ready()

	//delete ajax request 
	function isCheckpointDeleted(id){ 
		console.log("id ", id)
		const params = {url:`${urlname}?action=formdelete&id=${id}`}
		fire_ajax_get(params)
		.done((data, status, xhr) => {
			if(!xhr.status === 200){
				return false
			}
			return true
		})
		.fail((xhr, status, error) => {
			show_error_alert('Something went wrong!') //defined in custom.js
			return false
		})
	}

	//delete capability 
	function deleteCheckpoint(elemt){
		var id = $(elemt).attr("data-id");
		show_alert_before_delete(viewname)
		.then((result) => {
			if(result.isConfirmed){ //delete requested by user
				status = isCheckpointDeleted(id) //fire's request
				console.log("status ", status)
				if(status){
					show_successful_delete_alert() //defined in customjs
					$(modal_id).modal("hide")
					//delete row from table
					row_index = parseInt($(modalcontent_id).attr('data-rowid'))
					console.log(row_index, "row index")
					table.row(row_index).remove().draw();
				}else{
					show_error_alert('Something went wrong!');
				}
			}
		})
	}
</script>
{% endblock extra_scripts %}
