{% extends "base_list.html" %}

<!---- BEGIN CARD TITLE ------>
{% block card_title %}
{{ label }} List
{% endblock card_title %}
<!----- END CARD TITLE -------->

<!------------------------------------ BEGIN PAGE BREADCUMBS ------------------------------------>
{% block pagebreadcumb %}
{{ super() }}
<li class="breadcrumb-item pe-3"><a href="javascript:void(0)" class="pe-3">{{ label }} List</a></li>
{% endblock pagebreadcumb %}
<!------------------------------------- END PAGE BREADCUMBS ------------------------------------->

<!-------------------------------------------- BEGIN BU TABLE ------------------------------------------->
{% block table %}
    <!------------------ BEGIN TABLE --------------------->
    <table id="checkpoint_table" class="display compact cell-border" style="width:100%">
    </table>
    <!------------------ END TABLE --------------------->


{% endblock table %}
<!------------------ --------------------------END BU TABLE ------------------------------------------------->


{% block popup_alerts %}
<!-- THE MODAL WE WILL BE USING -->
<div class="modal animate__animated animate__zoomIn" tabindex="-1" aria-hidden="true"  aria-labelledby="exampleModalLabel" data-bs-backdrop="static" id="modal-checkpoint">
	<div class="modal-dialog modal-dialog-centered modal-xl">
		<div class="modal-content" id="checkpoint_content">
		</div>
	</div>
</div>
{% endblock popup_alerts %}

<!--------- BEGIN EXTRA SCRIPTS ----------------------------->
{% block extra_scripts %}
<script>
	var table           = null;
	const modal_id        = "#modal-checkpoint"
	const modalcontent_id = "#checkpoint_content"
	const formFilter      = "#master_asset_filter"
	const table_id        = "#checkpoint_table"
	const formid          = "#id_checkpointform"
	const urlname         = "{{ label }}" == 'Smartplace' ? "{{ url('activity:smartplace') }}" : "{{ url('activity:checkpoint') }}"
	const viewname        = "{{ label }}"
	const rowlink         = "a.cp-link"
	
	$(document).ready(function () {
		new ClipboardJS('.btn-copy');
		$("input").keypress(function(event) {
			if (event.which == 13) {
				event.preventDefault();
				$(formFilter).submit();
			}
		});
        //beforeSend of capability ajax request 
        function checkpointBeforeSend(){
            $(modal_id).modal("show");
        }
		//datatable initialization
        table = $(table_id).DataTable({
			ajax:{
				url: `${urlname}?action=list`,
			},
			columns:[
				{data:'id', visible:false, searchable:false},
				{data:'assetcode', title:'Code'},
				{data:'assetname', title:'Name'},
				{data:'parent__assetcode', title:'Belongs to'},
				{data:'runningstatus', title:'Status'},
				{data:'enable', title:'Enable'},
				{data:'gps', title:'GPS'},
			],
			responsive: true,
			
            dom:`<'row' <'col-sm-6 d-flex justify-content-start'f> <'col-sm-6 d-flex justify-content-end'B> >rt<'row'
			 <'col-sm-6'l> <'col-sm-6'p><'col-sm-12 d-flex justify-content-center'i>>`,
            ordering:false,
			buttons:[
				{
					text:`Add New ${viewname} &nbsp;<i class='fas fa-plus ch4'></i></a>`,
					className: "btn btn-sm btn-light-primary btn-hover-rise",
					//action for add_new_button 
					action: function(e, dt, node, config){
                        const params = {
                            'modal_id'    : modal_id,
                            'url'         : `${urlname}?action=form`,
                            'beforeSend'  : checkpointBeforeSend }
						fire_ajax_get(params)
						.done((data, status, xhr) => {
							$(modalcontent_id).attr('data-form', 'create')
                            $(`${modal_id} .modal-content`).html(data.html_form)
                        })
						.fail((xhr, status, error) => {
							show_error_alert("Something went wrong!")
						})
					}
				}
			]
		})



		//submit form
		$(modal_id).on('submit', formid, function(e) {
			var form = $(this);
			e.preventDefault()
			const params = { url:urlname, modal:true } //capability view
			const id = $("#pk").val()
			var payLoad = {formData:form.serialize(), csrfmiddlewaretoken: '{{ csrf_token }}'}//payload for post request
			if(id != 'None'){
				var newPayLoad = {...payLoad, 'pk':id}
				payLoad = newPayLoad
			}
			fire_ajax_form_post(params, payLoad)
			.done((data, status, xhr) => { //function to submit post request
				console.log("data ", data)
				$(modal_id).modal("hide");
				if(id!=='None'){
					table.row('.selected').data(data.row).draw()
				}else{
					table.row.add(data.row).draw()
				}
				show_successful_save_alert(update= id != 'None' ? true : false)
			})
		})

		table.on('select', function(){
            var id = table.row({selected:true}).data().id
            if (!(id)){ return }
            const params = {
				modal_id    : modal_id,
				url         : `${urlname}?id=${id}`,
				beforeSend  : checkpointBeforeSend }
			fire_ajax_get(params)
			.done((data, status, xhr) => {
				$(modalcontent_id).attr('data-form', 'update')
				$(`${modal_id} .modal-content`).html(data.html_form)
			})
			.fail((xhr, status, error) => {
				show_error_alert('Something went wrong!') //defined in custom.js
			})
        })
	}); //END document.ready()

	//delete ajax request 
	function isCheckpointDeleted(id){ 
		console.log("id ", id)
		const params = {url:`${urlname}?action=delete&id=${id}`}
		fire_ajax_get(params)
		.done((data, status, xhr) => {
			if(!xhr.status === 200){
				return false
			}
			return true
		})
		.fail((xhr, status, error) => {
			show_error_alert('Something went wrong!') //defined in custom.js
			return false
		})
	}

	//delete capability 
	function deleteCheckpoint(elemt){
		var id = $(elemt).attr("data-id");
		show_alert_before_delete(viewname)
		.then((result) => {
			if(result.isConfirmed){ //delete requested by user
				status = isCheckpointDeleted(id) //fire's request
				console.log("status ", status)
				if(status){
					show_successful_delete_alert() //defined in customjs
					$(modal_id).modal("hide")
					//delete row from table
					table.row('.selected').remove().draw()
				}else{
					show_error_alert('Something went wrong!');
				}
			}
		})
	}
</script>
{% endblock extra_scripts %}
